In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\61470\\Downloads\\IE\\Final_Data'

In [3]:
falls_injury_by_age_sex = pd.ExcelFile("Falls.xlsx")

In [4]:
falls_injury_by_age_sex_df1 = pd.read_excel(falls_injury_by_age_sex, 'Table 7.1')

In [5]:
falls_injury_by_age_sex_df1

,"Table 7.1: Fall injury cases, by age and sex, Australia, 1999–00 to 2014–15",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,...,55–59,60–64,65–69,70–74,75–79,80–84,85–89,90–95,95+,Total
1,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999–00,3991,5560,5592,3583,2694,2499,2066,2096,2017,...,1812,1697,1864,2352,2974,2770,2656,912,215,51328
3,2000–01,3932,5557,5550,3483,2456,2377,2060,2109,2012,...,1802,1699,1768,2365,2950,3065,2684,1218,279,51435
4,2001–02,3874,5319,5367,3285,2549,2272,2089,2005,2101,...,1975,1779,1994,2415,3186,3249,2677,1322,322,51861
5,2002–03,3798,5375,5194,3326,2520,2184,2054,1876,2044,...,1983,1845,1875,2446,3162,3535,2893,1402,339,51954
6,2003–04,3879,5287,5565,3423,2721,2252,2154,1920,2111,...,2241,2002,1903,2537,3367,3909,3137,1572,359,54651
7,2004–05,4035,5182,5568,3427,2846,2397,2176,2008,2184,...,2374,2187,2129,2572,3614,4281,3327,1651,464,56864
8,2005–06,4230,5087,5301,3318,2857,2265,2164,2001,2158,...,2489,2376,2321,2747,3821,4626,3659,1867,459,58357
9,2006–07,4449,5304,5429,3674,2950,2337,2151,2148,2286,...,2564,2653,2563,2734,3911,5133,4255,2196,570,62103
10,2007–08,4186,5205,5691,3838,3098,2604,2121,2313,2320,...,2682,2794,2722,2979,4197,5195,4522,2270,596,64339
11,2008–09,4584,5404,5708,4053,3401,2649,2289,2395,2324,...,2633,2988,2797,3177,4162,5500,4900,2385,649,67333
12,2009–10,4856,5387,5930,4130,3423,2848,2379,2456,2473,...,2900,3209,3134,3367,4366,5826,5548,2633,723,70998
13,2010–11,4904,5416,6064,4287,3445,2761,2338,2514,2568,...,3009,3486,3480,3840,4622,6542,6330,3268,910,75797
14,2011–12,5180,5551,6216,4262,3475,2895,2382,2448,2705,...,3174,3670,3623,3995,4887,6706,6597,3668,946,78381
15,2012–13,5197,5522,5863,3858,3330,2858,2316,2105,2621,...,3154,3556,4030,4147,5170,6736,6921,3810,921,77857
16,2013–14,5681,5926,5885,3991,3408,2865,2430,2348,2629,...,3248,3691,4196,4537,5383,6872,7403,4257,1034,81594
17,2014–15,5953,5917,5604,4092,3456,2940,2532,2389,2880,...,3605,4006,4611,4914,6034,7511,8115,4637,1214,86500
18,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1999–00,3179,4248,2269,880,893,1117,1014,1187,1324,...,2114,2375,2994,4775,7294,8461,9161,3555,1025,61419
20,2000–01,2896,4146,2316,897,921,962,1008,1195,1338,...,2201,2430,2958,4746,7251,8794,8803,4686,1373,62562
21,2001–02,2916,3958,2105,886,911,946,1077,1096,1387,...,2308,2431,2967,4702,7453,9566,9212,5167,1529,64274
22,2002–03,2886,4023,2136,853,861,908,1032,1122,1283,...,2432,2510,3003,4675,7571,9835,9212,5343,1667,64886
23,2003–04,3042,4093,2340,889,943,884,1109,1157,1419,...,2711,2720,3188,4777,7820,10458,9914,5779,1790,68844
24,2004–05,3075,3897,2116,834,949,904,1092,1198,1419,...,2961,2904,3455,4600,7744,11022,9757,6113,1979,70000
25,2005–06,3165,3909,2260,960,1027,1015,1187,1282,1509,...,3093,3211,3596,4768,7827,11473,10618,6832,2208,74271
26,2006–07,3305,4067,2374,1040,1101,1112,1200,1375,1575,...,3233,3514,3882,4954,8211,12077,11585,7348,2369,78738
27,2007–08,3264,3926,2227,1117,1224,1209,1206,1476,1609,...,3571,3869,4054,5296,8309,11992,12207,7592,2540,81442
28,2008–09,3441,3976,2346,1153,1303,1283,1314,1557,1590,...,3643,4174,4292,5561,8440,12424,13522,7980,2821,85853
29,2009–10,3770,4027,2404,1163,1341,1356,1267,1555,1689,...,3753,4480,4649,5972,8689,13029,14583,8246,3003,90149
30,2010–11,3614,4025,2518,1157,1351,1408,1412,1750,1895,...,4020,4951,5103,6412,9005,13863,15894,9411,3472,96821
31,2011–12,3942,4277,2487,1259,1498,1415,1437,1636,2020,...,4167,5145,5477,6836,9209,14388,16315,10119,3625,100883
32,2012–13,3887,4145,2369,1136,1459,1381,1439,1567,1937,...,4180,4984,5897,6797,9353,13987,16702,10575,3658,100920
33,2013–14,4450,4312,2477,1223,1540,1510,1469,1604,2103,...,4413,5206,6353,7105,9752,14227,16770,11274,3862,105405
34,2014–15,4546,4553,2536,1206,1598,1614,1593,1672,2181,...,4746,5680,7244,7993,10397,14408,17639,12360,4145,112075
35,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1999–00,7170,9808,7861,4463,3587,3616,3080,3283,3341,...,3926,4072,4858,7127,10268,11231,11817,4467,1240,112747
37,2000–01,6828,9703,7866,4380,3377,3339,3068,3305,3350,...,4003,4129,4726,7111,10201,11859,11487,5904,1652,113998
38,2001–02,6790,9277,7473,4171,3460,3218,3166,3101,3488,...,4283,4210,4961,7117,10639,12815,11889,6489,1851,116136
39,2002–03,6686,9398,7330,4179,3381,3092,3086,2998,3327,...,4415,4355,4878,7121,10733,13370,12105,6745,2006,116844
40,2003–04,6921,9380,7905,4312,3664,3136,3263,3077,3530,...,4952,4722,5091,7314,11187,14367,13051,7351,2149,123495
41,2004–05,7110,9080,7684,4261,3795,3301,3268,3206,3603,...,5335,5091,5584,7172,11358,15303,13084,7765,2443,126866
42,2005–06,7396,8996,7561,4278,3884,3280,3351,3283,3667,...,5582,5587,5917,7515,11648,16099,14277,8699,2667,132629
43,2006–07,7754,9371,7803,4714,4051,3449,3351,3523,3861,...,5797,6167,6445,7688,12124,17210,15840,9544,2939,140843
44,2007–08,7450,9131,7918,4955,4322,3813,3327,3789,3929,...,6253,6663,6776,8275,12506,17187,16729,9862,3136,145781
45,2008–09,8025,9380,8054,5206,4704,3932,3603,3952,3914,...,6276,7162,7089,8738,12602,17924,18422,10365,3470,153186
46,2009–10,8626,9414,8334,5293,4764,4204,3646,4011,4162,...,6653,7689,7783,9339,13055,18855,20131,10879,3726,161147
47,2010–11,8518,9441,8582,5444,4796,4169,3750,4264,4463,...,7029,8437,8583,10252,13627,20405,22224,12679,4382,172620
48,2011–12,9122,9828,8703,5521,4973,4310,3819,4084,4725,...,7341,8815,9100,10831,14096,21094,22912,13787,4571,179264
49,2012–13,9084,9667,8232,4994,4789,4239,3755,3672,4558,...,7334,8540,9927,10944,14523,20723,23623,14385,4579,178780
50,2013–14,10131,10238,8362,5214,4948,4375,3899,3952,4732,...,7661,8897,10549,11642,15135,21099,24173,15531,4896,187002
51,2014–15,10499,10470,8140,5298,5054,4555,4125,4061,5061,...,8351,9686,11855,12907,16431,21919,25754,16997,5359,198576
52,Note: See 'Data issues' tab for notes on data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
falls_injury_by_age_sex_df1 = falls_injury_by_age_sex_df1.drop(falls_injury_by_age_sex_df1.columns[1:14], axis=1)

In [7]:
falls_injury_by_age_sex_df1.columns = falls_injury_by_age_sex_df1.iloc[0]

In [8]:
falls_injury_by_age_sex_df1.head()

0      NaN  65–69  70–74  75–79  80–84  85–89  90–95  95+  Total
0      NaN  65–69  70–74  75–79  80–84  85–89  90–95  95+  Total
1    Males    NaN    NaN    NaN    NaN    NaN    NaN  NaN    NaN
2  1999–00   1864   2352   2974   2770   2656    912  215  51328
3  2000–01   1768   2365   2950   3065   2684   1218  279  51435
4  2001–02   1994   2415   3186   3249   2677   1322  322  51861

In [9]:
falls_injury_by_age_sex_df1.drop(index = 0, inplace = True)

In [10]:
falls_injury_by_age_sex_df1

,NaN,65–69,70–74,75–79,80–84,85–89,90–95,95+,Total
1,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999–00,1864,2352,2974,2770,2656,912,215,51328
3,2000–01,1768,2365,2950,3065,2684,1218,279,51435
4,2001–02,1994,2415,3186,3249,2677,1322,322,51861
5,2002–03,1875,2446,3162,3535,2893,1402,339,51954
6,2003–04,1903,2537,3367,3909,3137,1572,359,54651
7,2004–05,2129,2572,3614,4281,3327,1651,464,56864
8,2005–06,2321,2747,3821,4626,3659,1867,459,58357
9,2006–07,2563,2734,3911,5133,4255,2196,570,62103
10,2007–08,2722,2979,4197,5195,4522,2270,596,64339
11,2008–09,2797,3177,4162,5500,4900,2385,649,67333
12,2009–10,3134,3367,4366,5826,5548,2633,723,70998
13,2010–11,3480,3840,4622,6542,6330,3268,910,75797
14,2011–12,3623,3995,4887,6706,6597,3668,946,78381
15,2012–13,4030,4147,5170,6736,6921,3810,921,77857
16,2013–14,4196,4537,5383,6872,7403,4257,1034,81594
17,2014–15,4611,4914,6034,7511,8115,4637,1214,86500
18,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1999–00,2994,4775,7294,8461,9161,3555,1025,61419
20,2000–01,2958,4746,7251,8794,8803,4686,1373,62562
21,2001–02,2967,4702,7453,9566,9212,5167,1529,64274
22,2002–03,3003,4675,7571,9835,9212,5343,1667,64886
23,2003–04,3188,4777,7820,10458,9914,5779,1790,68844
24,2004–05,3455,4600,7744,11022,9757,6113,1979,70000
25,2005–06,3596,4768,7827,11473,10618,6832,2208,74271
26,2006–07,3882,4954,8211,12077,11585,7348,2369,78738
27,2007–08,4054,5296,8309,11992,12207,7592,2540,81442
28,2008–09,4292,5561,8440,12424,13522,7980,2821,85853
29,2009–10,4649,5972,8689,13029,14583,8246,3003,90149
30,2010–11,5103,6412,9005,13863,15894,9411,3472,96821
31,2011–12,5477,6836,9209,14388,16315,10119,3625,100883
32,2012–13,5897,6797,9353,13987,16702,10575,3658,100920
33,2013–14,6353,7105,9752,14227,16770,11274,3862,105405
34,2014–15,7244,7993,10397,14408,17639,12360,4145,112075
35,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1999–00,4858,7127,10268,11231,11817,4467,1240,112747
37,2000–01,4726,7111,10201,11859,11487,5904,1652,113998
38,2001–02,4961,7117,10639,12815,11889,6489,1851,116136
39,2002–03,4878,7121,10733,13370,12105,6745,2006,116844
40,2003–04,5091,7314,11187,14367,13051,7351,2149,123495
41,2004–05,5584,7172,11358,15303,13084,7765,2443,126866
42,2005–06,5917,7515,11648,16099,14277,8699,2667,132629
43,2006–07,6445,7688,12124,17210,15840,9544,2939,140843
44,2007–08,6776,8275,12506,17187,16729,9862,3136,145781
45,2008–09,7089,8738,12602,17924,18422,10365,3470,153186
46,2009–10,7783,9339,13055,18855,20131,10879,3726,161147
47,2010–11,8583,10252,13627,20405,22224,12679,4382,172620
48,2011–12,9100,10831,14096,21094,22912,13787,4571,179264
49,2012–13,9927,10944,14523,20723,23623,14385,4579,178780
50,2013–14,10549,11642,15135,21099,24173,15531,4896,187002
51,2014–15,11855,12907,16431,21919,25754,16997,5359,198576
52,Note: See 'Data issues' tab for notes on data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
falls_injury_by_age_sex_df1.columns.values[0] = 'Year'

In [12]:
falls_injury_by_age_sex_df1_males = falls_injury_by_age_sex_df1.iloc[1:17]

In [13]:
falls_injury_by_age_sex_df1_males

0      Year 65–69 70–74 75–79 80–84 85–89 90–95   95+  Total
2   1999–00  1864  2352  2974  2770  2656   912   215  51328
3   2000–01  1768  2365  2950  3065  2684  1218   279  51435
4   2001–02  1994  2415  3186  3249  2677  1322   322  51861
5   2002–03  1875  2446  3162  3535  2893  1402   339  51954
6   2003–04  1903  2537  3367  3909  3137  1572   359  54651
7   2004–05  2129  2572  3614  4281  3327  1651   464  56864
8   2005–06  2321  2747  3821  4626  3659  1867   459  58357
9   2006–07  2563  2734  3911  5133  4255  2196   570  62103
10  2007–08  2722  2979  4197  5195  4522  2270   596  64339
11  2008–09  2797  3177  4162  5500  4900  2385   649  67333
12  2009–10  3134  3367  4366  5826  5548  2633   723  70998
13  2010–11  3480  3840  4622  6542  6330  3268   910  75797
14  2011–12  3623  3995  4887  6706  6597  3668   946  78381
15  2012–13  4030  4147  5170  6736  6921  3810   921  77857
16  2013–14  4196  4537  5383  6872  7403  4257  1034  81594
17  2014–15  4611  4914  6034  7511  8115  4637  1214  86500

In [14]:
falls_injury_by_age_sex_df1_males['Gender'] = 'Male'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
falls_injury_by_age_sex_df1_females = falls_injury_by_age_sex_df1.iloc[18:34]

In [16]:
falls_injury_by_age_sex_df1_females

0      Year 65–69 70–74  75–79  80–84  85–89  90–95   95+   Total
19  1999–00  2994  4775   7294   8461   9161   3555  1025   61419
20  2000–01  2958  4746   7251   8794   8803   4686  1373   62562
21  2001–02  2967  4702   7453   9566   9212   5167  1529   64274
22  2002–03  3003  4675   7571   9835   9212   5343  1667   64886
23  2003–04  3188  4777   7820  10458   9914   5779  1790   68844
24  2004–05  3455  4600   7744  11022   9757   6113  1979   70000
25  2005–06  3596  4768   7827  11473  10618   6832  2208   74271
26  2006–07  3882  4954   8211  12077  11585   7348  2369   78738
27  2007–08  4054  5296   8309  11992  12207   7592  2540   81442
28  2008–09  4292  5561   8440  12424  13522   7980  2821   85853
29  2009–10  4649  5972   8689  13029  14583   8246  3003   90149
30  2010–11  5103  6412   9005  13863  15894   9411  3472   96821
31  2011–12  5477  6836   9209  14388  16315  10119  3625  100883
32  2012–13  5897  6797   9353  13987  16702  10575  3658  100920
33  2013–14  6353  7105   9752  14227  16770  11274  3862  105405
34  2014–15  7244  7993  10397  14408  17639  12360  4145  112075

In [17]:
falls_injury_by_age_sex_df1_females['Gender'] = 'Female'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
falls_injury_by_age_sex_df1_persons = falls_injury_by_age_sex_df1.iloc[35:51]

In [19]:
falls_injury_by_age_sex_df1_persons

0      Year  65–69  70–74  75–79  80–84  85–89  90–95   95+   Total
36  1999–00   4858   7127  10268  11231  11817   4467  1240  112747
37  2000–01   4726   7111  10201  11859  11487   5904  1652  113998
38  2001–02   4961   7117  10639  12815  11889   6489  1851  116136
39  2002–03   4878   7121  10733  13370  12105   6745  2006  116844
40  2003–04   5091   7314  11187  14367  13051   7351  2149  123495
41  2004–05   5584   7172  11358  15303  13084   7765  2443  126866
42  2005–06   5917   7515  11648  16099  14277   8699  2667  132629
43  2006–07   6445   7688  12124  17210  15840   9544  2939  140843
44  2007–08   6776   8275  12506  17187  16729   9862  3136  145781
45  2008–09   7089   8738  12602  17924  18422  10365  3470  153186
46  2009–10   7783   9339  13055  18855  20131  10879  3726  161147
47  2010–11   8583  10252  13627  20405  22224  12679  4382  172620
48  2011–12   9100  10831  14096  21094  22912  13787  4571  179264
49  2012–13   9927  10944  14523  20723  23623  14385  4579  178780
50  2013–14  10549  11642  15135  21099  24173  15531  4896  187002
51  2014–15  11855  12907  16431  21919  25754  16997  5359  198576

In [20]:
falls_injury_by_age_sex_df1_persons['Gender'] = 'Persons'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
falls_injury_by_age_sex_rates = pd.read_excel(falls_injury_by_age_sex, 'Table 7.2')

In [22]:
falls_injury_by_age_sex_rates

,"Table 7.2: Age-specific rates of fall injury by age, and sex, Australia, 1999–00 to 2014–15",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,...,50–54,55–59,60–64,65–69,70–74,75–79,80–84,85–89,90–95,95+
1,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999–00,609.409,810.035,826.404,537.417,413.136,346.802,294.759,281.153,284.504,...,324.041,380.126,434.646,563.384,796.613,1386.09,2407.04,4836.13,5697.51,5689.34
3,2000–01,602.018,806.945,811.09,513.676,376.664,337.011,288.786,284.82,278.35,...,331.449,361.667,419.808,533.15,789.404,1328.79,2495.99,4648.26,7073.58,6577.09
4,2001–02,594.347,773.175,775.461,478.117,385.239,330.139,285.897,273.678,284.876,...,317.317,374.3,426.495,591.056,801.096,1393.93,2469.63,4445.81,7207.11,7253.89
5,2002–03,583.778,785.021,742.491,480.763,371.807,321.56,276.328,258.897,272.468,...,317.533,352.851,430.61,541.831,814.484,1348.69,2527.8,4658.24,7213.05,7803.87
6,2003–04,595.799,776.31,788.439,491.984,391.443,333.289,287.871,266.406,278.73,...,333.055,381.152,452.759,534.686,849.996,1401.12,2640.11,4942.03,7618.49,8232.06
7,2004–05,617.187,763.786,784.576,488.249,399.903,353.598,291.334,276.885,287.8,...,329.479,391.295,475.436,580.057,864.858,1474.41,2757.77,4989.73,7503.52,10375.7
8,2005–06,640.666,750.106,745.903,467.144,392.372,329,292.64,270.434,285.598,...,356.033,400.002,494.786,614.854,919.68,1536.98,2866.97,5086.61,8003.94,9915.75
9,2006–07,658.766,780.474,764.487,508.791,394.901,329.448,294.621,282.183,304.841,...,357.529,408.748,520.38,657.893,898.376,1560.24,3067.94,5479.08,8951.21,11625.5
10,2007–08,599.497,763.228,801.426,520.99,402.19,351.376,291.693,296.309,311.102,...,370.986,426.743,513.292,673.741,951.797,1669.19,3000.57,5425.05,8896.38,11322.2
11,2008–09,635.686,786.804,802.863,542.135,426.041,339.406,312.211,302.205,310.885,...,393.733,414.469,524.475,664.934,981.607,1651.33,3081.04,5520.82,9061.89,11585.1
12,2009–10,656.974,776.283,834.257,550.386,418.028,349.945,319.783,308.819,326.835,...,385.38,450.302,545.5,710.964,999.596,1724.66,3172.36,5912.13,9399.21,12167.6
13,2010–11,656.119,768.164,853.146,573.159,418.2,331.164,307.877,318.932,331.44,...,428.733,459.093,577.04,752.031,1095.07,1804.86,3471.44,6421.96,10716.5,14527.5
14,2011–12,684.695,770.188,872.491,569.316,420.573,340.543,303.883,314.439,338.755,...,420.851,474.518,601.945,737.667,1096.99,1859.42,3499.2,6399.32,11022,14305.2
15,2012–13,673.217,747.759,820.024,512.53,399.823,330.357,284.208,271.924,321.031,...,388.503,462.597,581.799,771.745,1099.36,1898.01,3479.23,6422.61,10496.4,13147.8
16,2013–14,725.156,783.905,818.291,527.377,405.211,327.817,288.139,303.088,319.364,...,412.736,467.293,596.797,769.694,1156.84,1898.34,3511.69,6576.06,10812.3,13843.9
17,2014–15,754.249,767.169,772.47,539.891,407.259,333.673,292.334,305.951,350.417,...,425,508.886,638.119,820.074,1197.95,2038.46,3800.67,6921.23,10890.6,14338
18,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1999–00,511.25,652.037,351.544,138.008,141.037,154.217,142.711,157.628,184.483,...,333.527,459.349,611.919,871.702,1440.69,2581.37,4563.62,8065.25,8157.97,8225
20,2000–01,466.668,634.617,355.289,138.035,145.509,135.437,139.116,159.519,182.664,...,329.031,457.1,607.801,860.554,1429.32,2517.91,4518.55,7457.45,10034.9,10292.4
21,2001–02,470.66,607.024,319.435,134.471,142.069,136.98,144.863,147.718,185.465,...,318.896,450.526,591.836,851.81,1419.93,2560.83,4667.91,7579.96,10446,10915.2
22,2002–03,466.613,620.009,321.224,128.401,131.435,134.048,136.418,152.79,168.685,...,309.003,442.947,595.183,842.347,1425.96,2580.33,4594.31,7439.05,10310.7,11520.4
23,2003–04,491.758,633.536,349.583,133.009,140.694,131.778,145.773,158.299,184.708,...,325.557,469.353,623.823,870.441,1472.19,2645.14,4687.54,7922.26,10641.9,11967.6
24,2004–05,495.9,604.828,314.651,124.141,138.335,134.875,144.082,163.064,184.267,...,334.966,493.512,637.816,917.085,1426.23,2611.28,4780.97,7620.99,10655,12618.8
25,2005–06,505.762,606.513,335.563,142.047,146.004,149.568,158.72,171.232,196.885,...,368.695,498.893,673.373,930.389,1476.49,2638.45,4875.74,7922.93,11382.5,13368.9
26,2006–07,516.281,629.226,352.733,151.914,153.179,159.556,163.149,178.328,207.117,...,366.005,514.144,692.847,977.088,1511,2769.04,5056.35,8186.87,11880.7,13564.3
27,2007–08,493.398,604.789,330.975,160.145,166.651,166.891,165.074,186.36,212.807,...,388.644,564.217,713.755,989.053,1575.84,2808.21,4942.57,8177.96,12049.1,13775.9
28,2008–09,503.602,608.358,348.209,162.985,172.448,169.221,178.97,193.558,209.709,...,408.159,566.903,735.047,1007.82,1609.85,2858.98,5048.03,8618.83,12557.2,14631
29,2009–10,538.031,610.898,356.376,163.604,173.173,171.985,170.446,192.659,219.942,...,405.956,574.05,762.314,1041.63,1678.66,2940.08,5229.4,8900.87,12600.7,14765.5
30,2010–11,509.992,601.778,372.814,163.235,172.192,174.045,186.332,219.031,240.674,...,436.676,602.902,816.897,1089.03,1753.73,3021.93,5499.95,9396.95,13551.7,16385.9
31,2011–12,549.646,626.323,367.198,177.837,189.25,171.048,184.277,207.984,248.501,...,430.54,610.855,836.157,1100.24,1811.48,3041.28,5680.94,9437.18,13629,16604.1
32,2012–13,531.524,593.142,348.3,159.902,182.849,163.341,178.117,200.865,232.784,...,408.847,598.738,802.18,1112.2,1736.18,3025.29,5529.68,9483.58,13378.3,16196.6
33,2013–14,599.906,602.82,362.184,171.303,191.772,175.576,175.604,205.552,250.429,...,444.33,618.044,821.808,1145.59,1740.56,3071.38,5625.17,9360.45,13429.3,16605.8
34,2014–15,608.125,623.422,368.457,168.116,198.171,185.491,184.809,212.699,260.265,...,448.411,650.789,878.087,1262.82,1866.97,3178.42,5690.57,9712.46,13946.9,16819.5
35,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1999–00,561.601,733.096,594.582,342.162,279.089,250.262,218.217,219.08,234.188,...,328.731,419.041,523.02,720.425,1137.25,2065.48,3737.69,7012.81,7496.98,7635
37,2000–01,536.073,723.05,588.716,329.847,262.803,235.869,213.366,221.872,230.189,...,330.248,408.569,513.231,699.789,1125.8,2000.26,3736.09,6534.69,9237.12,9395.97
38,2001–02,534.072,692.325,553.113,309.893,265.56,233.39,214.768,210.299,234.824,...,318.105,411.85,508.53,723.516,1125.03,2047.53,3808.45,6541.58,9569.81,10034.2
39,2002–03,526.834,704.732,537.196,308.154,253.667,227.93,205.758,205.49,220.219,...,313.264,397.374,512.244,694.325,1133.62,2033.3,3777.75,6510.23,9465.74,10662.3
40,2003–04,545.108,706.805,574.828,316.099,268.352,232.898,216.232,211.973,231.384,...,329.294,424.861,537.691,704.967,1174.08,2087.34,3870.8,6919.31,9809.44,11124.3
41,2004–05,558.147,686.435,555.936,310.182,271.52,244.857,217.17,219.605,235.653,...,332.237,442.119,556.209,750.77,1156.93,2096.83,3966.84,6719.91,9782.68,12121.1
42,2005–06,575.099,680.137,546.245,308.634,271.316,239.929,225.303,220.541,240.926,...,362.4,449.357,583.766,774.484,1208.94,2136.24,4058.61,6932.27,10437,12612.9
43,2006–07,589.43,706.745,564.135,335.11,276.37,245.253,228.641,229.922,255.638,...,361.793,461.51,606.39,819.058,1216.09,2215.66,4237.26,7227.4,11048.7,13139.3
44,2007–08,547.88,685.962,572.536,345.497,287.223,260.182,228.234,240.936,261.616,...,379.88,495.721,613.314,832.535,1274.92,2284.95,4133.87,7191.53,11140.4,13231
45,2008–09,571.423,699.795,581.647,357.794,302.728,255.547,245.543,247.477,259.939,...,401.005,491.124,629.589,837.436,1305.96,2302.79,4221.12,7499.47,11533.6,13945.3
46,2009–10,599.091,695.715,601.568,362.226,299.018,262.376,245.144,250.31,272.993,...,395.757,512.642,653.853,877.324,1348.41,2379.32,4356.54,7812.43,11641,14178.1
47,2010–11,585.002,687.163,619.109,373.708,298.192,253.787,247.169,268.644,285.692,...,432.742,531.615,697.162,921.587,1431.28,2459.41,4632.14,8301.58,12686.6,15961.8
48,2011–12,618.974,700.195,626.235,379.042,307.393,256.95,244.235,260.937,293.226,...,425.744,543.356,719.589,920.175,1460.59,2492.11,4741.16,8302.38,12822.1,16069.6
49,2012–13,604.287,672.583,590.048,341.314,293.661,247.809,231.392,236.257,276.488,...,398.784,531.473,692.892,943.27,1423.68,2497.29,4640.69,8321.62,12471.4,15474.8
50,2013–14,664.24,695.864,595.971,354.524,300.959,252.309,232.1,254.143,284.553,...,428.718,543.683,710.652,959.249,1454.54,2517.98,4703.24,8286,12593.8,15934.4
51,2014–15,683.17,697.256,575.778,359.115,305.382,260.103,238.701,259.169,304.904,...,436.849,580.867,759.898,1043.66,1539.61,2636.89,4862.09,8617.41,12955,16185
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
falls_injury_by_age_sex_rates.columns = falls_injury_by_age_sex_rates.iloc[0]

In [24]:
falls_injury_by_age_sex_rates.drop(index = 0, inplace = True)

In [25]:
falls_injury_by_age_sex_rates = falls_injury_by_age_sex_rates.drop(falls_injury_by_age_sex_rates.columns[1:14], axis=1)

In [26]:
falls_injury_by_age_sex_rates.columns.values[0] = 'Year'

In [27]:
falls_injury_by_age_sex_rates_males = falls_injury_by_age_sex_rates.iloc[1:17]

In [28]:
falls_injury_by_age_sex_rates_males

0      Year    65–69    70–74    75–79    80–84    85–89    90–95      95+
2   1999–00  563.384  796.613  1386.09  2407.04  4836.13  5697.51  5689.34
3   2000–01   533.15  789.404  1328.79  2495.99  4648.26  7073.58  6577.09
4   2001–02  591.056  801.096  1393.93  2469.63  4445.81  7207.11  7253.89
5   2002–03  541.831  814.484  1348.69   2527.8  4658.24  7213.05  7803.87
6   2003–04  534.686  849.996  1401.12  2640.11  4942.03  7618.49  8232.06
7   2004–05  580.057  864.858  1474.41  2757.77  4989.73  7503.52  10375.7
8   2005–06  614.854   919.68  1536.98  2866.97  5086.61  8003.94  9915.75
9   2006–07  657.893  898.376  1560.24  3067.94  5479.08  8951.21  11625.5
10  2007–08  673.741  951.797  1669.19  3000.57  5425.05  8896.38  11322.2
11  2008–09  664.934  981.607  1651.33  3081.04  5520.82  9061.89  11585.1
12  2009–10  710.964  999.596  1724.66  3172.36  5912.13  9399.21  12167.6
13  2010–11  752.031  1095.07  1804.86  3471.44  6421.96  10716.5  14527.5
14  2011–12  737.667  1096.99  1859.42   3499.2  6399.32    11022  14305.2
15  2012–13  771.745  1099.36  1898.01  3479.23  6422.61  10496.4  13147.8
16  2013–14  769.694  1156.84  1898.34  3511.69  6576.06  10812.3  13843.9
17  2014–15  820.074  1197.95  2038.46  3800.67  6921.23  10890.6    14338

In [29]:
# falls_injury_by_age_sex_rates_males.columns.values[1] = '65-69_rates'
# falls_injury_by_age_sex_rates_males.columns.values[1] = 'abc'
# falls_injury_by_age_sex_rates_males.columns.values[2] = '70-74_rates'
# falls_injury_by_age_sex_rates_males.columns.values[3] = '75-79_rates'
# falls_injury_by_age_sex_rates_males.columns.values[4] = '80-84_rates'
# falls_injury_by_age_sex_rates_males.columns.values[5] = '85-89_rates'
# falls_injury_by_age_sex_rates_males.columns.values[6] = '90-94_rates'
# falls_injury_by_age_sex_rates_males.columns.values[7] = '95+_rates'

In [30]:
falls_injury_by_age_sex_rates_males

0      Year    65–69    70–74    75–79    80–84    85–89    90–95      95+
2   1999–00  563.384  796.613  1386.09  2407.04  4836.13  5697.51  5689.34
3   2000–01   533.15  789.404  1328.79  2495.99  4648.26  7073.58  6577.09
4   2001–02  591.056  801.096  1393.93  2469.63  4445.81  7207.11  7253.89
5   2002–03  541.831  814.484  1348.69   2527.8  4658.24  7213.05  7803.87
6   2003–04  534.686  849.996  1401.12  2640.11  4942.03  7618.49  8232.06
7   2004–05  580.057  864.858  1474.41  2757.77  4989.73  7503.52  10375.7
8   2005–06  614.854   919.68  1536.98  2866.97  5086.61  8003.94  9915.75
9   2006–07  657.893  898.376  1560.24  3067.94  5479.08  8951.21  11625.5
10  2007–08  673.741  951.797  1669.19  3000.57  5425.05  8896.38  11322.2
11  2008–09  664.934  981.607  1651.33  3081.04  5520.82  9061.89  11585.1
12  2009–10  710.964  999.596  1724.66  3172.36  5912.13  9399.21  12167.6
13  2010–11  752.031  1095.07  1804.86  3471.44  6421.96  10716.5  14527.5
14  2011–12  737.667  1096.99  1859.42   3499.2  6399.32    11022  14305.2
15  2012–13  771.745  1099.36  1898.01  3479.23  6422.61  10496.4  13147.8
16  2013–14  769.694  1156.84  1898.34  3511.69  6576.06  10812.3  13843.9
17  2014–15  820.074  1197.95  2038.46  3800.67  6921.23  10890.6    14338

In [31]:
column65 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[1]].to_list()
column70 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[2]].to_list()
column75 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[3]].to_list()
column80 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[4]].to_list()
column85 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[5]].to_list()
column90 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[6]].to_list()
column95 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[7]].to_list()

In [32]:
column65

[563.3836872616047,
 533.1499876362277,
 591.0564912467913,
 541.8307811899471,
 534.6857351577646,
 580.0568341266317,
 614.8539821133387,
 657.8930481008889,
 673.7406964627376,
 664.9343980525053,
 710.963907352374,
 752.0308073310038,
 737.6670338373957,
 771.7453125568516,
 769.6935900446114,
 820.07448431881]

In [33]:
falls_injury_by_age_sex_df1_males.head()

0     Year 65–69 70–74 75–79 80–84 85–89 90–95  95+  Total Gender
2  1999–00  1864  2352  2974  2770  2656   912  215  51328   Male
3  2000–01  1768  2365  2950  3065  2684  1218  279  51435   Male
4  2001–02  1994  2415  3186  3249  2677  1322  322  51861   Male
5  2002–03  1875  2446  3162  3535  2893  1402  339  51954   Male
6  2003–04  1903  2537  3367  3909  3137  1572  359  54651   Male

In [34]:
falls_injury_by_age_sex_df1_males.insert(2, "65–69_rate", column65, True)
falls_injury_by_age_sex_df1_males.insert(4, "70–74_rate", column70, True)
falls_injury_by_age_sex_df1_males.insert(6, "75–79_rate", column75, True)
falls_injury_by_age_sex_df1_males.insert(8, "80–84_rate", column80, True)
falls_injury_by_age_sex_df1_males.insert(10, "85–89_rate", column85, True)
falls_injury_by_age_sex_df1_males.insert(12, "90–95_rate", column90, True)
falls_injury_by_age_sex_df1_males.insert(14, "95+_rate", column95, True)

In [35]:
falls_injury_by_age_sex_rates_females = falls_injury_by_age_sex_rates.iloc[18:34]

In [36]:
falls_injury_by_age_sex_rates_females

0      Year    65–69    70–74    75–79    80–84    85–89    90–95      95+
19  1999–00  871.702  1440.69  2581.37  4563.62  8065.25  8157.97     8225
20  2000–01  860.554  1429.32  2517.91  4518.55  7457.45  10034.9  10292.4
21  2001–02   851.81  1419.93  2560.83  4667.91  7579.96    10446  10915.2
22  2002–03  842.347  1425.96  2580.33  4594.31  7439.05  10310.7  11520.4
23  2003–04  870.441  1472.19  2645.14  4687.54  7922.26  10641.9  11967.6
24  2004–05  917.085  1426.23  2611.28  4780.97  7620.99    10655  12618.8
25  2005–06  930.389  1476.49  2638.45  4875.74  7922.93  11382.5  13368.9
26  2006–07  977.088     1511  2769.04  5056.35  8186.87  11880.7  13564.3
27  2007–08  989.053  1575.84  2808.21  4942.57  8177.96  12049.1  13775.9
28  2008–09  1007.82  1609.85  2858.98  5048.03  8618.83  12557.2    14631
29  2009–10  1041.63  1678.66  2940.08   5229.4  8900.87  12600.7  14765.5
30  2010–11  1089.03  1753.73  3021.93  5499.95  9396.95  13551.7  16385.9
31  2011–12  1100.24  1811.48  3041.28  5680.94  9437.18    13629  16604.1
32  2012–13   1112.2  1736.18  3025.29  5529.68  9483.58  13378.3  16196.6
33  2013–14  1145.59  1740.56  3071.38  5625.17  9360.45  13429.3  16605.8
34  2014–15  1262.82  1866.97  3178.42  5690.57  9712.46  13946.9  16819.5

In [37]:
column65f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[1]].to_list()
column70f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[2]].to_list()
column75f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[3]].to_list()
column80f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[4]].to_list()
column85f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[5]].to_list()
column90f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[6]].to_list()
column95f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[7]].to_list()

In [38]:
column65f

[871.7020025271789,
 860.5541526538117,
 851.8102762713276,
 842.3467899378408,
 870.4413093752646,
 917.0853937893013,
 930.3889988486566,
 977.0880159475262,
 989.0530804831576,
 1007.821654076723,
 1041.6316580741577,
 1089.0326325651276,
 1100.2432708784067,
 1112.2008260877765,
 1145.5887709579813,
 1262.8217196968112]

In [39]:
falls_injury_by_age_sex_df1_males.columns

Index(['Year', '65–69', '65–69_rate', '70–74', '70–74_rate', '75–79',
       '75–79_rate', '80–84', '80–84_rate', '85–89', '85–89_rate', '90–95',
       '90–95_rate', '95+', '95+_rate', 'Total', 'Gender'],
      dtype='object', name=0)

In [40]:
falls_injury_by_age_sex_df1_females.insert(2, "65–69_rate", column65f, True)
falls_injury_by_age_sex_df1_females.insert(4, "70–74_rate", column70f, True)
falls_injury_by_age_sex_df1_females.insert(6, "75–79_rate", column75f, True)
falls_injury_by_age_sex_df1_females.insert(8, "80–84_rate", column80f, True)
falls_injury_by_age_sex_df1_females.insert(10, "85–89_rate", column85f, True)
falls_injury_by_age_sex_df1_females.insert(12, "90–95_rate", column90f, True)
falls_injury_by_age_sex_df1_females.insert(14, "95+_rate", column95f, True)

In [41]:
falls_injury_by_age_sex_df1_females

,Year,65–69,65–69_rate,70–74,70–74_rate,75–79,75–79_rate,80–84,80–84_rate,85–89,85–89_rate,90–95,90–95_rate,95+,95+_rate,Total,Gender
19,1999–00,2994,871.702003,4775,1440.691773,7294,2581.371234,8461,4563.621555,9161,8065.254521,3555,8157.973243,1025,8225.004012,61419,Female
20,2000–01,2958,860.554153,4746,1429.324339,7251,2517.909416,8794,4518.548967,8803,7457.451945,4686,10034.905883,1373,10292.353823,62562,Female
21,2001–02,2967,851.810276,4702,1419.926074,7453,2560.825182,9566,4667.912614,9212,7579.959023,5167,10445.980915,1529,10915.191319,64274,Female
22,2002–03,3003,842.346790,4675,1425.956993,7571,2580.330729,9835,4594.313049,9212,7439.050980,5343,10310.690853,1667,11520.387008,64886,Female
23,2003–04,3188,870.441309,4777,1472.188065,7820,2645.135758,10458,4687.542021,9914,7922.263687,5779,10641.941662,1790,11967.640570,68844,Female
24,2004–05,3455,917.085394,4600,1426.228339,7744,2611.284770,11022,4780.969814,9757,7620.989159,6113,10655.023356,1979,12618.759166,70000,Female
25,2005–06,3596,930.388999,4768,1476.490115,7827,2638.445047,11473,4875.737331,10618,7922.934575,6832,11382.493086,2208,13368.854444,74271,Female
26,2006–07,3882,977.088016,4954,1510.996971,8211,2769.037767,12077,5056.353832,11585,8186.874148,7348,11880.739878,2369,13564.271400,78738,Female
27,2007–08,4054,989.053080,5296,1575.838726,8309,2808.214085,11992,4942.566161,12207,8177.962979,7592,12049.072355,2540,13775.897603,81442,Female
28,2008–09,4292,1007.821654,5561,1609.854242,8440,2858.981742,12424,5048.026134,13522,8618.832423,7980,12557.239296,2821,14630.983870,85853,Female
29,2009–10,4649,1041.631658,5972,1678.659771,8689,2940.081750,13029,5229.400881,14583,8900.865489,8246,12600.663193,3003,14765.463664,90149,Female
30,2010–11,5103,1089.032633,6412,1753.733384,9005,3021.933769,13863,5499.946441,15894,9396.949273,9411,13551.731586,3472,16385.860588,96821,Female
31,2011–12,5477,1100.243271,6836,1811.479949,9209,3041.281374,14388,5680.938768,16315,9437.181860,10119,13629.017051,3625,16604.067424,100883,Female
32,2012–13,5897,1112.200826,6797,1736.182952,9353,3025.294346,13987,5529.682459,16702,9483.576072,10575,13378.286061,3658,16196.590658,100920,Female
33,2013–14,6353,1145.588771,7105,1740.555557,9752,3071.379979,14227,5625.165568,16770,9360.452785,11274,13429.262308,3862,16605.753107,105405,Female
34,2014–15,7244,1262.821720,7993,1866.969381,10397,3178.422070,14408,5690.565620,17639,9712.463934,12360,13946.875494,4145,16819.509820,112075,Female

In [42]:
falls_injury_by_age_sex_rates_persons = falls_injury_by_age_sex_rates.iloc[35:51]

In [43]:
falls_injury_by_age_sex_rates_persons

0      Year    65–69    70–74    75–79    80–84    85–89    90–95      95+
36  1999–00  720.425  1137.25  2065.48  3737.69  7012.81  7496.98     7635
37  2000–01  699.789   1125.8  2000.26  3736.09  6534.69  9237.12  9395.97
38  2001–02  723.516  1125.03  2047.53  3808.45  6541.58  9569.81  10034.2
39  2002–03  694.325  1133.62   2033.3  3777.75  6510.23  9465.74  10662.3
40  2003–04  704.967  1174.08  2087.34   3870.8  6919.31  9809.44  11124.3
41  2004–05   750.77  1156.93  2096.83  3966.84  6719.91  9782.68  12121.1
42  2005–06  774.484  1208.94  2136.24  4058.61  6932.27    10437  12612.9
43  2006–07  819.058  1216.09  2215.66  4237.26   7227.4  11048.7  13139.3
44  2007–08  832.535  1274.92  2284.95  4133.87  7191.53  11140.4    13231
45  2008–09  837.436  1305.96  2302.79  4221.12  7499.47  11533.6  13945.3
46  2009–10  877.324  1348.41  2379.32  4356.54  7812.43    11641  14178.1
47  2010–11  921.587  1431.28  2459.41  4632.14  8301.58  12686.6  15961.8
48  2011–12  920.175  1460.59  2492.11  4741.16  8302.38  12822.1  16069.6
49  2012–13   943.27  1423.68  2497.29  4640.69  8321.62  12471.4  15474.8
50  2013–14  959.249  1454.54  2517.98  4703.24     8286  12593.8  15934.4
51  2014–15  1043.66  1539.61  2636.89  4862.09  8617.41    12955    16185

In [44]:
column65p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[1]].to_list()
column70p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[2]].to_list()
column75p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[3]].to_list()
column80p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[4]].to_list()
column85p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[5]].to_list()
column90p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[6]].to_list()
column95p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[7]].to_list()

In [45]:
falls_injury_by_age_sex_df1_males.columns

Index(['Year', '65–69', '65–69_rate', '70–74', '70–74_rate', '75–79',
       '75–79_rate', '80–84', '80–84_rate', '85–89', '85–89_rate', '90–95',
       '90–95_rate', '95+', '95+_rate', 'Total', 'Gender'],
      dtype='object', name=0)

In [46]:
falls_injury_by_age_sex_df1_persons.insert(2, "65–69_rate", column65p, True)
falls_injury_by_age_sex_df1_persons.insert(4, "70–74_rate", column70p, True)
falls_injury_by_age_sex_df1_persons.insert(6, "75–79_rate", column75p, True)
falls_injury_by_age_sex_df1_persons.insert(8, "80–84_rate", column80p, True)
falls_injury_by_age_sex_df1_persons.insert(10, "85–89_rate", column85p, True)
falls_injury_by_age_sex_df1_persons.insert(12, "90–95_rate", column90p, True)
falls_injury_by_age_sex_df1_persons.insert(14, "95+_rate", column95p, True)

In [47]:
falls_injury_by_age_sex_df1_persons

,Year,65–69,65–69_rate,70–74,70–74_rate,75–79,75–79_rate,80–84,80–84_rate,85–89,85–89_rate,90–95,90–95_rate,95+,95+_rate,Total,Gender
36,1999–00,4858,720.425196,7127,1137.248519,10268,2065.480645,11231,3737.686368,11817,7012.806666,4467,7496.979055,1240,7634.997845,112747,Persons
37,2000–01,4726,699.789441,7111,1125.803071,10201,2000.262754,11859,3736.094790,11487,6534.687260,5904,9237.123725,1652,9395.973154,113998,Persons
38,2001–02,4961,723.516398,7117,1125.028849,10639,2047.528685,12815,3808.445447,11889,6541.582987,6489,9569.808427,1851,10034.151895,116136,Persons
39,2002–03,4878,694.324841,7121,1133.622961,10733,2033.296581,13370,3777.753918,12105,6510.234594,6745,9465.736700,2006,10662.272776,116844,Persons
40,2003–04,5091,704.967452,7314,1174.081595,11187,2087.344946,14367,3870.795659,13051,6919.312681,7351,9809.442472,2149,11124.339994,123495,Persons
41,2004–05,5584,750.769727,7172,1156.925340,11358,2096.833151,15303,3966.840603,13084,6719.909607,7765,9782.677165,2443,12121.061771,126866,Persons
42,2005–06,5917,774.483536,7515,1208.939881,11648,2136.244260,16099,4058.608945,14277,6932.265113,8699,10436.963094,2667,12612.910854,132629,Persons
43,2006–07,6445,819.057544,7688,1216.090099,12124,2215.659471,17210,4237.256838,15840,7227.398410,9544,11048.725993,2939,13139.306152,140843,Persons
44,2007–08,6776,832.534709,8275,1274.916726,12506,2284.947956,17187,4133.865370,16729,7191.526130,9862,11140.355832,3136,13230.950975,145781,Persons
45,2008–09,7089,837.436445,8738,1305.956765,12602,2302.790869,17924,4221.116415,18422,7499.470779,10365,11533.582588,3470,13945.263835,153186,Persons
46,2009–10,7783,877.324493,9339,1348.405131,13055,2379.316441,18855,4356.535844,20131,7812.433299,10879,11641.021251,3726,14178.082192,161147,Persons
47,2010–11,8583,921.587239,10252,1431.277861,13627,2459.414339,20405,4632.141455,22224,8301.582321,12679,12686.611967,4382,15961.825666,172620,Persons
48,2011–12,9100,920.175298,10831,1460.593245,14096,2492.114903,21094,4741.162297,22912,8302.381789,13787,12822.134387,4571,16069.608015,179264,Persons
49,2012–13,9927,943.269831,10944,1423.681982,14523,2497.287426,20723,4640.689732,23623,8321.620432,14385,12471.389929,4579,15474.822575,178780,Persons
50,2013–14,10549,959.249405,11642,1454.535459,15135,2517.984415,21099,4703.236247,24173,8286.001241,15531,12593.757855,4896,15934.387815,187002,Persons
51,2014–15,11855,1043.663978,12907,1539.614017,16431,2636.891770,21919,4862.093901,25754,8617.412835,16997,12955.030488,5359,16184.953641,198576,Persons

In [48]:
falls_injury_by_age_sex_final = pd.concat([falls_injury_by_age_sex_df1_males,falls_injury_by_age_sex_df1_females
                                          ,falls_injury_by_age_sex_df1_persons])

In [49]:
falls_injury_by_age_sex_final = falls_injury_by_age_sex_final.reset_index()

In [50]:
falls_injury_by_age_sex_final.head()

,index,Year,65–69,65–69_rate,70–74,70–74_rate,75–79,75–79_rate,80–84,80–84_rate,85–89,85–89_rate,90–95,90–95_rate,95+,95+_rate,Total,Gender
0,2,1999–00,1864,563.383687,2352,796.613040,2974,1386.086008,2770,2407.042119,2656,4836.125273,912,5697.507341,215,5689.335803,51328,Male
1,3,2000–01,1768,533.149988,2365,789.404292,2950,1328.792916,3065,2495.989316,2684,4648.262963,1218,7073.581509,279,6577.086280,51435,Male
2,4,2001–02,1994,591.056491,2415,801.095992,3186,1393.926401,3249,2469.633166,2677,4445.809945,1322,7207.108979,322,7253.886010,51861,Male
3,5,2002–03,1875,541.830781,2446,814.483555,3162,1348.688420,3535,2527.798634,2893,4658.240077,1402,7213.047281,339,7803.867403,51954,Male
4,6,2003–04,1903,534.685735,2537,849.995980,3367,1401.124395,3909,2640.110224,3137,4942.025332,1572,7618.493748,359,8232.056868,54651,Male

In [51]:
falls_injury_by_age_sex_final.drop(falls_injury_by_age_sex_final.columns[0],axis=1,inplace=True)

In [52]:
falls_injury_by_residence = pd.read_excel(falls_injury_by_age_sex, 'Table 7.4A')

In [53]:
falls_injury_by_residence.head(77)

,"Table 7.4A: Fall injury cases, by remoteness of usual residence, and age, Australia, 2001–02 to 2014–15",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,45–49,50–54,55–59,60–64,65–69,70–74,75–79,80–84,85+,Total
1,Major cities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001–02,4316,5469,4302,2329,2100,2006,2012,1847,2084,2268,2544,2679,2596,3093,4611,7035,8686,13868,73845
3,2002–03,4312,5668,4288,2432,2055,1960,1916,1811,1994,2219,2558,2766,2745,3070,4516,7101,9002,14230,74643
4,2003–04,4613,5701,4683,2449,2240,1973,2070,1886,2163,2358,2673,3076,2993,3275,4708,7390,9836,15413,79500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2011–12,108,172,131,61,66,91,78,83,80,65,75,63,60,61,64,49,39,66,1412
73,2012–13,137,185,121,76,89,106,77,85,102,74,96,84,74,67,62,53,67,74,1629
74,2013–14,125,189,116,68,97,116,95,79,101,89,92,105,80,62,94,57,54,101,1720
75,2014–15,121,165,94,56,72,101,86,80,115,90,75,90,67,89,74,49,76,93,1593
76,Note: See 'Data issues' tab for notes on data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
falls_injury_by_residence.columns = falls_injury_by_residence.iloc[0]

In [55]:
falls_injury_by_residence.drop(index = 0, inplace = True)

In [56]:
falls_injury_by_residence.columns.values[0] = 'Year'

In [57]:
falls_injury_by_residence.drop(falls_injury_by_residence.columns[1:14], axis=1, inplace =True)

In [58]:
falls_injury_by_residence.columns[1:14]

Index(['65–69', '70–74', '75–79', '80–84', '85+', 'Total'], dtype='object', name=0)

In [59]:
falls_injury_by_residence_major_cities = falls_injury_by_residence.iloc[1:15]

In [60]:
falls_injury_by_residence_major_cities

0      Year 65–69 70–74  75–79  80–84    85+   Total
2   2001–02  3093  4611   7035   8686  13868   73845
3   2002–03  3070  4516   7101   9002  14230   74643
4   2003–04  3275  4708   7390   9836  15413   79500
5   2004–05  3472  4695   7595  10574  16148   81960
6   2005–06  3660  4817   7672  10926  17562   84740
7   2006–07  4170  5033   8190  12008  19858   92875
8   2007–08  4378  5449   8486  11964  21072   95900
9   2008–09  4446  5631   8366  12204  22766   99821
10  2009–10  4992  6129   8919  13156  25094  107686
11  2010–11  5482  6815   9372  14299  28610  116601
12  2011–12  5808  7125   9547  14908  30126  121399
13  2012–13  6604  7418  10127  14792  31471  123229
14  2013–14  6977  7910  10499  15083  32836  129171
15  2014–15  7883  8816  11405  15535  35550  138147

In [61]:
falls_injury_by_residence_major_cities['Residence'] = 'Major cities'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [62]:
falls_injury_by_residence_inner_regional = falls_injury_by_residence.iloc[16:30]

In [63]:
falls_injury_by_residence_inner_regional

0      Year 65–69 70–74 75–79 80–84   85+  Total
17  2001–02  1129  1586  2285  2713  4208  24924
18  2002–03  1061  1557  2253  2848  4387  24703
19  2003–04  1115  1683  2441  2976  4791  26397
20  2004–05  1226  1552  2368  3073  4743  26728
21  2005–06  1381  1681  2571  3532  5465  29119
22  2006–07  1360  1667  2536  3460  5808  29498
23  2007–08  1438  1799  2567  3479  5891  30696
24  2008–09  1619  1955  2715  3770  6474  33077
25  2009–10  1691  2045  2723  3813  6603  33237
26  2010–11  1918  2183  2841  4103  7359  34865
27  2011–12  2089  2392  2957  4179  7652  36212
28  2012–13  2084  2192  2848  3914  7517  33871
29  2013–14  2218  2310  2985  3988  8056  35551
30  2014–15  2403  2569  3265  4169  8583  37034

In [64]:
falls_injury_by_residence_inner_regional['Residence'] = 'Inner Regional'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [65]:
falls_injury_by_residence_outer_regional = falls_injury_by_residence.iloc[31:45]

In [66]:
falls_injury_by_residence_outer_regional

0      Year 65–69 70–74 75–79 80–84   85+  Total
32  2001–02   575   749  1079  1205  1894  13102
33  2002–03   553   856  1191  1306  1954  13278
34  2003–04   574   759  1151  1350  2065  13775
35  2004–05   687   757  1154  1373  2073  13916
36  2005–06   679   798  1212  1432  2302  14732
37  2006–07   703   805  1166  1482  2346  14257
38  2007–08   730   816  1208  1486  2408  14508
39  2008–09   763   950  1250  1653  2573  15242
40  2009–10   840   937  1174  1641  2678  15217
41  2010–11   919   969  1137  1684  2876  15673
42  2011–12   947  1047  1316  1751  3085  16385
43  2012–13   952  1068  1294  1752  3132  16196
44  2013–14  1034  1112  1380  1713  3251  16652
45  2014–15  1213  1187  1503  1899  3500  17660

In [67]:
falls_injury_by_residence_outer_regional['Residence'] = 'Outer Regional'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [68]:
falls_injury_by_residence_remote = falls_injury_by_residence.iloc[46:60]

In [69]:
falls_injury_by_residence_remote

0      Year 65–69 70–74 75–79 80–84  85+ Total
47  2001–02    66    91   132   144  187  2273
48  2002–03    88   115   119   130  204  2213
49  2003–04    53    71   115   137  216  1911
50  2004–05    83    80   118   127  175  1904
51  2005–06    98   104   118   128  220  2056
52  2006–07    92    92   133   160  199  2039
53  2007–08   110    98   143   164  247  2398
54  2008–09   124    85   153   168  296  2506
55  2009–10   131   118   132   158  269  2518
56  2010–11   132   149   156   184  273  2660
57  2011–12   109   110   151   163  264  2502
58  2012–13   127   121   128   140  295  2473
59  2013–14   141   120   135   191  291  2444
60  2014–15   157   159   126   181  298  2537

In [70]:
falls_injury_by_residence_remote['Residence'] = 'Remote'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
falls_injury_by_residence_very_remote = falls_injury_by_residence.iloc[61:75]

In [72]:
falls_injury_by_residence_very_remote

0      Year 65–69 70–74 75–79 80–84  85+ Total
62  2001–02    43    33    48    30   52  1150
63  2002–03    50    32    23    35   52  1151
64  2003–04    30    32    31    26   32   996
65  2004–05    38    29    47    45   48  1096
66  2005–06    36    53    40    33   50  1079
67  2006–07    44    30    30    41   38  1110
68  2007–08    50    42    41    49   40  1183
69  2008–09    53    37    44    41   55  1211
70  2009–10    41    45    42    48   44  1289
71  2010–11    49    55    45    48   59  1386
72  2011–12    61    64    49    39   66  1412
73  2012–13    67    62    53    67   74  1629
74  2013–14    62    94    57    54  101  1720
75  2014–15    89    74    49    76   93  1593

In [73]:
falls_injury_by_residence_very_remote['Residence'] = 'Very Remote'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [74]:
falls_injury_by_residence_final = pd.concat([falls_injury_by_residence_major_cities,falls_injury_by_residence_outer_regional,
                                            falls_injury_by_residence_inner_regional,falls_injury_by_residence_remote,
                                            falls_injury_by_residence_very_remote])

In [75]:
falls_injury_by_residence_final = falls_injury_by_residence_final.reset_index()

In [76]:
falls_injury_by_residence_final.head()

0  index     Year 65–69 70–74 75–79  80–84    85+  Total     Residence
0      2  2001–02  3093  4611  7035   8686  13868  73845  Major cities
1      3  2002–03  3070  4516  7101   9002  14230  74643  Major cities
2      4  2003–04  3275  4708  7390   9836  15413  79500  Major cities
3      5  2004–05  3472  4695  7595  10574  16148  81960  Major cities
4      6  2005–06  3660  4817  7672  10926  17562  84740  Major cities

In [77]:
falls_injury_by_residence_final.drop(falls_injury_by_residence_final.columns[0],axis = 1,inplace=True)

In [78]:
falls_injury_by_indegenous = pd.ExcelFile('falls 3.xlsx')

In [79]:
falls_injury_by_indegenous_df1 = falls_injury_by_indegenous.parse('Table SF7.4', skiprows=2, index_col=None)

In [80]:
falls_injury_by_indegenous_df1.head()

  Year of death  Count  Rate  Count.1  Rate.1
0       2001–02   22.0  16.3   1929.0    14.1
1       2002–03   23.0  22.1   2098.0    14.8
2       2003–04   26.0  25.5   2031.0    14.0
3       2004–05   30.0  29.4   1968.0    13.1
4       2005–06   26.0  20.2   2054.0    13.2

In [81]:
falls_injury_by_indegenous_df1.rename(columns={'Count.1':'NonIndigenous_Count','Rate.1':'NonIndigenous Rate'}, inplace=True)

In [82]:
falls_injury_by_place_of_occurence = pd.ExcelFile('Falls by Place of occurrence.xlsx')

In [83]:
head_falls_injury = falls_injury_by_place_of_occurence.parse('Table 5.5', skiprows=2, index_col=None)

In [84]:
head_falls_injury.head()

  Unnamed: 0        Males      Females  Unnamed: 3     Males.1   Females.1
0    2002–03  1227.114247   960.610766         NaN  157.648246  186.452770
1    2003–04  1346.606594  1237.058960         NaN  181.208261  186.552802
2    2004–05  1550.791087  1336.349879         NaN  192.041603  205.940860
3    2005–06  1710.662780  1568.369082         NaN  209.997967  229.465649
4    2006–07  2099.218629  1773.896982         NaN  230.784668  238.261883

In [85]:
head_falls_injury.columns

Index(['Unnamed: 0', 'Males', 'Females', 'Unnamed: 3', 'Males.1', 'Females.1'], dtype='object')

In [86]:
head_falls_injury.rename(columns={'Unnamed: 0':'Year','Males':'Residential_males','Females':'Residential_females'
                                 ,'Males.1':'Community_males','Females.1':'Community_females' }, inplace=True)

In [87]:
head_falls_injury.drop(head_falls_injury.columns[3], axis=1, inplace =True)

In [88]:
head_falls_injury

,Year,Residential_males,Residential_females,Community_males,Community_females
0,2002–03,1227.114247,960.610766,157.648246,186.452770
1,2003–04,1346.606594,1237.058960,181.208261,186.552802
2,2004–05,1550.791087,1336.349879,192.041603,205.940860
3,2005–06,1710.662780,1568.369082,209.997967,229.465649
4,2006–07,2099.218629,1773.896982,230.784668,238.261883
5,2007–08,1920.313683,1814.641910,236.466353,250.144040
6,2008–09,2133.109096,1937.328536,245.961137,265.943125
7,2009–10,2360.287834,2114.992716,265.196037,285.467710
8,2010–11,2721.007963,2793.611375,286.175811,314.128583
9,2011–12,2833.344412,2682.575608,310.057226,334.021045
10,2012–13,3000.781840,2680.376081,316.760349,335.657037
11,2013–14,3114.819803,2768.373473,330.994031,361.480321
12,2014–15,3747.211525,3017.318966,370.072023,402.404532
13,(a) Age-standardised to the 2001 Australian po...,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN
15,Contents,NaN,NaN,NaN,NaN

In [89]:
head_falls_injury_final = head_falls_injury.iloc[0:13]

In [90]:
head_falls_injury_final

,Year,Residential_males,Residential_females,Community_males,Community_females
0,2002–03,1227.114247,960.610766,157.648246,186.452770
1,2003–04,1346.606594,1237.058960,181.208261,186.552802
2,2004–05,1550.791087,1336.349879,192.041603,205.940860
3,2005–06,1710.662780,1568.369082,209.997967,229.465649
4,2006–07,2099.218629,1773.896982,230.784668,238.261883
5,2007–08,1920.313683,1814.641910,236.466353,250.144040
6,2008–09,2133.109096,1937.328536,245.961137,265.943125
7,2009–10,2360.287834,2114.992716,265.196037,285.467710
8,2010–11,2721.007963,2793.611375,286.175811,314.128583
9,2011–12,2833.344412,2682.575608,310.057226,334.021045
10,2012–13,3000.781840,2680.376081,316.760349,335.657037
11,2013–14,3114.819803,2768.373473,330.994031,361.480321
12,2014–15,3747.211525,3017.318966,370.072023,402.404532

In [91]:
NSW_falls_data = pd.ExcelFile('NSW Falls Data.xlsx')

In [92]:
VIC_falls_data = pd.ExcelFile('VIC Falls Data.xlsx')

In [93]:
ACT_falls_data = pd.ExcelFile('ACT_falls.xlsx')

In [94]:
NT_falls_data = pd.ExcelFile('NT Falls Data.xlsx')

In [95]:
QLD_falls_data = pd.ExcelFile('QLD Falls Data.xlsx')

In [96]:
SA_falls_data = pd.ExcelFile('SA Falls Data.xlsx')

In [97]:
TAS_falls_data = pd.ExcelFile('TAS Falls Data.xlsx')

In [98]:
WA_falls_data = pd.ExcelFile('WA Falls Data.xlsx')

In [306]:
NT_falls_data = pd.ExcelFile('NT Falls Data.xlsx')

In [99]:
ACT_falls_data_df1 = ACT_falls_data.parse('S4', skiprows=2, index_col=None)

In [100]:
ACT_falls_data_df1

,Unnamed: 0,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,...,50–54,55–59,60–64,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,41.0734,124.305,335.109,487.220447,401.101533,424.128181,367.411209,321.295463,421.881592,...,396.156440,462.207722,433.510350,217.575245,215.089345,298.284862,310.197751,195.058518,162.074554,0.000000
2,Accidental drowning and submersion,6.84556,0,0,7.987220,0.000000,0.000000,0.000000,19.277728,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Accidental poisoning,82.1468,7.31208,0,39.936102,59.865900,11.781338,64.151163,25.703637,35.156799,...,42.144302,0.000000,32.513276,12.087514,16.545334,124.285359,77.549438,65.019506,0.000000,0.000000
4,Falls,527.108,1023.69,850.662,726.837061,532.806513,406.456173,338.251589,334.147282,260.160315,...,463.587323,525.647997,812.831906,1136.226278,1687.624090,2585.135471,4497.867390,8062.418726,16531.604538,8666.666667
5,"Exposure to smoke, fire, flames, hot substances",20.5367,7.31208,17.1851,0.000000,17.959770,0.000000,17.495772,19.277728,28.125439,...,25.286581,9.062897,21.675518,12.087514,16.545334,49.714144,0.000000,65.019506,0.000000,0.000000
6,Exposure to inanimate mechanical forces,355.969,336.356,335.109,686.900958,652.538314,718.661640,664.839330,514.072741,464.069751,...,497.302765,353.452964,400.997074,471.413030,314.361350,596.569724,542.846064,195.058518,162.074554,666.666667
7,Exposure to animate mechanical forces,95.8379,87.745,214.814,287.539936,209.530651,212.064090,110.806555,77.110911,98.439038,...,75.859744,45.314483,32.513276,36.262541,82.726671,49.714144,155.098876,65.019506,162.074554,0.000000
8,Intentional self-harm,n.p.,n.p.,n.p.,215.654952,155.651341,123.704053,116.638479,128.518185,91.407678,...,202.292650,54.377379,21.675518,12.087514,82.726671,24.857072,0.000000,0.000000,162.074554,0.000000
9,Assault,0,0,8.59254,119.808307,251.436782,106.032045,209.949262,122.092276,49.219519,...,75.859744,27.188690,10.837759,12.087514,0.000000,24.857072,116.324157,260.078023,162.074554,0.000000
10,Other external causes of accidental injury,102.683,80.4329,317.924,654.952077,544.779693,471.253534,443.226220,385.554556,379.693433,...,295.010115,235.635309,260.106210,290.100326,132.362674,124.285359,387.747189,520.156047,486.223663,2000.000000
11,Undetermined intent,13.6911,7.31208,34.3702,7.987220,11.973180,5.890669,23.327696,32.129546,21.094080,...,8.428860,36.251586,32.513276,24.175027,0.000000,24.857072,0.000000,0.000000,0.000000,0.000000
12,Other or missing,n.p.,n.p.,n.p.,7.987220,17.959770,11.781338,5.831924,6.425909,14.062720,...,8.428860,27.188690,10.837759,0.000000,16.545334,99.428287,116.324157,0.000000,162.074554,0.000000
13,Total,1245.89,1674.47,2156.73,3242.811502,2855.603448,2491.753063,2361.929200,1985.605963,1863.310364,...,2090.357384,1776.327714,2070.011922,2224.102502,2564.526803,4001.988566,6203.955021,9427.828349,17990.275527,11333.333333
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Transport accidents,36.8568,55.4543,173.405,204.148293,231.312393,231.494878,142.182790,161.311137,161.550889,...,264.635124,137.044968,128.993848,122.059476,120.700060,235.546039,333.535476,501.367366,161.420500,297.619048
16,Accidental drowning and submersion,14.7427,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,9.922604,11.096316,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,Accidental poisoning,58.971,23.7661,18.2532,65.327454,54.784514,34.724232,28.436558,45.167118,28.095807,...,24.057739,25.695931,39.690415,44.385264,60.350030,42.826552,0.000000,45.578851,0.000000,0.000000
18,Falls,464.396,800.127,419.823,293.973542,298.271244,237.282250,227.492464,200.025810,287.982019,...,633.520449,788.008565,1031.950784,1264.980027,1855.763428,4518.201285,7004.244997,13810.391978,19047.619048,31250.000000
19,"Exposure to smoke, fire, flames, hot substances",51.5996,0,9.12659,24.497795,24.348673,23.149488,22.749246,6.452445,14.047903,...,8.019246,8.565310,29.767811,0.000000,15.087508,0.000000,0.000000,0.000000,0.000000,0.000000
20,Exposure to inanimate mechanical forces,272.741,277.272,182.532,228.646089,213.050889,162.046415,153.557413,77.429346,126.431130,...,64.153970,162.740899,99.226037,133.155792,181.050091,192.719486,242.571255,182.315406,403.551251,892.857143
21,Exposure to animate mechanical forces,81.0851,63.3764,73.0127,114.323044,115.656197,109.960067,39.811181,90.334237,70.239517,...,112.269447,119.914347,59.535622,88.770528,90.525045,42.826552,30.321407,136.736554,80.710250,0.000000
22,Intentional self-harm,n.p.,n.p.,n.p.,808.427242,365.230095,237.282250,153.557413,271.002710,252.862260,...,192.461909,102.783726,59.535622,33.288948,15.087508,0.000000,30.321407,0.000000,0.000000,0.000000
23,Assault,7.37137,0,9.12659,40.829659,54.784514,23.149488,79.622363,25.809782,49.167662,...,0.000000,8.565310,49.613018,0.000000,0.000000,42.826552,0.000000,0.000000,0.000000,0.000000
24,Other external causes of accidental injury,44.2282,95.0646,100.392,416.462518,219.138057,237.282250,170.619348,238.740483,154.526937,...,176.423416,128.479657,228.219885,255.215269,256.487628,364.025696,515.463918,820.419325,726.392252,892.857143
25,Undetermined intent,7.37137,7.92205,9.12659,32.663727,85.220355,17.362116,22.749246,45.167118,21.071855,...,16.038492,17.130621,0.000000,11.096316,0.000000,0.000000,30.321407,0.000000,0.000000,0.000000
26,Other or missing,n.p.,n.p.,n.p.,0.000000,12.174336,11.574744,5.687312,6.452445,14.047903,...,32.076985,25.695931,0.000000,11.096316,90.525045,42.826552,30.321407,0.000000,0.000000,0.000000
27,Total,1039.36,1322.98,1350.73,2229.299363,1673.971269,1325.308178,1046.465336,1167.892631,1180.023881,...,1523.656776,1524.625268,1736.455646,1975.144252,2685.576343,5481.798715,8217.101273,15496.809480,20419.693301,33333.333333
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Transport accidents,39.0431,91.2582,256.694,347.250262,316.914162,326.959568,253.383242,241.468126,291.647633,...,328.758116,295.037210,274.540275,167.775528,165.719697,264.580697,323.294198,375.133976,161.637931,205.761317
30,Accidental drowning and submersion,10.6481,0,0,4.037794,0.000000,0.000000,0.000000,9.658725,0.000000,...,0.000000,0.000000,5.180005,5.785363,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,Accidental poisoning,70.9874,15.2097,8.85152,52.491319,57.346372,23.354255,46.069680,35.415325,31.624442,...,32.875812,13.210621,36.260036,28.926815,39.457071,80.524560,34.030968,53.590568,0.000000,0.000000
32,Falls,496.912,916.385,641.735,512.799806,416.515755,321.121004,282.176792,267.224726,274.078499,...,550.669845,660.531067,927.220927,1203.355511,1775.568182,3623.605200,5904.372979,11441.586281,18211.206897,24279.835391
33,"Exposure to smoke, fire, flames, hot substances",35.4937,3.80243,13.2773,12.113381,21.127611,11.677127,20.155485,12.878300,21.082961,...,16.437906,8.807081,25.900026,5.785363,15.782828,23.007017,0.000000,26.795284,0.000000,0.000000
34,Exposure to inanimate mechanical forces,315.894,307.997,261.12,460.308487,434.625136,437.892278,405.989058,296.200901,295.161460,...,275.334922,255.405346,243.460243,295.053515,244.633838,379.615783,374.340650,187.566988,323.275862,823.045267
35,Exposure to animate mechanical forces,88.7343,76.0485,146.05,201.889687,162.984426,160.560502,74.863231,83.708950,84.331846,...,94.517958,83.667268,46.620047,63.638993,86.805556,46.014034,85.077420,107.181136,107.758621,0.000000
36,Intentional self-harm,n.p.,n.p.,n.p.,508.762012,259.567789,180.995475,135.329686,199.613651,172.177519,...,197.254870,79.263728,41.440041,23.141452,47.348485,11.503509,17.015484,0.000000,53.879310,0.000000
37,Assault,3.54937,0,8.85152,84.793669,153.929736,64.224201,143.967751,74.050225,49.193577,...,36.985288,17.614162,31.080031,5.785363,0.000000,34.510526,51.046452,107.181136,53.879310,0.000000
38,Other external causes of accidental injury,74.5368,87.4558,212.436,537.026569,383.315224,353.233105,305.211633,312.298777,267.050845,...,234.240158,180.545158,243.460243,271.912062,197.285354,253.077189,459.418070,696.677385,646.551724,1234.567901
39,Undetermined intent,10.6481,7.60485,22.1288,20.188969,48.291682,11.677127,23.034840,38.634900,21.082961,...,12.328429,26.421243,15.540016,17.356089,0.000000,11.503509,17.015484,0.000000,0.000000,0.000000
40,Other or missing,n.p.,n.p.,n.p.,4.037794,15.091151,11.677127,5.758710,6.439150,14.055308,...,20.547382,26.421243,5.180005,5.785363,55.239899,69.021051,68.061936,0.000000,53.879310,0.000000
41,Total,1146.45,1505.76,1765.88,2745.699750,2269.709043,1903.371771,1695.940109,1577.591758,1521.487052,...,1799.950686,1646.924127,1895.881896,2094.301417,2627.840909,4796.963074,7333.673643,12995.712755,19612.068966,26543.209877
42,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1. Denominators for age‑specific rates are est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2. Persons totals include cases for which sex ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3. Counts based on patients state of usual res...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,4. Intentional self-harm rates have been suppr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"n.p. not publishable because of small numbers,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Data source: AIHW National Hospital Morbidity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
NT_falls_data_df1 = NT_falls_data.parse('Table S4', skiprows=2, index_col=None)

In [102]:
NT_falls_data_df1

,Unnamed: 0,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,...,50–54,55–59,60–64,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,132.275,349.428,552.818,1181.05,1192.8,749.84,702.421,621.554,754.758,...,469.136,367.439,380.755,568.586,473.56,346.741,n.p.,n.p.,n.p.,n.p.
2,Accidental drowning and submersion,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,...,n.p.,n.p.,n.p.,n.p.,n.p.,0,0,0,n.p.,n.p.
3,Accidental poisoning,71.2251,n.p.,120.178,87.9507,102.828,127.632,82.6378,70.1754,87.5082,...,98.7654,98.9259,n.p.,n.p.,n.p.,n.p.,n.p.,0,n.p.,n.p.
4,Falls,763.126,1185.94,913.352,929.765,709.512,678.047,520.618,751.88,853.205,...,1024.69,1003.39,1107.65,1374.08,2446.72,4785.02,7058.82,11111.1,n.p.,n.p.
5,"Exposure to smoke, fire, flames, hot substances",549.451,158.831,n.p.,100.515,102.828,119.655,66.1102,n.p.,185.955,...,111.111,n.p.,103.842,0,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
6,Exposure to inanimate mechanical forces,539.276,540.025,432.64,1143.36,1192.8,773.772,875.961,741.855,798.512,...,703.704,452.233,605.746,592.277,670.876,762.829,n.p.,n.p.,n.p.,n.p.
7,Exposure to animate mechanical forces,142.45,148.242,228.338,741.299,544.987,510.53,446.244,390.977,415.664,...,234.568,127.191,276.912,165.837,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
8,Intentional self-harm,n.p.,n.p.,n.p.,213.595,421.594,199.426,289.232,140.351,273.463,...,111.111,113.058,103.842,n.p.,0,0,0,n.p.,n.p.,n.p.
9,Assault,101.75,0,132.196,502.576,976.864,1212.51,1256.09,1383.46,1673.59,...,790.123,635.953,276.912,165.837,276.243,n.p.,n.p.,n.p.,n.p.,n.p.
10,Other external causes of accidental injury,183.15,180.008,204.302,741.299,802.057,622.208,570.201,581.454,590.68,...,543.21,438.101,328.834,331.675,355.17,n.p.,1008.4,0,n.p.,n.p.
11,Undetermined intent,n.p.,n.p.,108.16,n.p.,92.545,n.p.,n.p.,50.1253,54.6926,...,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,0,n.p.,n.p.
12,Other or missing,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,...,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
13,Total,2574.28,2594.24,2812.16,5741.93,6149.1,5041.48,4925.21,4771.93,5688.03,...,4111.11,3335.22,3322.95,3316.75,4459.35,7142.86,9915.97,13725.5,n.p.,n.p.
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Transport accidents,84.6561,179.553,180.064,552.956,675.355,406.573,365.726,297.429,226.947,...,414.328,286.749,97.4089,198.807,n.p.,n.p.,702.247,n.p.,n.p.,n.p.
16,Accidental drowning and submersion,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,...,n.p.,n.p.,n.p.,n.p.,n.p.,0,0,0,n.p.,n.p.
17,Accidental poisoning,105.82,n.p.,n.p.,141.784,59.2417,n.p.,n.p.,116.847,n.p.,...,66.8271,n.p.,n.p.,0,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
18,Falls,507.937,819.212,450.161,439.529,580.569,482.805,574.713,573.614,704.73,...,868.752,1056.44,1149.43,1959.67,2370.79,4268.77,8146.07,13299.2,n.p.,n.p.
19,"Exposure to smoke, fire, flames, hot substances",328.042,89.7767,n.p.,n.p.,n.p.,42.3513,69.6621,n.p.,119.446,...,n.p.,0,n.p.,0,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
20,Exposure to inanimate mechanical forces,359.788,381.551,334.405,283.567,450.237,220.227,374.434,361.164,334.448,...,227.212,196.197,97.4089,198.807,n.p.,395.257,n.p.,0,n.p.,n.p.
21,Exposure to animate mechanical forces,137.566,168.331,167.203,326.102,367.299,203.286,287.356,244.317,238.892,...,187.116,211.289,136.372,227.208,284.495,n.p.,n.p.,0,n.p.,n.p.
22,Intentional self-harm,n.p.,n.p.,n.p.,949.95,604.265,237.168,357.018,446.144,334.448,...,334.135,120.736,n.p.,n.p.,n.p.,n.p.,0,0,n.p.,n.p.
23,Assault,52.9101,n.p.,167.203,1063.38,2002.37,1812.64,2307.56,2209.48,2723.36,...,1069.23,422.578,272.745,198.807,0,n.p.,n.p.,n.p.,n.p.,n.p.
24,Other external causes of accidental injury,52.9101,123.443,205.788,326.102,426.54,330.341,330.895,297.429,274.725,...,414.328,316.933,175.336,227.208,284.495,n.p.,n.p.,n.p.,n.p.,n.p.
25,Undetermined intent,n.p.,n.p.,n.p.,70.8918,59.2417,50.8216,n.p.,63.7349,n.p.,...,n.p.,n.p.,n.p.,n.p.,0,n.p.,n.p.,n.p.,n.p.,n.p.
26,Other or missing,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,...,0,n.p.,0,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
27,Total,1682.54,1829.2,1723.47,4182.62,5272.51,3837.03,4710.9,4631.4,5064.5,...,3648.76,2671.29,2026.11,3067.31,3461.36,5770.75,9831.46,15856.8,n.p.,n.p.
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Transport accidents,108.932,266.957,372.763,885.958,952.381,583.354,538.478,464.181,502.455,...,442.819,328.419,247.457,400.413,344.605,258.589,535.578,860.832,n.p.,n.p.
30,Accidental drowning and submersion,25.9363,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,0,...,n.p.,n.p.,0,n.p.,n.p.,0,0,0,n.p.,n.p.
31,Accidental poisoning,88.1834,n.p.,68.34,113.243,82.5764,78.0544,50.8798,92.8361,68.5166,...,83.4296,65.6838,n.p.,n.p.,n.p.,184.706,n.p.,n.p.,n.p.,n.p.
32,Falls,638.033,1007.9,689.612,699.44,649.601,583.354,546.958,670.483,782.231,...,949.814,1029.05,1127.3,1640.4,2412.23,4543.78,7651.11,12338.6,n.p.,n.p.
33,"Exposure to smoke, fire, flames, hot substances",440.917,125.306,n.p.,66.6134,77.0713,82.1625,67.8397,30.9454,154.162,...,83.4296,n.p.,64.1554,0,n.p.,n.p.,0,n.p.,n.p.,n.p.
34,Exposure to inanimate mechanical forces,451.292,463.089,385.189,739.408,847.784,505.299,631.757,557.017,576.682,...,474.907,328.419,366.603,413.33,452.294,591.06,459.067,n.p.,n.p.,n.p.
35,Exposure to animate mechanical forces,140.056,157.995,198.807,546.23,462.428,361.515,368.879,319.769,331.164,...,211.783,167.859,210.796,193.748,150.765,295.53,n.p.,n.p.,n.p.,n.p.
36,Intentional self-harm,n.p.,n.p.,n.p.,559.552,506.468,217.731,322.239,288.824,302.615,...,218.2,116.771,73.3205,n.p.,n.p.,n.p.,0,n.p.,n.p.,n.p.
37,Assault,77.8089,n.p.,149.105,766.054,1453.34,1503.57,1768.07,1784.52,2175.4,...,924.143,532.769,274.952,180.832,150.765,184.706,n.p.,0,n.p.,n.p.
38,Other external causes of accidental injury,119.307,152.547,205.02,546.23,627.581,480.651,453.678,443.55,439.648,...,481.325,379.507,256.622,284.164,323.067,258.589,688.6,n.p.,n.p.,n.p.
39,Undetermined intent,46.6853,n.p.,62.1272,73.2747,77.0713,41.0813,n.p.,56.7332,n.p.,...,n.p.,n.p.,54.9904,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
40,Other or missing,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,...,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,0,n.p.,n.p.,n.p.
41,Total,2137.15,2222.83,2286.28,5009.33,5741.81,4457.32,4820.86,4708.86,5389.97,...,3889.1,3014.16,2712.86,3203.31,4006.03,6501.66,9869.93,14921.1,16450.2,16666.7
42,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1. Denominators for age‑specific rates are est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2. Persons totals include cases for which sex ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3. Counts based on patients state of usual res...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,4. Intentional self-harm rates have been suppr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"n.p. not publishable because of small numbers,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Data source: AIHW National Hospital Morbidity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
QLD_falls_data_df1 = QLD_falls_data.parse('S4', skiprows=2, index_col=None)

In [104]:
QLD_falls_data_df1

,Unnamed: 0,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,...,50–54,55–59,60–64,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport crash,88.4581,245.771,446.172,742.861124,692.600716,546.619754,500.863253,487.109497,480.374420,...,425.395454,381.783474,318.411979,251.373398,275.289538,237.770102,318.862549,351.229303,286.944046,50.377834
2,Accidental drowning and submersion,33.7861,7.05563,4.38037,1.899901,5.771673,1.713542,1.767753,3.835508,1.234896,...,1.308909,0.681756,1.553229,1.664724,2.150700,0.000000,0.000000,4.561420,11.956002,0.000000
3,Accidental poisoning,170.159,18.815,8.76073,49.397415,69.837239,62.258676,68.353103,90.773686,79.033324,...,55.628636,41.587128,55.139635,41.618112,58.068887,93.180175,81.022451,196.141039,131.516021,50.377834
4,Falls,1160.4,947.218,996.846,616.201085,443.264458,385.546848,360.032291,369.487257,365.529122,...,500.003272,623.806927,783.604113,1016.314300,1516.243158,2668.487429,4824.756279,8725.995530,14395.026303,16272.040302
5,Thermal causes,109.344,18.815,35.6687,27.865208,39.824541,33.699650,26.516290,31.962565,24.697914,...,24.869273,26.588492,18.638750,13.317796,24.733044,24.098321,39.204412,18.245678,0.000000,50.377834
6,Exposure to inanimate mechanical forces,523.377,367.481,316.638,530.705560,623.340644,596.312459,556.842087,527.382330,480.374420,...,476.442909,485.410417,410.829114,414.516398,417.235706,379.146919,386.816863,410.527756,442.372071,503.778338
7,Exposure to animate mechanical forces,97.6724,129.353,217.141,311.583694,227.403902,184.491307,155.562234,137.439031,116.080194,...,98.168182,100.899918,114.162344,92.392209,106.459626,85.147401,75.795196,50.175615,119.560019,50.377834
8,Other external causes of unintentional injury,0.614292,1.17594,30.6626,240.020772,269.537112,210.765610,214.487322,197.528654,200.670548,...,134.817636,117.262067,83.874375,45.779923,49.466089,56.229416,49.658922,86.666971,95.648015,50.377834
9,Intentional self-harm,n.p.,n.p.,n.p.,197.589659,301.858479,265.598940,258.681139,256.339775,229.690597,...,153.796818,88.628307,86.204219,30.797403,25.808394,24.098321,13.068137,27.368517,95.648015,0.000000
10,Assault,146.816,107.598,247.178,594.668879,612.951633,531.769060,509.702016,544.642115,493.340825,...,406.416272,378.374693,312.975676,307.974030,303.248632,335.769941,439.089412,465.264790,657.580105,503.778338
11,Undetermined intent,4.91434,4.11578,9.3865,18.999006,38.670207,35.984373,32.408799,35.798073,22.845570,...,13.743545,13.635124,7.766146,7.491260,6.452099,4.819664,13.068137,18.245678,11.956002,0.000000
12,Other or missing,n.p.,n.p.,n.p.,7.599602,4.040171,4.569444,7.071011,3.196257,3.087239,...,4.581182,14.998636,39.607344,14.982520,21.506995,73.901518,31.363529,59.298454,47.824008,50.377834
13,Total,2353.97,1855.04,2357.26,3339.391905,3329.100773,2859.329663,2692.287295,2685.494749,2496.959069,...,2295.172089,2273.656940,2232.766922,2238.222074,2806.662867,3982.649209,6272.705889,10413.720750,16296.030607,17581.863980
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Transport crash,68.4626,141.428,169.856,382.053421,335.168499,258.858981,235.238902,208.137880,191.595044,...,207.082212,185.112249,138.280538,135.937848,163.739208,193.248385,236.951371,237.955437,196.198651,59.078377
16,Accidental drowning and submersion,35.5231,4.32312,3.30458,1.986413,2.950427,0.566431,0.572357,0.621307,0.600611,...,1.255044,1.969279,2.242387,0.000000,0.000000,3.019506,2.173866,0.000000,0.000000,0.000000
17,Accidental poisoning,146.613,16.0573,8.59192,54.295287,54.287855,54.377379,46.360951,52.811104,47.448302,...,52.084314,55.796245,42.605355,40.369421,55.288564,73.977897,123.910350,139.064866,91.968118,118.156755
18,Falls,973.978,731.843,449.423,255.585131,233.673813,214.110930,230.660043,291.393033,327.333225,...,593.635673,794.275962,973.196000,1454.123036,2194.530685,3845.340902,6925.936393,11910.133193,16407.112201,21031.902324
19,Thermal causes,67.8168,17.9101,10.5747,13.904891,13.571964,13.594345,6.868289,17.396599,10.210394,...,9.412828,9.189970,6.727161,4.943194,8.505933,18.117036,8.695463,21.632312,36.787247,19.692792
20,Exposure to inanimate mechanical forces,387.524,206.892,141.436,160.237310,155.192456,175.027189,142.516999,152.841548,141.744296,...,154.370376,133.254562,140.522925,147.471968,161.612725,178.150855,219.560444,336.846009,337.216432,571.090981
21,Exposure to animate mechanical forces,80.0884,66.6996,87.9019,121.833327,100.904601,87.796810,74.406465,82.012538,89.491102,...,104.168628,88.617566,80.725935,72.500185,77.616638,78.507156,71.737571,55.625946,36.787247,39.385585
22,Other external causes of unintentional injury,0,0,200.919,910.439262,470.888138,307.005619,270.725062,255.357221,254.659243,...,232.183086,156.885913,101.654882,57.670602,44.656148,48.312096,56.520510,46.354955,49.049663,0.000000
23,Intentional self-harm,n.p.,n.p.,n.p.,107.266299,154.602371,161.999275,137.365782,142.900634,125.527787,...,54.594401,28.226336,24.666258,8.238657,10.632416,24.156048,19.564792,18.541982,67.443286,19.692792
24,Assault,111.736,79.669,167.212,260.220095,207.710056,211.278775,222.647039,242.309771,254.058632,...,311.878361,293.422607,300.479871,290.824607,328.541658,463.494172,530.423252,661.330696,876.762722,590.783773
25,Undetermined intent,7.75049,4.32312,7.27008,32.444745,27.734013,20.957948,25.756084,19.260520,22.823234,...,16.315568,10.502823,11.211935,10.710255,7.442691,13.587777,4.347732,12.361321,18.393624,39.385585
26,Other or missing,n.p.,n.p.,n.p.,0.662138,2.950427,6.797172,5.723574,2.485228,3.003057,...,8.785306,8.533543,9.717011,9.886389,14.885383,19.626789,13.043195,24.722643,12.262416,39.385585
27,Total,1892.41,1272.23,1273.59,2300.928317,1759.634619,1512.370854,1398.841549,1467.527384,1468.494928,...,1745.765796,1765.787055,1832.030257,2232.676163,3067.452048,4959.538619,8212.864938,13464.569362,18129.981606,22528.554549
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Transport crash,78.7109,194.881,311.788,566.473203,515.862479,402.138672,366.119568,345.638091,333.988930,...,313.945591,281.586516,226.623500,193.359529,219.198589,214.817755,274.144929,283.703622,226.959553,56.633159
30,Accidental drowning and submersion,34.6328,5.72294,3.85717,1.942194,4.376661,1.137592,1.161363,2.205530,0.913370,...,1.281411,1.337703,1.904399,0.828092,1.069261,1.556650,1.186775,1.842231,4.052849,0.000000
31,Accidental poisoning,158.681,17.47,8.67863,51.791836,62.148591,58.301576,57.197109,71.522194,63.022524,...,53.819244,48.826165,48.752619,40.990564,56.670855,83.280796,104.436163,162.116355,105.374078,99.108028
32,Falls,1069.52,842.176,730.612,439.906904,339.628917,299.471020,294.405426,329.884304,346.167195,...,547.803022,710.654806,880.213293,1236.341654,1857.307065,3275.192441,5971.849707,10624.147968,15725.054713,19694.180943
33,Thermal causes,89.1007,18.3737,23.4644,21.040433,26.843523,23.605028,16.549417,24.575908,17.354028,...,16.978690,17.724567,12.569034,9.109014,16.573552,21.014780,22.548717,20.264544,24.317095,28.316579
34,Exposure to inanimate mechanical forces,457.153,289.159,231.43,349.594891,391.857076,384.790399,346.666744,337.446122,308.719029,...,312.023475,305.999599,273.090840,280.309210,288.700580,275.527121,295.506871,366.604031,372.862122,552.173297
35,Exposure to animate mechanical forces,89.1007,98.7961,154.287,218.820506,164.854243,135.942210,114.394219,109.331283,102.601886,...,101.231436,94.642499,97.124357,82.395174,91.956481,81.724146,73.580024,53.424708,64.845586,42.474869
36,Other external causes of unintentional injury,0.314844,0.602415,113.465,567.767998,369.098437,259.086514,243.015130,226.854536,228.038021,...,184.523123,137.449000,92.934679,51.755762,47.047502,52.147788,53.404856,62.635865,64.845586,14.158290
37,Intentional self-harm,n.p.,n.p.,n.p.,153.433313,229.045275,213.582845,197.141306,198.812795,176.889306,...,103.153551,57.855662,54.846696,19.460167,18.177444,24.128081,16.614844,22.106776,77.004134,14.158290
38,Assault,129.716,93.9768,208.287,431.167032,412.573273,370.854900,364.087183,391.324074,372.046009,...,358.154256,335.094642,306.608265,299.355330,315.966746,401.615803,488.951129,582.145094,802.464132,566.331587
39,Undetermined intent,6.29687,4.21691,8.3572,25.572219,33.262626,28.439793,29.034066,27.411590,22.834248,...,15.056574,12.039328,9.521996,9.109014,6.950199,9.339902,8.307422,14.737850,16.211397,28.316579
40,Other or missing,n.p.,n.p.,n.p.,4.208087,3.501329,5.687959,6.387494,2.835682,3.044566,...,6.727406,11.704903,24.376309,12.421383,18.177444,45.921187,21.361943,38.686858,24.317095,42.474869
41,Total,2128.97,1570.8,1830.23,2831.718615,2553.052429,2183.038507,2036.159025,2067.842109,1975.619113,...,2014.697779,2014.915390,2028.565987,2235.434893,2937.795718,4486.266452,7331.893380,12232.415902,17508.308341,21138.326490
42,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1. Denominators for age‑specific rates are est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2. Persons totals include cases for which sex ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3. Counts based on patients state of usual res...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,4. Intentional self-harm rates have been suppr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"n.p. not publishable because of small numbers,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Data source: AIHW National Hospital Morbidity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
SA_falls_data_df1 = SA_falls_data.parse('Table S4', skiprows=2, index_col=None)

In [106]:
SA_falls_data_df1

,Unnamed: 0,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,...,50–54,55–59,60–64,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,70.4467,142.12,316.16,543.160515,493.947874,378.905308,351.383791,328.841073,372.370136,...,367.067755,314.510881,254.227029,202.848511,197.019730,186.589384,293.592770,505.933217,270.697045,386.847195
2,Accidental drowning and submersion,5.71189,0,0,0.000000,1.685829,1.722297,1.739524,1.900815,1.861851,...,0.000000,0.000000,0.000000,2.157963,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Accidental poisoning,220.86,20.57,19.8843,67.895064,40.459894,65.447280,38.269522,70.330172,65.164774,...,50.136084,54.226014,58.512570,49.633146,44.398812,115.129620,86.350815,128.783001,203.022784,290.135397
4,Falls,694.947,847.109,703.903,482.809347,362.453218,254.899935,260.928558,296.527210,327.685720,...,454.805902,571.180681,722.327590,932.239965,1373.588257,2191.432768,4455.702032,8150.124184,12181.367020,14700.193424
5,"Exposure to smoke, fire, flames, hot substances",104.718,26.18,23.8611,33.947532,42.145723,37.890531,31.311427,38.016309,33.513312,...,53.717232,36.150676,20.176748,17.263703,27.749258,43.669856,28.783605,36.795143,67.674261,96.711799
6,Exposure to inanimate mechanical forces,453.143,334.73,274.403,384.738698,515.863650,473.631635,372.258076,345.948412,314.652765,...,343.790288,334.393753,332.916347,321.536470,252.518245,293.779031,195.728513,340.355073,383.487480,193.423598
7,Exposure to animate mechanical forces,97.1022,99.1099,163.051,294.211946,203.985300,172.229686,130.464279,114.048927,80.059579,...,48.345509,54.226014,42.371171,47.475183,33.299109,31.759895,34.540326,55.192715,0.000000,0.000000
8,Intentional self-harm,n.p.,n.p.,n.p.,215.001037,215.786102,184.285763,189.608085,226.197039,193.632471,...,139.664804,83.146555,86.760018,45.317221,22.199406,35.729882,28.783605,64.391500,45.116174,0.000000
9,Assault,15.2317,5.60999,27.838,137.676103,232.644391,208.397919,248.751892,222.395408,223.422082,...,118.177911,54.226014,42.371171,25.895555,22.199406,19.849934,23.026884,18.397572,0.000000,0.000000
10,Other external causes of accidental injury,178.973,76.6699,228.669,614.827528,756.937186,595.914712,450.536643,454.294893,439.396760,...,333.046841,341.623888,314.757274,308.588692,391.264534,309.658978,414.483910,478.336860,586.510264,773.694391
11,Undetermined intent,7.61586,3.74,25.8496,20.745714,38.774065,22.389859,33.050951,39.917124,26.065910,...,23.277467,9.037669,6.053024,10.789814,11.099703,11.909961,0.000000,0.000000,45.116174,0.000000
12,Other or missing,n.p.,n.p.,n.p.,7.543896,6.743316,5.166891,5.218571,0.000000,7.447403,...,5.371723,1.807534,18.159073,21.579629,11.099703,15.879948,69.080652,45.993929,90.232348,0.000000
13,Total,1850.65,1561.45,1831.34,2802.557381,2911.426548,2400.881816,2113.521318,2138.417381,2085.272761,...,1937.401518,1854.529680,1898.632016,1985.325852,2386.436163,3255.389257,5630.073110,9824.303192,13873.223551,16441.005803
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Transport accidents,29.988,72.5106,129.331,268.631363,252.556692,182.602344,137.966716,136.159912,134.622216,...,167.594839,140.854867,108.782778,155.859071,154.910668,165.911998,244.905503,295.075921,236.273627,147.928994
16,Accidental drowning and submersion,7.9968,5.87924,2.08598,1.975231,0.000000,0.000000,0.000000,0.000000,1.869753,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,Accidental poisoning,151.939,19.5975,10.4299,45.430304,53.357048,45.215819,55.186686,49.168857,50.483331,...,43.644489,48.690571,41.986335,45.117099,41.309512,93.325499,92.417171,110.653470,180.018002,110.946746
18,Falls,591.763,625.159,446.401,154.067987,232.992441,180.863274,200.051738,179.655440,291.681469,...,487.072502,699.057490,1045.841444,1345.309872,2019.002375,3380.456949,6067.187283,10407.573615,14615.211521,16235.207101
19,"Exposure to smoke, fire, flames, hot substances",91.9632,15.678,18.7739,23.702767,35.571365,17.390699,13.796672,32.148868,24.306789,...,19.203575,17.389490,15.267758,16.406218,23.236600,10.369500,23.104293,30.737075,45.004500,147.928994
20,Exposure to inanimate mechanical forces,335.866,231.25,137.675,124.439528,145.842597,128.691176,108.648788,100.228824,129.012957,...,120.458791,95.642194,85.881141,82.031090,131.674068,110.607998,226.422069,227.454355,326.282628,517.751479
21,Exposure to animate mechanical forces,87.9648,78.3899,66.7515,92.835839,55.135616,74.780008,34.491679,68.079956,65.441355,...,68.085404,48.690571,51.528684,71.777204,38.727667,51.847499,83.175454,61.474150,33.753375,36.982249
22,Intentional self-harm,n.p.,n.p.,n.p.,799.968396,419.742108,309.554450,200.051738,230.715407,228.109867,...,192.035754,118.248531,61.071033,43.066322,43.891356,27.652000,18.483434,36.884490,11.251125,0.000000
23,Assault,27.9888,7.83899,10.4299,61.232149,108.492663,128.691176,136.242132,147.506572,132.752463,...,38.407151,27.823184,15.267758,12.304663,15.491067,3.456500,4.620859,6.147415,11.251125,0.000000
24,Other external causes of accidental injury,91.9632,74.4704,173.137,248.879057,241.885282,227.818163,184.530482,223.150967,231.849373,...,233.934463,226.063367,257.643422,291.210369,366.621915,387.127994,665.403632,657.773406,742.574257,961.538462
25,Undetermined intent,9.996,5.87924,6.25795,35.554151,7.114273,33.042329,22.419591,9.455549,26.176542,...,15.712016,17.389490,3.816940,6.152332,7.745533,6.913000,4.620859,12.294830,0.000000,0.000000
26,Other or missing,n.p.,n.p.,n.p.,3.950461,5.335705,5.217210,1.724584,5.673330,5.609259,...,6.983118,10.433694,11.450819,10.253886,10.327378,13.826000,27.725151,18.442245,56.255626,36.982249
27,Total,1431.43,1136.65,1222.39,1860.667233,1558.025789,1333.866648,1095.110805,1181.943683,1321.915375,...,1393.132103,1450.283449,1698.538112,2079.488126,2852.938139,4251.494936,7458.065709,11864.510973,16257.875788,18195.266272
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Transport accidents,50.7109,108.131,224.982,409.068982,376.483214,281.229449,244.215048,232.253906,253.747913,...,266.067940,226.003722,179.482150,178.755442,175.206302,175.535846,266.584641,379.541602,247.729149,214.018192
30,Accidental drowning and submersion,6.82647,2.87073,1.01802,0.964785,0.865479,0.865321,0.866011,0.947975,1.865793,...,0.000000,0.000000,0.000000,1.051503,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,Accidental poisoning,187.24,20.0951,15.2703,56.922335,46.735847,55.380568,46.764584,59.722433,57.839598,...,46.849172,51.404768,50.019616,47.317617,42.798486,103.473762,89.715985,117.915838,187.673598,160.513644
32,Falls,644.614,738.735,578.235,322.238302,299.455614,218.060988,230.358875,237.941756,309.721717,...,471.143562,636.355579,888.583758,1144.034826,1707.927082,2827.050998,5349.636009,9503.279534,13805.269875,15810.593900
33,"Exposure to smoke, fire, flames, hot substances",98.4962,21.052,21.3784,28.943560,38.946539,27.690284,22.516281,35.075080,28.919799,...,36.241812,26.588673,17.653982,16.824042,25.411601,25.868441,25.633139,33.163829,52.548607,133.761370
34,Exposure to inanimate mechanical forces,395.935,284.202,207.676,257.597685,335.805717,301.997162,239.884994,222.774154,222.029424,...,230.710074,212.709386,205.963123,198.733991,189.918282,195.861050,212.755050,272.680374,345.319420,428.036383
35,Exposure to animate mechanical forces,92.645,88.9927,116.054,195.851423,131.552755,123.740957,82.271027,91.005612,72.765946,...,58.340479,51.404768,47.077285,59.935648,36.111223,42.498152,61.519532,58.957919,22.520832,26.752274
36,Intentional self-harm,n.p.,n.p.,n.p.,500.723589,315.034230,246.616593,194.852432,228.462005,210.834663,...,166.181969,101.036958,73.558258,44.163109,33.436317,31.411678,23.069825,47.903309,22.520832,0.000000
37,Assault,21.4546,6.69837,19.3424,100.337675,172.230252,168.737669,192.254399,184.855149,178.183277,...,77.787305,40.769299,28.442526,18.927047,18.724338,11.086475,12.816569,11.054610,7.506944,0.000000
38,Other external causes of accidental injury,136.529,75.5959,201.568,436.082972,506.305012,412.758298,316.959956,338.427120,335.842826,...,282.862926,282.726225,285.406042,299.678240,378.499111,351.071693,553.675792,585.894318,690.638841,909.577314
39,Undetermined intent,8.77689,4.78455,16.2883,27.978775,23.367924,27.690284,27.712346,24.647353,26.121109,...,19.446826,13.294337,4.903884,8.412021,9.362169,9.238729,2.563314,7.369740,15.013888,0.000000
40,Other or missing,n.p.,n.p.,n.p.,5.788712,6.058351,5.191928,3.464043,2.843925,6.530277,...,6.187627,6.204024,14.711652,15.772539,10.699622,14.781966,46.139649,29.478959,67.562495,26.752274
41,Total,1646.15,1354.03,1534.15,2342.498794,2252.840934,1869.959503,1602.119994,1658.956469,1704.402340,...,1661.819693,1648.497740,1795.802275,2033.606023,2628.094531,3787.878788,6644.109505,11047.240032,15464.304482,17710.005350
42,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1. Denominators for age‑specific rates are est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2. Persons totals include cases for which sex ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3. Counts based on patients state of usual res...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,4. Intentional self-harm rates have been suppr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"n.p. not publishable because of small numbers,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Data source: AIHW National Hospital Morbidity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
TAS_falls_data_df1 = TAS_falls_data.parse('S4', skiprows=2, index_col=None)

In [108]:
TAS_falls_data_df1

,Unnamed: 0,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,...,50–54,55–59,60–64,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,38.8853,178.848,406.275,628.512721,652.923040,521.034350,353.192057,434.596751,373.893080,...,472.744251,227.741026,187.892666,130.313373,200.996945,177.935943,244.728916,329.597891,267.618198,0.000000
2,Accidental drowning and submersion,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,5.422405,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Accidental poisoning,77.7706,11.9232,6.25039,0.000000,6.045584,25.730091,26.656004,21.373611,59.035749,...,17.509046,5.422405,11.743292,18.616196,40.199389,11.862396,0.000000,65.919578,89.206066,0.000000
4,Falls,421.257,554.429,681.293,555.992023,392.962941,360.221279,279.888045,292.106013,255.821581,...,326.835532,428.370025,534.319770,806.701831,924.585946,1209.964413,2484.939759,3922.214898,5798.394291,4471.544715
5,"Exposure to smoke, fire, flames, hot substances",174.984,11.9232,12.5008,78.564090,60.455837,83.622797,33.320005,28.498148,45.916694,...,52.527139,21.689622,23.486583,31.026993,8.039878,23.724792,18.825301,0.000000,0.000000,0.000000
6,Exposure to inanimate mechanical forces,285.159,256.349,312.52,447.210975,556.193701,611.089669,619.752099,541.464805,446.047885,...,466.907902,428.370025,411.015208,279.242941,426.113523,379.596679,188.253012,164.798945,0.000000,406.504065
7,Exposure to animate mechanical forces,84.2515,71.5393,168.761,229.648879,266.005683,225.138299,113.288018,92.618980,118.071499,...,81.708883,27.112027,41.101521,74.464784,32.159511,35.587189,37.650602,65.919578,89.206066,0.000000
8,Intentional self-harm,n.p.,n.p.,n.p.,235.692271,126.957258,192.975685,93.296015,128.241664,124.631027,...,134.236022,54.224054,99.817979,43.437791,32.159511,35.587189,18.825301,65.919578,178.412132,0.000000
9,Assault,12.9618,0,31.252,132.954614,211.595430,173.678117,199.920032,220.860644,118.071499,...,64.199837,16.267216,35.229875,12.410797,8.039878,11.862396,18.825301,0.000000,0.000000,0.000000
10,Other external causes of accidental injury,77.7706,29.808,137.509,374.690276,465.509945,482.439213,333.200053,384.724993,295.178747,...,268.472044,271.120269,205.507604,229.599752,184.917189,142.348754,207.078313,197.758734,178.412132,406.504065
11,Undetermined intent,6.48088,0,25.0016,18.130175,54.410253,45.027660,46.648007,28.498148,32.797639,...,0.000000,21.689622,11.743292,6.205399,8.039878,23.724792,0.000000,0.000000,0.000000,0.000000
12,Other or missing,n.p.,n.p.,n.p.,6.043392,18.136751,0.000000,13.328002,42.747221,6.559528,...,0.000000,16.267216,17.614937,12.410797,136.677922,0.000000,18.825301,65.919578,0.000000,0.000000
13,Total,1179.52,1120.78,1825.11,2707.439415,2811.196421,2720.957159,2112.488338,2215.730977,1876.024926,...,1885.140656,1523.695912,1579.472726,1644.430655,2001.929571,2052.194543,3237.951807,4878.048780,6601.248885,5284.552846
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Transport accidents,20.6356,102.597,93.5641,242.368662,198.544011,117.324990,90.673575,206.873540,99.620198,...,138.121547,140.405616,130.024309,146.029814,172.888016,129.533679,259.462759,134.318334,44.072279,165.837479
16,Accidental drowning and submersion,0,0,0,0.000000,0.000000,0.000000,0.000000,6.673340,0.000000,...,0.000000,0.000000,5.653231,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,Accidental poisoning,55.0282,6.41231,0,58.954539,13.236267,0.000000,25.906736,26.693360,24.905049,...,16.574586,31.201248,5.653231,6.084576,31.434185,32.383420,30.525031,22.386389,0.000000,0.000000
18,Falls,330.169,474.511,354.207,189.964627,172.071476,162.951375,155.440415,166.833500,249.050495,...,441.988950,686.427457,910.170162,1113.477335,1430.255403,2245.250432,4181.929182,6290.575330,9387.395328,7462.686567
19,"Exposure to smoke, fire, flames, hot substances",192.599,38.4739,26.7326,13.101009,59.563203,13.036110,19.430052,6.673340,31.131312,...,33.149171,10.400416,0.000000,6.084576,0.000000,21.588946,45.787546,44.772778,0.000000,0.000000
20,Exposure to inanimate mechanical forces,330.169,134.659,120.297,144.111097,125.744540,136.879155,71.243523,120.120120,149.430297,...,176.795580,130.005200,141.330771,91.268634,102.161100,64.766839,183.150183,402.955003,176.289114,0.000000
21,Exposure to animate mechanical forces,68.7853,44.8862,40.0989,32.752522,99.272005,65.180550,84.196891,33.366700,74.715148,...,71.823204,83.203328,33.919385,73.014907,31.434185,64.766839,15.262515,67.159167,44.072279,0.000000
22,Intentional self-harm,n.p.,n.p.,n.p.,903.969606,251.489080,195.541650,246.113990,213.546880,217.919183,...,215.469613,119.604784,62.185539,73.014907,86.444008,43.177893,61.050061,44.772778,0.000000,0.000000
23,Assault,6.87853,12.8246,6.68315,39.303026,66.181337,91.252770,58.290155,53.386720,31.131312,...,11.049724,10.400416,5.653231,0.000000,7.858546,21.588946,0.000000,0.000000,0.000000,0.000000
24,Other external causes of accidental injury,20.6356,19.2369,93.5641,209.616140,145.598941,110.806935,168.393782,160.160160,130.751510,...,182.320442,182.007280,175.250155,200.790995,141.453831,226.683938,381.562882,335.795836,396.650507,829.187396
25,Undetermined intent,27.5141,0,0,85.156557,46.326936,39.108330,51.813472,13.346680,56.036361,...,16.574586,10.400416,0.000000,12.169151,23.575639,10.794473,15.262515,22.386389,0.000000,0.000000
26,Other or missing,n.p.,n.p.,n.p.,6.550504,19.854401,0.000000,0.000000,13.346680,24.905049,...,5.524862,0.000000,16.959692,12.169151,31.434185,32.383420,30.525031,0.000000,0.000000,0.000000
27,Total,1052.41,840.013,908.909,1925.848290,1197.882197,932.081867,971.502591,1021.021021,1089.595916,...,1309.392265,1404.056162,1486.799706,1734.104046,2058.939096,2892.918826,5204.517705,7365.122006,10048.479506,8457.711443
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Transport accidents,30.032,142.111,255.151,443.215038,436.005182,320.512821,220.061749,317.011819,233.182138,...,300.845774,183.159907,158.410138,138.248848,186.782180,152.594100,252.865813,213.304893,117.994100,117.785630
30,Accidental drowning and submersion,0,0,0,0.000000,0.000000,0.000000,0.000000,3.445781,0.000000,...,0.000000,2.654491,2.880184,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,Accidental poisoning,66.7379,9.26813,3.22977,28.290322,9.478374,12.950013,26.276030,24.120464,41.525586,...,17.029006,18.581440,8.640553,12.288786,35.766800,22.606533,16.857721,39.994667,29.498525,0.000000
32,Falls,377.069,515.926,523.222,380.347657,287.510663,262.237762,216.777245,227.421522,252.347793,...,385.990804,560.097685,725.806452,961.597542,1180.304415,1752.006330,3422.117330,5332.622317,8200.589971,6595.995289
33,"Exposure to smoke, fire, flames, hot substances",183.529,24.715,19.3786,47.150536,60.029699,48.562549,26.276030,17.228903,38.331310,...,42.572515,15.926948,11.520737,18.433180,3.974089,22.606533,33.715442,26.663112,0.000000,0.000000
34,Exposure to inanimate mechanical forces,306.994,197.72,219.624,301.763430,350.699820,375.550376,341.588386,323.903380,293.873379,...,317.874780,276.067106,273.617512,184.331797,262.289870,214.762066,185.434929,306.625783,117.994100,117.785630
35,Exposure to animate mechanical forces,76.7485,58.6981,106.582,135.164870,186.408012,145.687646,98.535111,62.024052,95.828276,...,76.630527,55.744319,37.442396,73.732719,31.792712,50.864700,25.286581,66.657779,58.997050,0.000000
36,Intentional self-harm,n.p.,n.p.,n.p.,556.376324,195.886386,194.250194,170.794193,172.289032,172.490896,...,175.966396,87.598216,80.645161,58.371736,59.611334,39.561433,42.144302,53.326223,58.997050,0.000000
37,Assault,10.0107,6.17875,19.3786,88.014334,142.175603,132.737633,128.095645,134.385445,73.468345,...,36.896180,13.272457,20.161290,6.144393,7.948178,16.954900,8.428860,0.000000,0.000000,0.000000
38,Other external causes of accidental injury,50.0534,24.715,116.272,295.476692,312.786326,297.850298,249.622282,268.770890,210.822207,...,224.215247,225.631769,190.092166,215.053763,162.937647,186.503900,303.438975,279.962672,324.483776,706.713781
39,Undetermined intent,16.6845,0,12.9191,50.293905,50.551325,42.087542,49.267556,20.674684,44.719862,...,8.514503,15.926948,5.760369,9.216590,15.896356,16.954900,8.428860,13.331556,0.000000,0.000000
40,Other or missing,n.p.,n.p.,n.p.,6.286738,18.956747,0.000000,6.569007,27.566245,15.971379,...,2.838168,7.963474,17.281106,12.288786,83.455868,16.954900,25.286581,26.663112,0.000000,0.000000
41,Total,1117.86,985.511,1382.34,2332.379845,2050.488136,1832.426832,1533.863233,1598.842218,1472.561170,...,1589.373900,1462.624761,1532.258065,1689.708141,2030.759448,2492.370295,4324.005394,6359.152113,8908.554572,7538.280330
42,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1. Denominators for age‑specific rates are est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2. Persons totals include cases for which sex ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3. Counts based on patients state of usual res...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,4. Intentional self-harm rates have been suppr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"n.p. not publishable because of small numbers,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Data source: AIHW National Hospital Morbidity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
WA_falls_data_df1 = WA_falls_data.parse('S4', skiprows=2, index_col=None)

In [110]:
WA_falls_data_df1

,Unnamed: 0,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,...,50–54,55–59,60–64,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,63.0049,150.307,329.51,500.347,397.148,341.08,295.251,284.825,292.388,...,308.365,239.541,222.677,283.705,166.786,204.17,n.p.,n.p.,n.p.,n.p.
2,Accidental drowning and submersion,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,...,n.p.,n.p.,n.p.,n.p.,n.p.,0,0,0,n.p.,n.p.
3,Accidental poisoning,149.637,n.p.,12.5767,26.5336,49.6435,47.7313,42.5936,64.8829,47.7832,...,36.421,47.1229,n.p.,n.p.,n.p.,n.p.,n.p.,128.264,n.p.,n.p.
4,Falls,676.177,620.733,671.597,361.362,280.937,263.516,230.392,226.54,224.126,...,327.789,340.332,496.857,662.544,1016.93,1616.63,3052.71,5588.64,n.p.,n.p.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,6. Intentional self-harm rates have been suppr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,"n.p. not publishable because of small numbers,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Data source: AIHW National Hospital Morbidity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
VIC_falls_data_df1 = VIC_falls_data.parse('Table S4', skiprows=2, index_col=None)

In [112]:
VIC_falls_data_df1

,Unnamed: 0,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,...,50–54,55–59,60–64,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,51.9528,116.377,290.156,443.693883,476.584987,414.137634,389.288910,375.985616,366.291433,...,341.264475,330.553802,260.665894,207.084089,204.739541,218.807374,282.332704,349.983115,293.572311,173.731758
2,Accidental drowning and submersion,4.3294,2.98402,1.63315,3.671226,4.697522,1.220445,2.090703,1.404679,2.438691,...,0.000000,1.107383,1.888883,0.000000,0.000000,0.000000,0.000000,3.070027,0.000000,0.000000
3,Accidental poisoning,73.5998,12.4334,7.62137,28.845347,55.516172,39.054237,35.541952,32.307606,38.043584,...,30.639844,29.899339,28.962877,29.981871,36.817198,57.845628,71.050614,122.801093,92.707046,173.731758
4,Falls,662.879,721.636,721.308,499.286733,339.075698,334.401901,273.045820,279.062798,302.885460,...,478.615502,529.329037,670.553569,801.143495,1215.865518,2003.219235,3803.077613,7199.214073,10931.705810,13134.120917
5,"Exposure to smoke, fire, flames, hot substances",50.9907,12.4334,13.0652,17.831669,26.903991,19.527118,24.670296,23.411309,23.411436,...,19.017835,17.164435,25.814738,21.614838,13.469707,22.635246,24.306789,33.770301,46.353523,104.239055
6,Exposure to inanimate mechanical forces,404.558,302.381,299.411,499.286733,574.378859,517.468635,472.917033,472.440208,444.817293,...,427.901276,419.698127,409.258047,359.782457,331.354783,310.605870,302.899987,291.652596,370.828183,173.731758
7,Exposure to animate mechanical forces,53.877,77.0872,190.534,316.774356,220.783547,193.237108,119.170075,96.922818,84.378719,...,65.505874,56.476529,56.036871,44.624181,44.899022,51.558059,50.483331,58.330519,0.000000,0.000000
8,Intentional self-harm,n.p.,n.p.,n.p.,115.905849,116.583962,102.924186,78.192295,102.073305,111.204323,...,78.712704,50.939614,53.518360,29.284619,26.939413,26.407787,29.916048,52.190464,77.255871,208.478110
9,Assault,8.6588,3.48136,31.0299,172.023160,205.409837,173.709990,165.165542,151.237054,140.956357,...,98.787085,56.476529,39.666549,35.559894,26.939413,30.180327,28.046295,24.560219,0.000000,34.746352
10,Other external causes of accidental injury,117.375,88.0286,259.671,602.081061,537.652776,445.462386,377.162832,361.938831,354.097977,...,325.944552,297.886006,262.554778,240.552224,276.577976,290.485652,396.387637,546.464864,556.242274,451.702571
11,Undetermined intent,12.9882,4.97337,11.4321,39.859025,44.412938,38.647422,41.814061,44.949713,31.215249,...,30.111571,19.379201,11.333300,9.761540,13.469707,15.090164,20.567283,18.420164,30.902349,138.985407
12,Other or missing,n.p.,n.p.,n.p.,7.342452,7.686855,8.136299,5.853969,7.959845,6.828336,...,20.602654,12.181212,10.074044,15.339562,25.143452,31.437841,46.743825,30.700273,15.451174,34.746352
13,Total,1444.1,1343.8,1841.11,2746.601494,2609.687145,2287.927359,1984.913487,1949.693780,1906.568859,...,1917.103372,1821.091215,1830.327910,1794.728769,2216.215731,3058.273182,5055.812127,8731.157707,12415.018541,14628.214038
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Transport accidents,33.5837,68.8579,117.906,233.144989,304.864440,227.386033,189.712890,167.851731,177.310896,...,201.217416,169.324338,150.419576,180.514929,203.717851,234.202485,246.605461,238.871695,178.491745,158.144439
16,Accidental drowning and submersion,4.07075,2.10253,0,1.097153,1.339082,0.405323,0.000000,0.466255,0.477927,...,0.000000,0.527490,0.000000,0.000000,0.000000,1.115250,0.000000,0.000000,0.000000,0.000000
17,Accidental poisoning,69.2027,6.30759,7.47694,36.206045,49.992412,31.615170,30.321283,34.036601,28.197690,...,28.817570,33.759370,18.358295,23.717290,42.441219,56.877746,65.365303,58.160065,97.359134,131.787032
18,Falls,514.441,593.439,381.899,206.264743,192.381514,185.637796,176.191237,224.734818,269.072870,...,511.132682,748.508522,913.769313,1384.167391,1977.760801,3434.969777,5842.766735,9737.656565,12940.651495,15076.436479
19,"Exposure to smoke, fire, flames, hot substances",31.5483,7.35885,7.47694,7.680070,10.266299,18.239521,14.341147,14.920154,12.904027,...,12.133714,7.912352,4.737624,11.199831,12.732366,14.498249,17.826901,27.002887,28.396414,26.357406
20,Exposure to inanimate mechanical forces,282.408,216.035,159.316,136.046958,142.835462,140.241653,108.992719,128.686327,131.907837,...,131.448563,137.674929,132.653484,108.045432,115.440115,138.290991,221.350685,249.257421,348.870228,421.718503
21,Exposure to animate mechanical forces,54.4463,54.1401,77.07,114.652477,79.898587,72.958086,50.398889,49.889264,50.660256,...,77.857995,64.881288,56.259290,50.728648,48.382990,57.992996,53.480702,78.931517,36.509675,52.714813
22,Intentional self-harm,n.p.,n.p.,n.p.,483.844424,316.023461,175.910051,128.660578,135.680149,131.429910,...,128.415135,77.013562,66.918945,42.164071,38.197097,34.572748,26.740351,24.925742,20.283153,39.536110
23,Assault,6.10612,2.10253,12.0781,38.400351,64.722319,56.339855,56.954842,56.416832,58.785014,...,36.906712,23.737057,18.950498,8.564577,6.790595,10.037249,13.370176,18.694307,24.339783,26.357406
24,Other external causes of accidental injury,91.083,79.8961,170.819,224.367766,216.038637,169.424888,154.884390,169.716750,194.994193,...,209.812130,247.392880,258.792735,274.066461,324.250912,385.876475,516.980123,660.532165,876.232202,843.437006
25,Undetermined intent,9.15919,3.67943,5.75149,38.400351,47.760608,32.831139,20.897100,27.042779,23.896347,...,18.706142,13.187254,10.659655,7.905763,16.976488,14.498249,14.855751,22.848597,32.453045,79.072219
26,Other or missing,n.p.,n.p.,n.p.,3.291459,5.356330,4.863872,4.507218,4.196293,1.911708,...,6.572428,13.187254,15.989482,11.858645,13.581190,25.650748,25.254776,29.080032,36.509675,13.178703
27,Total,1098.08,1033.92,1009.96,1523.396785,1431.479150,1115.853387,935.862292,1013.637953,1081.548674,...,1363.020486,1537.106295,1647.508898,2102.933038,2800.271624,4408.582963,7044.596963,11145.960991,14620.096548,16868.740116
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Transport accidents,43.0262,93.2745,206.398,340.785388,392.623309,320.590260,288.489198,271.699136,270.841128,...,269.703326,247.985456,203.854311,193.422942,204.214320,226.966452,262.423736,283.710788,218.114111,162.430728
30,Accidental drowning and submersion,4.20371,2.55547,0.839015,2.413114,3.055434,0.812135,1.034753,0.934477,1.448348,...,0.000000,0.810410,0.915513,0.000000,0.000000,0.591058,0.000000,1.238912,0.000000,0.000000
31,Accidental poisoning,71.463,9.45523,7.55114,32.442983,52.815364,35.327869,32.905152,33.173927,33.070619,...,29.708700,31.876126,23.498177,26.760792,39.708340,57.332671,67.882481,84.245998,95.757415,143.321231
32,Falls,590.744,659.31,556.267,356.068447,267.350502,259.883174,224.127548,251.841503,285.807394,...,495.231108,641.574573,795.886293,1100.918674,1607.533239,2762.016219,4939.692211,8713.266267,12248.969278,14542.327537
33,"Exposure to smoke, fire, flames, hot substances",41.5425,9.96632,10.3479,12.869944,18.769096,18.882137,19.453361,19.156775,18.104353,...,15.500191,12.426286,14.953385,16.259722,13.090662,18.322812,20.695878,29.733882,34.579066,47.773744
34,Exposure to inanimate mechanical forces,345.199,260.402,231.289,321.748596,363.378437,328.508575,289.110050,300.200679,286.772959,...,276.420076,275.269259,266.719563,230.346061,220.359470,219.282691,257.456725,266.366024,356.430376,353.525702
35,Exposure to animate mechanical forces,54.1536,65.931,135.361,217.984674,151.898734,132.987093,84.435863,73.356430,67.348195,...,71.817552,60.780749,56.151487,47.762933,46.690026,54.968437,52.153613,70.617969,23.939354,38.218995
36,Intentional self-harm,n.p.,n.p.,n.p.,296.008709,214.971628,139.484173,103.682273,118.912176,121.419864,...,104.109617,64.292526,60.423883,35.906886,32.726654,30.735040,28.146394,35.928440,39.898923,85.992738
37,Assault,7.41831,2.81101,21.8144,106.713284,136.621563,114.917091,110.511644,103.726927,99.453249,...,67.167495,39.710089,29.601599,21.679629,16.581505,19.504929,19.868043,21.061500,15.959569,28.664246
38,Other external causes of accidental injury,104.598,84.0748,216.466,417.468804,380.619817,307.190033,264.896825,265.625037,273.737825,...,266.603288,272.027619,260.616141,257.784342,301.085216,341.040736,463.587672,614.500223,766.059316,735.715651
39,Undetermined intent,11.1275,4.34429,8.66983,39.146079,46.049760,35.733936,31.249547,35.977358,27.518617,...,24.283633,16.208200,10.986160,8.807349,15.272438,14.776462,17.384538,21.061500,31.919138,95.547487
40,Other or missing,n.p.,n.p.,n.p.,5.362477,6.547359,6.497079,5.173766,6.074099,4.345045,...,13.433499,12.696423,13.122358,13.549768,19.199637,28.370806,34.769075,29.733882,29.259210,19.109497
41,Total,1275.95,1193.15,1436.95,2149.012500,2034.701004,1700.813556,1455.069980,1480.678524,1489.867597,...,1633.978486,1675.657715,1736.728871,1953.199100,2516.461507,3773.908315,6164.060366,10171.465385,13860.885756,16252.627556
42,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1. Denominators for age‑specific rates are est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2. Persons totals include cases for which sex ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3. Counts based on patients state of usual res...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,"n.p. not publishable because of small numbers,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Data source: AIHW National Hospital Morbidity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
NSW_falls_data_df1 = NSW_falls_data.parse('Table S4', skiprows=2, index_col=None)

In [114]:
NSW_falls_data_df1

,Unnamed: 0,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,...,50–54,55–59,60–64,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,50.7133,133.308,300.976,522.211710,498.267215,380.980467,337.837838,342.909571,342.852217,...,319.166597,306.702859,271.109530,226.661969,209.816461,213.043645,252.884463,380.174266,350.516710,165.791655
2,Accidental drowning and submersion,31.9884,90.5561,121.15,208.801330,222.995599,177.287940,146.734118,132.652866,150.463144,...,177.222545,174.166444,156.705154,145.147804,175.629114,229.357798,307.484518,358.922289,447.210975,442.111080
3,Accidental poisoning,82.7017,224.253,422.126,731.013041,721.262813,558.268408,484.571956,475.562437,493.315361,...,496.389143,480.869303,427.814684,371.809772,385.445575,442.401443,560.368981,739.096555,797.727685,607.902736
4,Falls,598.807,728.724,859.027,575.974927,456.958194,359.033798,301.154308,312.326777,398.100403,...,498.464348,553.509454,694.597998,927.157890,1425.143118,2281.102453,4303.346409,7676.686581,12715.295824,16744.957170
5,"Exposure to smoke, fire, flames, hot substances",74.5095,20.21,13.9302,40.009836,35.825522,34.291671,24.106319,31.729648,32.521982,...,31.128082,30.585327,13.459338,24.717198,15.417823,29.749338,18.678966,37.781294,12.086783,165.791655
6,Exposure to inanimate mechanical forces,324.175,280.607,289.156,546.384319,712.489216,602.161747,525.797255,525.641761,492.923530,...,434.132979,419.698650,372.054568,353.929246,341.873467,316.686500,323.289797,396.703582,350.516710,414.479138
7,Exposure to animate mechanical forces,68.2679,83.5604,160.83,209.634869,178.030912,131.680018,101.316415,94.424374,70.529599,...,65.576492,62.020246,56.721497,59.952354,48.934830,55.660051,67.531646,37.781294,18.130175,55.263885
8,Intentional self-harm,n.p.,n.p.,n.p.,176.710108,176.203080,156.027104,150.227787,131.888296,149.679482,...,119.116793,82.835260,64.893239,58.900558,41.561088,23.031745,81.900082,56.671940,72.520699,82.895828
9,Assault,12.0932,6.21845,22.7948,181.711337,207.641803,191.004609,158.961961,145.650553,135.181731,...,107.495642,73.489743,39.416634,35.235155,21.450884,24.951058,24.426340,16.529316,24.173566,27.631943
10,Other external causes of accidental injury,76.8502,55.5774,175.604,323.829608,310.366005,270.904203,230.931552,227.459526,226.478379,...,167.261559,169.068889,143.245816,158.295250,132.727346,207.285709,324.726641,316.418333,447.210975,414.479138
11,Undetermined intent,8.19215,6.6071,7.17614,33.341530,43.867987,38.063755,39.129098,40.522201,30.170995,...,22.827260,21.239810,12.497957,11.569752,14.077143,13.435185,12.931592,23.613308,24.173566,82.895828
12,Other or missing,n.p.,n.p.,n.p.,317.161302,292.087677,262.674202,226.739149,244.662347,256.257543,...,241.138873,225.991581,191.795572,189.323222,184.343536,141.069441,225.584436,280.998371,549.948631,442.111080
13,Total,1351.31,1368.45,1975.55,2966.562613,2970.228260,2476.887414,2151.052293,2153.028652,2198.172500,...,2049.057857,1987.196642,1900.170164,2085.184932,2486.961884,3369.352424,5721.510985,9306.004864,14661.267904,18623.929262
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Transport accidents,33.8097,95.423,128.622,220.619319,232.908879,177.159756,144.538509,132.300853,148.568864,...,171.823380,167.286852,149.302948,141.495650,169.396187,205.720582,247.381685,242.265823,226.292774,163.666121
16,Accidental drowning and submersion,10.3078,2.45724,0.448161,0.440358,2.290907,0.000000,0.000000,1.525082,0.386898,...,0.000000,0.816033,0.457985,1.025331,0.646550,0.000000,0.000000,1.593854,0.000000,0.000000
17,Accidental poisoning,58.1362,9.82898,12.9967,47.558656,40.472690,31.525527,34.413931,35.458154,37.916012,...,37.825287,26.929103,37.554729,38.449905,49.137825,45.620045,87.855178,90.849684,125.378429,143.207856
18,Falls,485.705,573.766,361.218,180.546748,190.908917,179.901106,192.718012,228.381011,256.900327,...,441.831549,699.340645,888.947918,1310.885424,1953.228549,3291.529304,5812.313597,10296.297477,14326.778998,17645.253682
19,"Exposure to smoke, fire, flames, hot substances",58.1362,13.5148,13.4448,17.173959,15.654531,17.476107,15.486269,16.394630,20.118700,...,12.474297,12.240501,10.991628,10.253308,12.931007,17.215111,28.899729,25.501666,27.522094,20.458265
20,Exposure to inanimate mechanical forces,246.563,189.208,145.652,172.179948,151.963498,143.235547,151.765435,137.638639,143.539189,...,123.535779,125.261131,126.861707,113.811719,123.491113,161.822047,191.894204,312.395403,388.367328,490.998363
21,Exposure to animate mechanical forces,54.4254,45.0495,56.9165,79.264426,68.727210,55.855010,48.867782,42.702293,62.677489,...,59.152311,58.754407,59.537985,48.703213,52.370577,56.809868,63.579405,52.597185,76.450261,61.374795
22,Intentional self-harm,n.p.,n.p.,n.p.,662.298316,331.417881,202.859914,179.296579,165.852654,194.609736,...,150.898753,102.004178,67.781706,49.215878,49.137825,34.430223,45.083578,38.252498,64.218220,51.145663
23,Assault,9.48321,2.45724,11.6522,47.558656,62.618125,57.911023,55.062289,50.327702,52.231241,...,35.410907,19.992819,16.029458,10.765973,10.344805,14.632845,20.807805,27.095520,3.058010,10.229133
24,Other external causes of accidental injury,50.7145,48.7353,89.6322,109.208765,115.690804,119.934071,93.261752,102.561756,100.980400,...,101.403962,110.980546,105.794420,134.831000,181.680643,248.758360,342.172797,452.654564,535.151830,470.540098
25,Undetermined intent,2.47388,4.09541,9.85955,29.503981,25.199977,24.329483,19.615941,21.732417,20.505598,...,14.888677,12.240501,13.739535,6.664650,12.931007,10.329067,10.403903,9.563125,15.290052,40.916530
26,Other or missing,n.p.,n.p.,n.p.,117.135207,101.181726,76.415136,71.236837,84.642044,112.974240,...,131.181316,154.230317,185.483723,172.255574,174.568589,202.277559,286.685317,334.709361,486.223663,398.936170
27,Total,1037.79,1023.03,1082.31,1683.488339,1339.035146,1086.602679,1006.263335,1019.517235,1151.408696,...,1280.426219,1490.077034,1662.483742,2038.357625,2789.864677,4289.145011,7137.077197,11883.776159,16274.731660,19496.726678
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Transport accidents,42.4954,115.061,217.377,375.565543,368.473050,279.033256,240.459630,237.465306,245.095176,...,244.355410,235.590381,208.733014,183.536253,189.241225,209.183187,249.835045,297.839947,268.031189,164.240388
30,Accidental drowning and submersion,13.4302,2.39294,1.95639,2.569434,3.548397,0.342793,1.213567,1.717997,1.946745,...,0.817242,1.040594,0.469063,1.817191,1.316461,1.815039,0.000000,1.903131,0.000000,0.000000
31,Accidental poisoning,69.7567,11.1671,10.6515,41.110937,47.249712,40.449538,43.341678,44.667911,48.863296,...,39.431935,33.715231,38.697694,37.641806,49.367276,52.182357,87.121964,86.592445,115.740741,111.982083
32,Falls,543.821,653.273,617.568,383.702083,326.826071,269.435060,246.527465,270.298130,327.053134,...,469.914251,627.894151,794.123579,1121.466213,1693.955800,2813.763437,5139.555294,9240.650871,13785.331384,17402.015677
33,"Exposure to smoke, fire, flames, hot substances",66.5495,16.95,13.6948,28.906128,25.959328,25.880849,19.763805,24.051952,26.281055,...,21.656918,21.228109,12.195637,17.393110,14.151952,23.141741,24.342902,30.450090,22.335932,59.723778
34,Exposure to inanimate mechanical forces,286.443,236.103,219.551,364.431331,438.320450,372.615663,337.371622,331.382453,317.124736,...,276.432166,269.513731,246.492582,232.340801,230.709737,235.047486,250.475647,346.369778,375.649773,470.324748
35,Exposure to animate mechanical forces,61.5382,64.8088,110.428,146.243595,124.567422,93.753803,74.894420,68.528975,66.578674,...,62.314716,60.354426,58.163806,54.256120,50.683737,56.266194,65.341473,46.626701,56.855101,59.723778
36,Intentional self-harm,n.p.,n.p.,n.p.,412.822330,252.309727,179.451977,165.045110,148.893038,172.286919,...,135.253580,92.612826,66.372408,53.996521,45.417894,29.040616,61.497857,45.675136,67.007797,59.723778
37,Assault,10.8243,4.38706,17.3902,116.480989,136.706676,124.433749,106.620528,97.925805,93.443753,...,70.895759,46.202354,27.440183,22.844682,15.797528,19.511664,22.421094,22.837568,10.152697,14.930944
38,Other external causes of accidental injury,64.1441,52.2459,134.122,219.472452,215.144933,195.391838,161.577776,164.927672,163.331893,...,133.823406,139.439536,124.067151,146.413645,157.646168,229.148611,334.394598,397.754306,505.604288,455.393804
39,Undetermined intent,5.41216,5.38412,8.47771,31.475561,34.736942,31.194136,29.298974,31.114827,25.307683,...,18.796570,16.649497,13.133763,9.085953,13.493722,11.797750,11.530848,15.225045,18.274854,52.258305
40,Other or missing,n.p.,n.p.,n.p.,219.900691,198.710251,169.510989,148.401906,164.545895,184.162063,...,185.309663,189.388027,188.563307,180.680668,179.367770,173.336177,259.444085,313.064992,507.634828,410.600971
41,Total,1198.89,1200.46,1542.51,2342.681075,2172.552960,1781.493651,1574.516480,1585.519961,1671.475126,...,1659.001616,1733.628862,1778.452186,2061.472963,2641.149270,3854.234258,6505.960808,10844.990009,15732.618583,19260.918253
42,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1. Denominators for age‑specific rates are est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2. Persons totals include cases for which sex ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3. Counts based on patients state of usual res...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,4. Intentional self-harm rates have been suppr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"n.p. not publishable because of small numbers,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Data source: AIHW National Hospital Morbidity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [307]:
NT_falls_data_df1 = NT_falls_data.parse('Table S4', skiprows=2, index_col=None)

In [308]:
NT_falls_data_df1.head()

,Unnamed: 0,0–4,5–9,10–14,15–19,20–24,25–29,30–34,35–39,40–44,...,50–54,55–59,60–64,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,132.275,349.428,552.818,1181.05,1192.8,749.84,702.421,621.554,754.758,...,469.136,367.439,380.755,568.586,473.56,346.741,n.p.,n.p.,n.p.,n.p.
2,Accidental drowning and submersion,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,...,n.p.,n.p.,n.p.,n.p.,n.p.,0,0,0,n.p.,n.p.
3,Accidental poisoning,71.2251,n.p.,120.178,87.9507,102.828,127.632,82.6378,70.1754,87.5082,...,98.7654,98.9259,n.p.,n.p.,n.p.,n.p.,n.p.,0,n.p.,n.p.
4,Falls,763.126,1185.94,913.352,929.765,709.512,678.047,520.618,751.88,853.205,...,1024.69,1003.39,1107.65,1374.08,2446.72,4785.02,7058.82,11111.1,n.p.,n.p.

In [115]:
NSW_falls_data_df1.drop(NSW_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [116]:
NSW_falls_data_df1

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,226.661969,209.816461,213.043645,252.884463,380.174266,350.516710,165.791655
2,Accidental drowning and submersion,145.147804,175.629114,229.357798,307.484518,358.922289,447.210975,442.111080
3,Accidental poisoning,371.809772,385.445575,442.401443,560.368981,739.096555,797.727685,607.902736
4,Falls,927.157890,1425.143118,2281.102453,4303.346409,7676.686581,12715.295824,16744.957170
5,"Exposure to smoke, fire, flames, hot substances",24.717198,15.417823,29.749338,18.678966,37.781294,12.086783,165.791655
6,Exposure to inanimate mechanical forces,353.929246,341.873467,316.686500,323.289797,396.703582,350.516710,414.479138
7,Exposure to animate mechanical forces,59.952354,48.934830,55.660051,67.531646,37.781294,18.130175,55.263885
8,Intentional self-harm,58.900558,41.561088,23.031745,81.900082,56.671940,72.520699,82.895828
9,Assault,35.235155,21.450884,24.951058,24.426340,16.529316,24.173566,27.631943
10,Other external causes of accidental injury,158.295250,132.727346,207.285709,324.726641,316.418333,447.210975,414.479138
11,Undetermined intent,11.569752,14.077143,13.435185,12.931592,23.613308,24.173566,82.895828
12,Other or missing,189.323222,184.343536,141.069441,225.584436,280.998371,549.948631,442.111080
13,Total,2085.184932,2486.961884,3369.352424,5721.510985,9306.004864,14661.267904,18623.929262
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Transport accidents,141.495650,169.396187,205.720582,247.381685,242.265823,226.292774,163.666121
16,Accidental drowning and submersion,1.025331,0.646550,0.000000,0.000000,1.593854,0.000000,0.000000
17,Accidental poisoning,38.449905,49.137825,45.620045,87.855178,90.849684,125.378429,143.207856
18,Falls,1310.885424,1953.228549,3291.529304,5812.313597,10296.297477,14326.778998,17645.253682
19,"Exposure to smoke, fire, flames, hot substances",10.253308,12.931007,17.215111,28.899729,25.501666,27.522094,20.458265
20,Exposure to inanimate mechanical forces,113.811719,123.491113,161.822047,191.894204,312.395403,388.367328,490.998363
21,Exposure to animate mechanical forces,48.703213,52.370577,56.809868,63.579405,52.597185,76.450261,61.374795
22,Intentional self-harm,49.215878,49.137825,34.430223,45.083578,38.252498,64.218220,51.145663
23,Assault,10.765973,10.344805,14.632845,20.807805,27.095520,3.058010,10.229133
24,Other external causes of accidental injury,134.831000,181.680643,248.758360,342.172797,452.654564,535.151830,470.540098
25,Undetermined intent,6.664650,12.931007,10.329067,10.403903,9.563125,15.290052,40.916530
26,Other or missing,172.255574,174.568589,202.277559,286.685317,334.709361,486.223663,398.936170
27,Total,2038.357625,2789.864677,4289.145011,7137.077197,11883.776159,16274.731660,19496.726678
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Transport accidents,183.536253,189.241225,209.183187,249.835045,297.839947,268.031189,164.240388
30,Accidental drowning and submersion,1.817191,1.316461,1.815039,0.000000,1.903131,0.000000,0.000000
31,Accidental poisoning,37.641806,49.367276,52.182357,87.121964,86.592445,115.740741,111.982083
32,Falls,1121.466213,1693.955800,2813.763437,5139.555294,9240.650871,13785.331384,17402.015677
33,"Exposure to smoke, fire, flames, hot substances",17.393110,14.151952,23.141741,24.342902,30.450090,22.335932,59.723778
34,Exposure to inanimate mechanical forces,232.340801,230.709737,235.047486,250.475647,346.369778,375.649773,470.324748
35,Exposure to animate mechanical forces,54.256120,50.683737,56.266194,65.341473,46.626701,56.855101,59.723778
36,Intentional self-harm,53.996521,45.417894,29.040616,61.497857,45.675136,67.007797,59.723778
37,Assault,22.844682,15.797528,19.511664,22.421094,22.837568,10.152697,14.930944
38,Other external causes of accidental injury,146.413645,157.646168,229.148611,334.394598,397.754306,505.604288,455.393804
39,Undetermined intent,9.085953,13.493722,11.797750,11.530848,15.225045,18.274854,52.258305
40,Other or missing,180.680668,179.367770,173.336177,259.444085,313.064992,507.634828,410.600971
41,Total,2061.472963,2641.149270,3854.234258,6505.960808,10844.990009,15732.618583,19260.918253
42,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1. Denominators for age‑specific rates are est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2. Persons totals include cases for which sex ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3. Counts based on patients state of usual res...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,4. Intentional self-harm rates have been suppr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"n.p. not publishable because of small numbers,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Data source: AIHW National Hospital Morbidity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
NSW_falls_data_df1_males = NSW_falls_data_df1.iloc[4:5]
NSW_falls_data_df1_males1 = NSW_falls_data_df1.iloc[13:14]

In [118]:
NSW_falls_data_df1_males.columns

Index(['Unnamed: 0', '65–69', '70–74', '75–79', '80–84', '85–89', '90–94',
       '95+'],
      dtype='object')

In [119]:
NSW_falls_data_df1_males

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
4,Falls,927.15789,1425.143118,2281.102453,4303.346409,7676.686581,12715.295824,16744.95717

In [120]:
NSW_falls_data_df1_males1

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
13,Total,2085.184932,2486.961884,3369.352424,5721.510985,9306.004864,14661.267904,18623.929262

In [121]:
NSW_falls_data_df1_males_final = pd.concat([NSW_falls_data_df1_males,NSW_falls_data_df1_males1])

In [122]:
NSW_falls_data_df1_males_final

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
4,Falls,927.157890,1425.143118,2281.102453,4303.346409,7676.686581,12715.295824,16744.957170
13,Total,2085.184932,2486.961884,3369.352424,5721.510985,9306.004864,14661.267904,18623.929262

In [123]:
NSW_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [124]:
NSW_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

In [125]:
NSW_falls_data_df1_males_final['Gender'] = 'Male'

In [126]:
NSW_falls_data_df1_females = NSW_falls_data_df1.iloc[18:19]

In [127]:
NSW_falls_data_df1_females1 = NSW_falls_data_df1.iloc[27:28]

In [128]:
NSW_falls_data_df1_females

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
18,Falls,1310.885424,1953.228549,3291.529304,5812.313597,10296.297477,14326.778998,17645.253682

In [129]:
NSW_falls_data_df1_females_final = pd.concat([NSW_falls_data_df1_females,NSW_falls_data_df1_females1])

In [130]:
NSW_falls_data_df1_females_final

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
18,Falls,1310.885424,1953.228549,3291.529304,5812.313597,10296.297477,14326.778998,17645.253682
27,Total,2038.357625,2789.864677,4289.145011,7137.077197,11883.776159,16274.731660,19496.726678

In [131]:
NSW_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [132]:
NSW_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

In [133]:
NSW_falls_data_df1_females_final['Gender'] = 'Female'

In [134]:
NSW_falls_data_df1_persons = NSW_falls_data_df1.iloc[32:33]

In [135]:
NSW_falls_data_df1_persons1 = NSW_falls_data_df1.iloc[41:42]

In [136]:
NSW_falls_data_df1_persons

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
32,Falls,1121.466213,1693.9558,2813.763437,5139.555294,9240.650871,13785.331384,17402.015677

In [137]:
NSW_falls_data_df1_persons1

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
41,Total,2061.472963,2641.14927,3854.234258,6505.960808,10844.990009,15732.618583,19260.918253

In [138]:
NSW_falls_data_df1_persons_final = pd.concat([NSW_falls_data_df1_persons,NSW_falls_data_df1_persons1])

In [139]:
NSW_falls_data_df1_persons_final

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
32,Falls,1121.466213,1693.95580,2813.763437,5139.555294,9240.650871,13785.331384,17402.015677
41,Total,2061.472963,2641.14927,3854.234258,6505.960808,10844.990009,15732.618583,19260.918253

In [140]:
NSW_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [141]:
NSW_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

In [142]:
NSW_falls_data_df1_persons_final['Gender'] = 'Persons'

In [143]:
NSW_falls_data_final = pd.concat([NSW_falls_data_df1_males_final,NSW_falls_data_df1_females_final,
                                 NSW_falls_data_df1_persons_final])

In [144]:
NSW_falls_data_final.reset_index(inplace=True)

In [145]:
NSW_falls_data_final

,index,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
0,4,Falls,927.157890,1425.143118,2281.102453,4303.346409,7676.686581,12715.295824,16744.957170,Male
1,13,Total_Injuries,2085.184932,2486.961884,3369.352424,5721.510985,9306.004864,14661.267904,18623.929262,Male
2,18,Falls,1310.885424,1953.228549,3291.529304,5812.313597,10296.297477,14326.778998,17645.253682,Female
3,27,Total_Injuries,2038.357625,2789.864677,4289.145011,7137.077197,11883.776159,16274.731660,19496.726678,Female
4,32,Falls,1121.466213,1693.955800,2813.763437,5139.555294,9240.650871,13785.331384,17402.015677,Persons
5,41,Total_Injuries,2061.472963,2641.149270,3854.234258,6505.960808,10844.990009,15732.618583,19260.918253,Persons

In [146]:
NSW_falls_data_final.drop(NSW_falls_data_final.columns[0], axis=1,inplace=True)

In [147]:
NSW_falls_data_final['State'] = 'NSW'

In [148]:
VIC_falls_data_df1.drop(VIC_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [149]:
VIC_falls_data_df1.head(20)

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,207.084089,204.739541,218.807374,282.332704,349.983115,293.572311,173.731758
2,Accidental drowning and submersion,0.000000,0.000000,0.000000,0.000000,3.070027,0.000000,0.000000
3,Accidental poisoning,29.981871,36.817198,57.845628,71.050614,122.801093,92.707046,173.731758
4,Falls,801.143495,1215.865518,2003.219235,3803.077613,7199.214073,10931.705810,13134.120917
5,"Exposure to smoke, fire, flames, hot substances",21.614838,13.469707,22.635246,24.306789,33.770301,46.353523,104.239055
6,Exposure to inanimate mechanical forces,359.782457,331.354783,310.605870,302.899987,291.652596,370.828183,173.731758
7,Exposure to animate mechanical forces,44.624181,44.899022,51.558059,50.483331,58.330519,0.000000,0.000000
8,Intentional self-harm,29.284619,26.939413,26.407787,29.916048,52.190464,77.255871,208.478110
9,Assault,35.559894,26.939413,30.180327,28.046295,24.560219,0.000000,34.746352
10,Other external causes of accidental injury,240.552224,276.577976,290.485652,396.387637,546.464864,556.242274,451.702571
11,Undetermined intent,9.761540,13.469707,15.090164,20.567283,18.420164,30.902349,138.985407
12,Other or missing,15.339562,25.143452,31.437841,46.743825,30.700273,15.451174,34.746352
13,Total,1794.728769,2216.215731,3058.273182,5055.812127,8731.157707,12415.018541,14628.214038
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Transport accidents,180.514929,203.717851,234.202485,246.605461,238.871695,178.491745,158.144439
16,Accidental drowning and submersion,0.000000,0.000000,1.115250,0.000000,0.000000,0.000000,0.000000
17,Accidental poisoning,23.717290,42.441219,56.877746,65.365303,58.160065,97.359134,131.787032
18,Falls,1384.167391,1977.760801,3434.969777,5842.766735,9737.656565,12940.651495,15076.436479
19,"Exposure to smoke, fire, flames, hot substances",11.199831,12.732366,14.498249,17.826901,27.002887,28.396414,26.357406

In [150]:
VIC_falls_data_df1_males = VIC_falls_data_df1.iloc[4:5]
VIC_falls_data_df1_males1 = VIC_falls_data_df1.iloc[13:14]

In [151]:
VIC_falls_data_df1_males

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
4,Falls,801.143495,1215.865518,2003.219235,3803.077613,7199.214073,10931.70581,13134.120917

In [152]:
VIC_falls_data_df1_males1

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
13,Total,1794.728769,2216.215731,3058.273182,5055.812127,8731.157707,12415.018541,14628.214038

In [153]:
VIC_falls_data_df1_males_final = pd.concat([VIC_falls_data_df1_males,VIC_falls_data_df1_males1])

In [154]:
VIC_falls_data_df1_males_final

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
4,Falls,801.143495,1215.865518,2003.219235,3803.077613,7199.214073,10931.705810,13134.120917
13,Total,1794.728769,2216.215731,3058.273182,5055.812127,8731.157707,12415.018541,14628.214038

In [155]:
VIC_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [156]:
VIC_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

In [157]:
VIC_falls_data_df1_males_final['Gender'] = 'Male'

In [158]:
VIC_falls_data_df1_females = VIC_falls_data_df1.iloc[18:19]
VIC_falls_data_df1_females1 = VIC_falls_data_df1.iloc[27:28]

In [159]:
VIC_falls_data_df1_females_final = pd.concat([VIC_falls_data_df1_females,VIC_falls_data_df1_females1])

In [160]:
VIC_falls_data_df1_females_final

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
18,Falls,1384.167391,1977.760801,3434.969777,5842.766735,9737.656565,12940.651495,15076.436479
27,Total,2102.933038,2800.271624,4408.582963,7044.596963,11145.960991,14620.096548,16868.740116

In [161]:
VIC_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [162]:
VIC_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

In [163]:
VIC_falls_data_df1_females_final['Gender'] = 'Female'

In [164]:
VIC_falls_data_df1_persons = VIC_falls_data_df1.iloc[32:33]
VIC_falls_data_df1_persons1 = VIC_falls_data_df1.iloc[41:42]

In [165]:
VIC_falls_data_df1_persons_final = pd.concat([VIC_falls_data_df1_persons,VIC_falls_data_df1_persons1])

In [166]:
VIC_falls_data_df1_persons_final

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
32,Falls,1100.918674,1607.533239,2762.016219,4939.692211,8713.266267,12248.969278,14542.327537
41,Total,1953.199100,2516.461507,3773.908315,6164.060366,10171.465385,13860.885756,16252.627556

In [167]:
VIC_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [168]:
VIC_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

In [169]:
VIC_falls_data_df1_persons_final['Gender'] = 'Persons'

In [170]:
VIC_falls_data_final = pd.concat([VIC_falls_data_df1_males_final,VIC_falls_data_df1_females_final,
                                 VIC_falls_data_df1_persons_final])

In [171]:
VIC_falls_data_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
4,Falls,801.143495,1215.865518,2003.219235,3803.077613,7199.214073,10931.705810,13134.120917,Male
13,Total_Injuries,1794.728769,2216.215731,3058.273182,5055.812127,8731.157707,12415.018541,14628.214038,Male
18,Falls,1384.167391,1977.760801,3434.969777,5842.766735,9737.656565,12940.651495,15076.436479,Female
27,Total_Injuries,2102.933038,2800.271624,4408.582963,7044.596963,11145.960991,14620.096548,16868.740116,Female
32,Falls,1100.918674,1607.533239,2762.016219,4939.692211,8713.266267,12248.969278,14542.327537,Persons
41,Total_Injuries,1953.199100,2516.461507,3773.908315,6164.060366,10171.465385,13860.885756,16252.627556,Persons

In [172]:
VIC_falls_data_final.reset_index(inplace=True)

In [173]:
VIC_falls_data_final.drop(VIC_falls_data_final.columns[0], axis=1,inplace=True)

In [174]:
VIC_falls_data_final['State'] = 'VIC'

In [175]:
QLD_falls_data_df1.drop(QLD_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [176]:
QLD_falls_data_df1.head()

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport crash,251.373398,275.289538,237.770102,318.862549,351.229303,286.944046,50.377834
2,Accidental drowning and submersion,1.664724,2.150700,0.000000,0.000000,4.561420,11.956002,0.000000
3,Accidental poisoning,41.618112,58.068887,93.180175,81.022451,196.141039,131.516021,50.377834
4,Falls,1016.314300,1516.243158,2668.487429,4824.756279,8725.995530,14395.026303,16272.040302

In [177]:
QLD_falls_data_df1_males = QLD_falls_data_df1.iloc[4:5]
QLD_falls_data_df1_males1 = QLD_falls_data_df1.iloc[13:14]

In [178]:
QLD_falls_data_df1_males_final = pd.concat([QLD_falls_data_df1_males,QLD_falls_data_df1_males1])

In [179]:
QLD_falls_data_df1_males_final

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
4,Falls,1016.314300,1516.243158,2668.487429,4824.756279,8725.99553,14395.026303,16272.040302
13,Total,2238.222074,2806.662867,3982.649209,6272.705889,10413.72075,16296.030607,17581.863980

In [180]:
QLD_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [181]:
QLD_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

In [182]:
QLD_falls_data_df1_males_final['Gender'] = 'Male'

In [183]:
QLD_falls_data_df1_females = QLD_falls_data_df1.iloc[18:19]

QLD_falls_data_df1_females1 = QLD_falls_data_df1.iloc[27:28]

In [184]:
QLD_falls_data_df1_females_final = pd.concat([QLD_falls_data_df1_females,QLD_falls_data_df1_females1])

In [185]:
QLD_falls_data_df1_females_final

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
18,Falls,1454.123036,2194.530685,3845.340902,6925.936393,11910.133193,16407.112201,21031.902324
27,Total,2232.676163,3067.452048,4959.538619,8212.864938,13464.569362,18129.981606,22528.554549

In [186]:
QLD_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

QLD_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

QLD_falls_data_df1_females_final['Gender'] = 'Female'

In [187]:
QLD_falls_data_df1_persons = QLD_falls_data_df1.iloc[32:33]

QLD_falls_data_df1_persons1 = QLD_falls_data_df1.iloc[41:42]

QLD_falls_data_df1_persons_final = pd.concat([QLD_falls_data_df1_persons,QLD_falls_data_df1_persons1])

QLD_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

QLD_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

QLD_falls_data_df1_persons_final['Gender'] = 'Persons'

In [188]:
QLD_falls_data_df1_persons_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
32,Falls,1236.341654,1857.307065,3275.192441,5971.849707,10624.147968,15725.054713,19694.180943,Persons
41,Total_Injuries,2235.434893,2937.795718,4486.266452,7331.893380,12232.415902,17508.308341,21138.326490,Persons

In [189]:
QLD_falls_data_final = pd.concat([QLD_falls_data_df1_males_final,QLD_falls_data_df1_females_final,
                                 QLD_falls_data_df1_persons_final])

In [190]:
QLD_falls_data_final.reset_index(inplace=True)

QLD_falls_data_final.drop(QLD_falls_data_final.columns[0], axis=1,inplace=True)

QLD_falls_data_final['State'] = 'QLD'

In [191]:
QLD_falls_data_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender,State
0,Falls,1016.314300,1516.243158,2668.487429,4824.756279,8725.995530,14395.026303,16272.040302,Male,QLD
1,Total_Injuries,2238.222074,2806.662867,3982.649209,6272.705889,10413.720750,16296.030607,17581.863980,Male,QLD
2,Falls,1454.123036,2194.530685,3845.340902,6925.936393,11910.133193,16407.112201,21031.902324,Female,QLD
3,Total_Injuries,2232.676163,3067.452048,4959.538619,8212.864938,13464.569362,18129.981606,22528.554549,Female,QLD
4,Falls,1236.341654,1857.307065,3275.192441,5971.849707,10624.147968,15725.054713,19694.180943,Persons,QLD
5,Total_Injuries,2235.434893,2937.795718,4486.266452,7331.893380,12232.415902,17508.308341,21138.326490,Persons,QLD

In [192]:
TAS_falls_data_df1.drop(TAS_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [193]:
TAS_falls_data_df1_males = TAS_falls_data_df1.iloc[4:5]
TAS_falls_data_df1_males1 = TAS_falls_data_df1.iloc[13:14]

TAS_falls_data_df1_males_final = pd.concat([TAS_falls_data_df1_males,TAS_falls_data_df1_males1])

TAS_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

TAS_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

TAS_falls_data_df1_males_final['Gender'] = 'Male'

In [194]:
TAS_falls_data_df1_males_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
4,Falls,806.701831,924.585946,1209.964413,2484.939759,3922.214898,5798.394291,4471.544715,Male
13,Total_Injuries,1644.430655,2001.929571,2052.194543,3237.951807,4878.048780,6601.248885,5284.552846,Male

In [195]:
TAS_falls_data_df1_females = TAS_falls_data_df1.iloc[18:19]

TAS_falls_data_df1_females1 = TAS_falls_data_df1.iloc[27:28]

TAS_falls_data_df1_females_final = pd.concat([TAS_falls_data_df1_females,TAS_falls_data_df1_females1])

TAS_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

TAS_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

TAS_falls_data_df1_females_final['Gender'] = 'Female'

In [196]:
TAS_falls_data_df1_females_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
18,Falls,1113.477335,1430.255403,2245.250432,4181.929182,6290.575330,9387.395328,7462.686567,Female
27,Total_Injuries,1734.104046,2058.939096,2892.918826,5204.517705,7365.122006,10048.479506,8457.711443,Female

In [197]:
TAS_falls_data_df1_persons = TAS_falls_data_df1.iloc[32:33]

TAS_falls_data_df1_persons1 = TAS_falls_data_df1.iloc[41:42]

TAS_falls_data_df1_persons_final = pd.concat([TAS_falls_data_df1_persons,TAS_falls_data_df1_persons1])

TAS_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

TAS_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

TAS_falls_data_df1_persons_final['Gender'] = 'Persons'

In [198]:
TAS_falls_data_df1_persons_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
32,Falls,961.597542,1180.304415,1752.006330,3422.117330,5332.622317,8200.589971,6595.995289,Persons
41,Total_Injuries,1689.708141,2030.759448,2492.370295,4324.005394,6359.152113,8908.554572,7538.280330,Persons

In [199]:
TAS_falls_data_final = pd.concat([TAS_falls_data_df1_males_final,TAS_falls_data_df1_females_final,
                                 TAS_falls_data_df1_persons_final])

In [200]:
TAS_falls_data_final.reset_index(inplace=True)

TAS_falls_data_final.drop(TAS_falls_data_final.columns[0], axis=1,inplace=True)

TAS_falls_data_final['State'] = 'TAS'

In [201]:
TAS_falls_data_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender,State
0,Falls,806.701831,924.585946,1209.964413,2484.939759,3922.214898,5798.394291,4471.544715,Male,TAS
1,Total_Injuries,1644.430655,2001.929571,2052.194543,3237.951807,4878.048780,6601.248885,5284.552846,Male,TAS
2,Falls,1113.477335,1430.255403,2245.250432,4181.929182,6290.575330,9387.395328,7462.686567,Female,TAS
3,Total_Injuries,1734.104046,2058.939096,2892.918826,5204.517705,7365.122006,10048.479506,8457.711443,Female,TAS
4,Falls,961.597542,1180.304415,1752.006330,3422.117330,5332.622317,8200.589971,6595.995289,Persons,TAS
5,Total_Injuries,1689.708141,2030.759448,2492.370295,4324.005394,6359.152113,8908.554572,7538.280330,Persons,TAS

In [202]:
WA_falls_data_df1.drop(WA_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [203]:
WA_falls_data_df1_males = WA_falls_data_df1.iloc[4:5]
WA_falls_data_df1_males1 = WA_falls_data_df1.iloc[13:14]

WA_falls_data_df1_males_final = pd.concat([WA_falls_data_df1_males,WA_falls_data_df1_males1])

WA_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

WA_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

WA_falls_data_df1_males_final['Gender'] = 'Male'

In [204]:
WA_falls_data_df1_males_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
4,Falls,662.544,1016.93,1616.63,3052.71,5588.64,n.p.,n.p.,Male
13,Total_Injuries,1773.58,2036.18,2660.91,4262.17,6926.25,n.p.,n.p.,Male

In [205]:
WA_falls_data_df1_females = WA_falls_data_df1.iloc[18:19]

WA_falls_data_df1_females1 = WA_falls_data_df1.iloc[27:28]

WA_falls_data_df1_females_final = pd.concat([WA_falls_data_df1_females,WA_falls_data_df1_females1])

WA_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

WA_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

WA_falls_data_df1_females_final['Gender'] = 'Female'

In [206]:
WA_falls_data_df1_females_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
18,Falls,1022.7,1521.86,2701.97,4964.69,8202.95,n.p.,n.p.,Female
27,Total_Injuries,1714.62,2229.17,3571.32,5960.99,9443.37,n.p.,n.p.,Female

In [207]:
WA_falls_data_df1_persons = WA_falls_data_df1.iloc[32:33]

WA_falls_data_df1_persons1 = WA_falls_data_df1.iloc[41:42]

WA_falls_data_df1_persons_final = pd.concat([WA_falls_data_df1_persons,WA_falls_data_df1_persons1])

WA_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

WA_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

WA_falls_data_df1_persons_final['Gender'] = 'Persons'

In [208]:
WA_falls_data_df1_persons_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
32,Falls,843.217,1271.31,2186.36,4117.32,7144.45,n.p.,n.p.,Persons
41,Total_Injuries,1744,2133.41,3138.81,5208.09,8424.22,12264.8,14639.2,Persons

In [209]:
WA_falls_data_final = pd.concat([WA_falls_data_df1_males_final,WA_falls_data_df1_females_final,
                                 WA_falls_data_df1_persons_final])

In [210]:
WA_falls_data_final.reset_index(inplace=True)

WA_falls_data_final.drop(WA_falls_data_final.columns[0], axis=1,inplace=True)

WA_falls_data_final['State'] = 'WA'

In [211]:
WA_falls_data_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender,State
0,Falls,662.544,1016.93,1616.63,3052.71,5588.64,n.p.,n.p.,Male,WA
1,Total_Injuries,1773.58,2036.18,2660.91,4262.17,6926.25,n.p.,n.p.,Male,WA
2,Falls,1022.7,1521.86,2701.97,4964.69,8202.95,n.p.,n.p.,Female,WA
3,Total_Injuries,1714.62,2229.17,3571.32,5960.99,9443.37,n.p.,n.p.,Female,WA
4,Falls,843.217,1271.31,2186.36,4117.32,7144.45,n.p.,n.p.,Persons,WA
5,Total_Injuries,1744,2133.41,3138.81,5208.09,8424.22,12264.8,14639.2,Persons,WA

In [212]:
SA_falls_data_df1.drop(SA_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [213]:
SA_falls_data_df1.head()

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,202.848511,197.019730,186.589384,293.592770,505.933217,270.697045,386.847195
2,Accidental drowning and submersion,2.157963,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Accidental poisoning,49.633146,44.398812,115.129620,86.350815,128.783001,203.022784,290.135397
4,Falls,932.239965,1373.588257,2191.432768,4455.702032,8150.124184,12181.367020,14700.193424

In [214]:
SA_falls_data_df1_males = SA_falls_data_df1.iloc[4:5]
SA_falls_data_df1_males1 = SA_falls_data_df1.iloc[13:14]

SA_falls_data_df1_males_final = pd.concat([SA_falls_data_df1_males,SA_falls_data_df1_males1])

SA_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

SA_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

SA_falls_data_df1_males_final['Gender'] = 'Male'

In [215]:
SA_falls_data_df1_males_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
4,Falls,932.239965,1373.588257,2191.432768,4455.702032,8150.124184,12181.367020,14700.193424,Male
13,Total_Injuries,1985.325852,2386.436163,3255.389257,5630.073110,9824.303192,13873.223551,16441.005803,Male

In [216]:
SA_falls_data_df1_females = SA_falls_data_df1.iloc[18:19]

SA_falls_data_df1_females1 = SA_falls_data_df1.iloc[27:28]

SA_falls_data_df1_females_final = pd.concat([SA_falls_data_df1_females,SA_falls_data_df1_females1])

SA_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

SA_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

SA_falls_data_df1_females_final['Gender'] = 'Female'

In [217]:
SA_falls_data_df1_females_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
18,Falls,1345.309872,2019.002375,3380.456949,6067.187283,10407.573615,14615.211521,16235.207101,Female
27,Total_Injuries,2079.488126,2852.938139,4251.494936,7458.065709,11864.510973,16257.875788,18195.266272,Female

In [218]:
SA_falls_data_df1_persons = SA_falls_data_df1.iloc[32:33]

SA_falls_data_df1_persons1 = SA_falls_data_df1.iloc[41:42]

SA_falls_data_df1_persons_final = pd.concat([SA_falls_data_df1_persons,SA_falls_data_df1_persons1])

SA_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

SA_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

SA_falls_data_df1_persons_final['Gender'] = 'Persons'

In [219]:
SA_falls_data_final = pd.concat([SA_falls_data_df1_males_final,SA_falls_data_df1_females_final,
                                 SA_falls_data_df1_persons_final])

In [220]:
SA_falls_data_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
4,Falls,932.239965,1373.588257,2191.432768,4455.702032,8150.124184,12181.367020,14700.193424,Male
13,Total_Injuries,1985.325852,2386.436163,3255.389257,5630.073110,9824.303192,13873.223551,16441.005803,Male
18,Falls,1345.309872,2019.002375,3380.456949,6067.187283,10407.573615,14615.211521,16235.207101,Female
27,Total_Injuries,2079.488126,2852.938139,4251.494936,7458.065709,11864.510973,16257.875788,18195.266272,Female
32,Falls,1144.034826,1707.927082,2827.050998,5349.636009,9503.279534,13805.269875,15810.593900,Persons
41,Total_Injuries,2033.606023,2628.094531,3787.878788,6644.109505,11047.240032,15464.304482,17710.005350,Persons

In [221]:
SA_falls_data_final.reset_index(inplace=True)

SA_falls_data_final.drop(SA_falls_data_final.columns[0], axis=1,inplace=True)

SA_falls_data_final['State'] = 'SA'

In [296]:
ACT_falls_data_df1.drop(ACT_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [297]:
ACT_falls_data_df1_males = ACT_falls_data_df1.iloc[4:5]
ACT_falls_data_df1_males1 = ACT_falls_data_df1.iloc[13:14]

ACT_falls_data_df1_males_final = pd.concat([ACT_falls_data_df1_males,ACT_falls_data_df1_males1])

ACT_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

ACT_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

ACT_falls_data_df1_males_final['Gender'] = 'Male'

In [298]:
ACT_falls_data_df1_males_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
4,Falls,1136.226278,1687.624090,2585.135471,4497.867390,8062.418726,16531.604538,8666.666667,Male
13,Total_Injuries,2224.102502,2564.526803,4001.988566,6203.955021,9427.828349,17990.275527,11333.333333,Male

In [299]:
ACT_falls_data_df1_females = ACT_falls_data_df1.iloc[18:19]

ACT_falls_data_df1_females1 = ACT_falls_data_df1.iloc[27:28]

ACT_falls_data_df1_females_final = pd.concat([ACT_falls_data_df1_females,ACT_falls_data_df1_females1])

ACT_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

ACT_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

ACT_falls_data_df1_females_final['Gender'] = 'Female'

In [300]:
ACT_falls_data_df1_females_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
18,Falls,1264.980027,1855.763428,4518.201285,7004.244997,13810.391978,19047.619048,31250.000000,Female
27,Total_Injuries,1975.144252,2685.576343,5481.798715,8217.101273,15496.809480,20419.693301,33333.333333,Female

In [301]:
ACT_falls_data_df1_persons = ACT_falls_data_df1.iloc[32:33]

ACT_falls_data_df1_persons1 = ACT_falls_data_df1.iloc[41:42]

ACT_falls_data_df1_persons_final = pd.concat([ACT_falls_data_df1_persons,ACT_falls_data_df1_persons1])

ACT_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

ACT_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

ACT_falls_data_df1_persons_final['Gender'] = 'Persons'

In [302]:
ACT_falls_data_final = pd.concat([ACT_falls_data_df1_males_final,ACT_falls_data_df1_persons_final,
                                 ACT_falls_data_df1_persons_final])

In [305]:
ACT_falls_data_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender,State
0,Falls,1136.226278,1687.624090,2585.135471,4497.867390,8062.418726,16531.604538,8666.666667,Male,ACT
1,Total_Injuries,2224.102502,2564.526803,4001.988566,6203.955021,9427.828349,17990.275527,11333.333333,Male,ACT
2,Falls,1203.355511,1775.568182,3623.605200,5904.372979,11441.586281,18211.206897,24279.835391,Persons,ACT
3,Total_Injuries,2094.301417,2627.840909,4796.963074,7333.673643,12995.712755,19612.068966,26543.209877,Persons,ACT
4,Falls,1203.355511,1775.568182,3623.605200,5904.372979,11441.586281,18211.206897,24279.835391,Persons,ACT
5,Total_Injuries,2094.301417,2627.840909,4796.963074,7333.673643,12995.712755,19612.068966,26543.209877,Persons,ACT

In [304]:
ACT_falls_data_final.reset_index(inplace=True)

ACT_falls_data_final.drop(ACT_falls_data_final.columns[0], axis=1,inplace=True)

ACT_falls_data_final['State'] = 'ACT'

In [309]:
NT_falls_data_df1.drop(NT_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [311]:
NT_falls_data_df1

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–94,95+
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Transport accidents,568.586,473.56,346.741,n.p.,n.p.,n.p.,n.p.
2,Accidental drowning and submersion,n.p.,n.p.,0,0,0,n.p.,n.p.
3,Accidental poisoning,n.p.,n.p.,n.p.,n.p.,0,n.p.,n.p.
4,Falls,1374.08,2446.72,4785.02,7058.82,11111.1,n.p.,n.p.
5,"Exposure to smoke, fire, flames, hot substances",0,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
6,Exposure to inanimate mechanical forces,592.277,670.876,762.829,n.p.,n.p.,n.p.,n.p.
7,Exposure to animate mechanical forces,165.837,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
8,Intentional self-harm,n.p.,0,0,0,n.p.,n.p.,n.p.
9,Assault,165.837,276.243,n.p.,n.p.,n.p.,n.p.,n.p.
10,Other external causes of accidental injury,331.675,355.17,n.p.,1008.4,0,n.p.,n.p.
11,Undetermined intent,n.p.,n.p.,n.p.,n.p.,0,n.p.,n.p.
12,Other or missing,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
13,Total,3316.75,4459.35,7142.86,9915.97,13725.5,n.p.,n.p.
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Transport accidents,198.807,n.p.,n.p.,702.247,n.p.,n.p.,n.p.
16,Accidental drowning and submersion,n.p.,n.p.,0,0,0,n.p.,n.p.
17,Accidental poisoning,0,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
18,Falls,1959.67,2370.79,4268.77,8146.07,13299.2,n.p.,n.p.
19,"Exposure to smoke, fire, flames, hot substances",0,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
20,Exposure to inanimate mechanical forces,198.807,n.p.,395.257,n.p.,0,n.p.,n.p.
21,Exposure to animate mechanical forces,227.208,284.495,n.p.,n.p.,0,n.p.,n.p.
22,Intentional self-harm,n.p.,n.p.,n.p.,0,0,n.p.,n.p.
23,Assault,198.807,0,n.p.,n.p.,n.p.,n.p.,n.p.
24,Other external causes of accidental injury,227.208,284.495,n.p.,n.p.,n.p.,n.p.,n.p.
25,Undetermined intent,n.p.,0,n.p.,n.p.,n.p.,n.p.,n.p.
26,Other or missing,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
27,Total,3067.31,3461.36,5770.75,9831.46,15856.8,n.p.,n.p.
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Transport accidents,400.413,344.605,258.589,535.578,860.832,n.p.,n.p.
30,Accidental drowning and submersion,n.p.,n.p.,0,0,0,n.p.,n.p.
31,Accidental poisoning,n.p.,n.p.,184.706,n.p.,n.p.,n.p.,n.p.
32,Falls,1640.4,2412.23,4543.78,7651.11,12338.6,n.p.,n.p.
33,"Exposure to smoke, fire, flames, hot substances",0,n.p.,n.p.,0,n.p.,n.p.,n.p.
34,Exposure to inanimate mechanical forces,413.33,452.294,591.06,459.067,n.p.,n.p.,n.p.
35,Exposure to animate mechanical forces,193.748,150.765,295.53,n.p.,n.p.,n.p.,n.p.
36,Intentional self-harm,n.p.,n.p.,n.p.,0,n.p.,n.p.,n.p.
37,Assault,180.832,150.765,184.706,n.p.,0,n.p.,n.p.
38,Other external causes of accidental injury,284.164,323.067,258.589,688.6,n.p.,n.p.,n.p.
39,Undetermined intent,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.,n.p.
40,Other or missing,n.p.,n.p.,n.p.,0,n.p.,n.p.,n.p.
41,Total,3203.31,4006.03,6501.66,9869.93,14921.1,16450.2,16666.7
42,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1. Denominators for age‑specific rates are est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2. Persons totals include cases for which sex ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3. Counts based on patients state of usual res...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,4. Intentional self-harm rates have been suppr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"n.p. not publishable because of small numbers,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Data source: AIHW National Hospital Morbidity ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [312]:
NT_falls_data_df1_males = NT_falls_data_df1.iloc[4:5]
NT_falls_data_df1_males1 = NT_falls_data_df1.iloc[13:14]

In [313]:
NT_falls_data_df1_males_final = pd.concat([NT_falls_data_df1_males,NT_falls_data_df1_males1])

NT_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

NT_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

NT_falls_data_df1_males_final['Gender'] = 'Male'

In [314]:
NT_falls_data_df1_males_final.head()

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
4,Falls,1374.08,2446.72,4785.02,7058.82,11111.1,n.p.,n.p.,Male
13,Total_Injuries,3316.75,4459.35,7142.86,9915.97,13725.5,n.p.,n.p.,Male

In [315]:
NT_falls_data_df1_females = NT_falls_data_df1.iloc[18:19]

NT_falls_data_df1_females1 = NT_falls_data_df1.iloc[27:28]

NT_falls_data_df1_females_final = pd.concat([NT_falls_data_df1_females,NT_falls_data_df1_females1])

NT_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

NT_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

NT_falls_data_df1_females_final['Gender'] = 'Female'

In [316]:
NT_falls_data_df1_females_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
18,Falls,1959.67,2370.79,4268.77,8146.07,13299.2,n.p.,n.p.,Female
27,Total_Injuries,3067.31,3461.36,5770.75,9831.46,15856.8,n.p.,n.p.,Female

In [317]:
NT_falls_data_df1_persons = NT_falls_data_df1.iloc[32:33]

NT_falls_data_df1_persons1 = NT_falls_data_df1.iloc[41:42]

NT_falls_data_df1_persons_final = pd.concat([NT_falls_data_df1_persons,NT_falls_data_df1_persons1])

NT_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

NT_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

NT_falls_data_df1_persons_final['Gender'] = 'Persons'

In [318]:
NT_falls_data_df1_persons_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
32,Falls,1640.4,2412.23,4543.78,7651.11,12338.6,n.p.,n.p.,Persons
41,Total_Injuries,3203.31,4006.03,6501.66,9869.93,14921.1,16450.2,16666.7,Persons

In [319]:
NT_falls_data_final = pd.concat([NT_falls_data_df1_males_final,NT_falls_data_df1_persons_final,
                                 NT_falls_data_df1_persons_final])

In [320]:
NT_falls_data_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender
4,Falls,1374.08,2446.72,4785.02,7058.82,11111.1,n.p.,n.p.,Male
13,Total_Injuries,3316.75,4459.35,7142.86,9915.97,13725.5,n.p.,n.p.,Male
32,Falls,1640.4,2412.23,4543.78,7651.11,12338.6,n.p.,n.p.,Persons
41,Total_Injuries,3203.31,4006.03,6501.66,9869.93,14921.1,16450.2,16666.7,Persons
32,Falls,1640.4,2412.23,4543.78,7651.11,12338.6,n.p.,n.p.,Persons
41,Total_Injuries,3203.31,4006.03,6501.66,9869.93,14921.1,16450.2,16666.7,Persons

In [321]:
NT_falls_data_final.reset_index(inplace=True)

NT_falls_data_final.drop(NT_falls_data_final.columns[0], axis=1,inplace=True)

NT_falls_data_final['State'] = 'NT'

In [322]:
NT_falls_data_final['Longitude'] = 130.841782
NT_falls_data_final['Latitude'] = -12.462827
ACT_falls_data_final['Longitude'] = 149.012375
ACT_falls_data_final['Latitude'] = -35.473469
VIC_falls_data_final['Longitude'] = 144.964600
VIC_falls_data_final['Latitude'] = -37.020100
NSW_falls_data_final['Longitude'] = 145.612793
NSW_falls_data_final['Latitude'] = -31.840233
WA_falls_data_final['Longitude'] = 122.805176
WA_falls_data_final['Latitude'] = -25.760321
SA_falls_data_final['Longitude'] = 136.209152
SA_falls_data_final['Latitude'] = -30.000233
QLD_falls_data_final['Longitude'] = 142.702789
QLD_falls_data_final['Latitude'] = -20.917574
TAS_falls_data_final['Longitude'] = 146.315918
TAS_falls_data_final['Latitude'] = -41.640079

In [323]:
TAS_falls_data_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender,State,Longitude,Latitude
0,Falls,806.701831,924.585946,1209.964413,2484.939759,3922.214898,5798.394291,4471.544715,Male,TAS,146.315918,-41.640079
1,Total_Injuries,1644.430655,2001.929571,2052.194543,3237.951807,4878.048780,6601.248885,5284.552846,Male,TAS,146.315918,-41.640079
2,Falls,1113.477335,1430.255403,2245.250432,4181.929182,6290.575330,9387.395328,7462.686567,Female,TAS,146.315918,-41.640079
3,Total_Injuries,1734.104046,2058.939096,2892.918826,5204.517705,7365.122006,10048.479506,8457.711443,Female,TAS,146.315918,-41.640079
4,Falls,961.597542,1180.304415,1752.006330,3422.117330,5332.622317,8200.589971,6595.995289,Persons,TAS,146.315918,-41.640079
5,Total_Injuries,1689.708141,2030.759448,2492.370295,4324.005394,6359.152113,8908.554572,7538.280330,Persons,TAS,146.315918,-41.640079

In [328]:
AUS_falls_data_final = pd.concat([NT_falls_data_final,ACT_falls_data_final,NSW_falls_data_final,
                                 VIC_falls_data_final,SA_falls_data_final,WA_falls_data_final,
                                 QLD_falls_data_final,TAS_falls_data_final])

In [330]:
AUS_falls_data_final.reset_index(inplace=True)

In [334]:
AUS_falls_data_final

,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender,State,Longitude,Latitude
0,Falls,1374.08,2446.72,4785.02,7058.82,11111.1,n.p.,n.p.,Male,NT,130.841782,-12.462827
1,Total_Injuries,3316.75,4459.35,7142.86,9915.97,13725.5,n.p.,n.p.,Male,NT,130.841782,-12.462827
2,Falls,1640.4,2412.23,4543.78,7651.11,12338.6,n.p.,n.p.,Persons,NT,130.841782,-12.462827
3,Total_Injuries,3203.31,4006.03,6501.66,9869.93,14921.1,16450.2,16666.7,Persons,NT,130.841782,-12.462827
4,Falls,1640.4,2412.23,4543.78,7651.11,12338.6,n.p.,n.p.,Persons,NT,130.841782,-12.462827
5,Total_Injuries,3203.31,4006.03,6501.66,9869.93,14921.1,16450.2,16666.7,Persons,NT,130.841782,-12.462827
6,Falls,1136.23,1687.62,2585.14,4497.87,8062.42,16531.6,8666.67,Male,ACT,149.012375,-35.473469
7,Total_Injuries,2224.1,2564.53,4001.99,6203.96,9427.83,17990.3,11333.3,Male,ACT,149.012375,-35.473469
8,Falls,1203.36,1775.57,3623.61,5904.37,11441.6,18211.2,24279.8,Persons,ACT,149.012375,-35.473469
9,Total_Injuries,2094.3,2627.84,4796.96,7333.67,12995.7,19612.1,26543.2,Persons,ACT,149.012375,-35.473469
10,Falls,1203.36,1775.57,3623.61,5904.37,11441.6,18211.2,24279.8,Persons,ACT,149.012375,-35.473469
11,Total_Injuries,2094.3,2627.84,4796.96,7333.67,12995.7,19612.1,26543.2,Persons,ACT,149.012375,-35.473469
12,Falls,927.158,1425.14,2281.1,4303.35,7676.69,12715.3,16745,Male,NSW,145.612793,-31.840233
13,Total_Injuries,2085.18,2486.96,3369.35,5721.51,9306,14661.3,18623.9,Male,NSW,145.612793,-31.840233
14,Falls,1310.89,1953.23,3291.53,5812.31,10296.3,14326.8,17645.3,Female,NSW,145.612793,-31.840233
15,Total_Injuries,2038.36,2789.86,4289.15,7137.08,11883.8,16274.7,19496.7,Female,NSW,145.612793,-31.840233
16,Falls,1121.47,1693.96,2813.76,5139.56,9240.65,13785.3,17402,Persons,NSW,145.612793,-31.840233
17,Total_Injuries,2061.47,2641.15,3854.23,6505.96,10845,15732.6,19260.9,Persons,NSW,145.612793,-31.840233
18,Falls,801.143,1215.87,2003.22,3803.08,7199.21,10931.7,13134.1,Male,VIC,144.964600,-37.020100
19,Total_Injuries,1794.73,2216.22,3058.27,5055.81,8731.16,12415,14628.2,Male,VIC,144.964600,-37.020100
20,Falls,1384.17,1977.76,3434.97,5842.77,9737.66,12940.7,15076.4,Female,VIC,144.964600,-37.020100
21,Total_Injuries,2102.93,2800.27,4408.58,7044.6,11146,14620.1,16868.7,Female,VIC,144.964600,-37.020100
22,Falls,1100.92,1607.53,2762.02,4939.69,8713.27,12249,14542.3,Persons,VIC,144.964600,-37.020100
23,Total_Injuries,1953.2,2516.46,3773.91,6164.06,10171.5,13860.9,16252.6,Persons,VIC,144.964600,-37.020100
24,Falls,932.24,1373.59,2191.43,4455.7,8150.12,12181.4,14700.2,Male,SA,136.209152,-30.000233
25,Total_Injuries,1985.33,2386.44,3255.39,5630.07,9824.3,13873.2,16441,Male,SA,136.209152,-30.000233
26,Falls,1345.31,2019,3380.46,6067.19,10407.6,14615.2,16235.2,Female,SA,136.209152,-30.000233
27,Total_Injuries,2079.49,2852.94,4251.49,7458.07,11864.5,16257.9,18195.3,Female,SA,136.209152,-30.000233
28,Falls,1144.03,1707.93,2827.05,5349.64,9503.28,13805.3,15810.6,Persons,SA,136.209152,-30.000233
29,Total_Injuries,2033.61,2628.09,3787.88,6644.11,11047.2,15464.3,17710,Persons,SA,136.209152,-30.000233
30,Falls,662.544,1016.93,1616.63,3052.71,5588.64,n.p.,n.p.,Male,WA,122.805176,-25.760321
31,Total_Injuries,1773.58,2036.18,2660.91,4262.17,6926.25,n.p.,n.p.,Male,WA,122.805176,-25.760321
32,Falls,1022.7,1521.86,2701.97,4964.69,8202.95,n.p.,n.p.,Female,WA,122.805176,-25.760321
33,Total_Injuries,1714.62,2229.17,3571.32,5960.99,9443.37,n.p.,n.p.,Female,WA,122.805176,-25.760321
34,Falls,843.217,1271.31,2186.36,4117.32,7144.45,n.p.,n.p.,Persons,WA,122.805176,-25.760321
35,Total_Injuries,1744,2133.41,3138.81,5208.09,8424.22,12264.8,14639.2,Persons,WA,122.805176,-25.760321
36,Falls,1016.31,1516.24,2668.49,4824.76,8726,14395,16272,Male,QLD,142.702789,-20.917574
37,Total_Injuries,2238.22,2806.66,3982.65,6272.71,10413.7,16296,17581.9,Male,QLD,142.702789,-20.917574
38,Falls,1454.12,2194.53,3845.34,6925.94,11910.1,16407.1,21031.9,Female,QLD,142.702789,-20.917574
39,Total_Injuries,2232.68,3067.45,4959.54,8212.86,13464.6,18130,22528.6,Female,QLD,142.702789,-20.917574
40,Falls,1236.34,1857.31,3275.19,5971.85,10624.1,15725.1,19694.2,Persons,QLD,142.702789,-20.917574
41,Total_Injuries,2235.43,2937.8,4486.27,7331.89,12232.4,17508.3,21138.3,Persons,QLD,142.702789,-20.917574
42,Falls,806.702,924.586,1209.96,2484.94,3922.21,5798.39,4471.54,Male,TAS,146.315918,-41.640079
43,Total_Injuries,1644.43,2001.93,2052.19,3237.95,4878.05,6601.25,5284.55,Male,TAS,146.315918,-41.640079
44,Falls,1113.48,1430.26,2245.25,4181.93,6290.58,9387.4,7462.69,Female,TAS,146.315918,-41.640079
45,Total_Injuries,1734.1,2058.94,2892.92,5204.52,7365.12,10048.5,8457.71,Female,TAS,146.315918,-41.640079
46,Falls,961.598,1180.3,1752.01,3422.12,5332.62,8200.59,6596,Persons,TAS,146.315918,-41.640079
47,Total_Injuries,1689.71,2030.76,2492.37,4324.01,6359.15,8908.55,7538.28,Persons,TAS,146.315918,-41.640079

In [332]:
AUS_falls_data_final.drop(AUS_falls_data_final.columns[0], axis=1,inplace=True)

In [222]:
Falls_due_to_external_causes = pd.ExcelFile('Falls due to External causes.xlsx')

In [223]:
Falls_due_to_external_causes_df1 = Falls_due_to_external_causes.parse('Table 4.1', skiprows=2, index_col=None)

In [224]:
Falls_due_to_external_causes_df1

,Unnamed: 0,Cases,Age-standardised rate,Cases.1,Age-standardised rate.1,Cases.2,Age-standardised rate.2,Cases.3,Age-standardised rate.3
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002–03,4766.0,487.241230,2678.0,277.630636,56958.0,6027.576602,4413.0,460.457933
2,2003–04,5018.0,499.356249,3001.0,301.491285,60510.0,6217.847926,4761.0,481.711820
3,2004–05,5422.0,518.951783,3356.0,327.765661,62709.0,6211.376235,4954.0,485.463188
4,2005–06,5877.0,542.974205,3774.0,351.784652,66822.0,6372.630518,5192.0,487.883329
5,2006–07,5960.0,534.459916,4221.0,380.187349,71790.0,6575.989777,6071.0,548.078560
6,2007–08,6583.0,565.234300,4518.0,392.140458,74471.0,6559.875340,6190.0,540.303561
7,2008–09,6645.0,550.368409,4523.0,380.655818,78610.0,6686.510905,6843.0,574.139384
8,2009–10,7356.0,588.629770,5499.0,444.190203,83768.0,6834.627036,6690.0,541.197339
9,2010–11,8501.0,653.605779,6542.0,509.575774,92152.0,7220.874247,7469.0,580.735193
10,2011–12,8911.0,658.241082,6960.0,520.295611,96391.0,7232.639275,7484.0,558.703020
11,2012–13,9390.0,664.933104,7562.0,539.644392,98704.0,7079.313090,7558.0,538.683247
12,2013–14,10143.0,689.758566,8133.0,557.996526,103025.0,7081.416819,7758.0,531.113035
13,2014–15,11237.0,732.954457,8810.0,578.762235,111222.0,7296.440434,8312.0,545.019671
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2002–03,15197.0,1009.072944,7323.0,470.798693,29135.0,1897.460051,12043.0,774.537441
16,2003–04,15722.0,1023.821252,8437.0,530.161208,31685.0,2015.791531,12485.0,781.779573
17,2004–05,16046.0,1022.031913,8525.0,521.371514,32933.0,2040.651568,12742.0,776.119416
18,2005–06,16936.0,1050.227641,9410.0,557.029479,35341.0,2135.350666,13191.0,781.314184
19,2006–07,17304.0,1047.045967,10105.0,584.165536,39120.0,2298.633339,14500.0,833.837564
20,2007–08,17990.0,1062.165646,10619.0,597.832469,40690.0,2332.599275,14845.0,831.801884
21,2008–09,18702.0,1078.906909,11215.0,616.077185,42960.0,2396.425554,15856.0,864.416826
22,2009–10,19991.0,1123.932281,12944.0,689.751886,46526.0,2524.230903,15894.0,843.295435
23,2010–11,21699.0,1181.874702,14286.0,736.311030,51769.0,2718.848318,16930.0,869.276525
24,2011–12,22877.0,1215.886162,15154.0,759.141995,53673.0,2738.468083,17115.0,853.912665
25,2012–13,23385.0,1205.169535,15955.0,775.521898,55406.0,2752.634632,16769.0,810.856229
26,2013–14,24415.0,1225.028681,17319.0,820.165224,57687.0,2788.019094,16344.0,770.279032
27,2014–15,26379.0,1290.928324,18422.0,851.231857,61575.0,2896.458023,17221.0,785.419979
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2002–03,19963.0,792.117078,10001.0,395.616203,27823.0,1105.066885,16456.0,651.194234
30,2003–04,20740.0,803.237311,11438.0,440.811220,28825.0,1117.608076,17246.0,664.408217
31,2004–05,21469.0,808.890496,11881.0,443.691669,29776.0,1123.489161,17696.0,661.015738
32,2005–06,22813.0,834.371690,13184.0,477.008152,31481.0,1153.180539,18383.0,664.358037
33,2006–07,23264.0,824.841511,14327.0,501.491854,32670.0,1160.999925,20572.0,718.958054
34,2007–08,24573.0,846.935355,15137.0,514.488641,33781.0,1168.143021,21035.0,712.803098
35,2008–09,25347.0,849.993872,15738.0,519.125876,35650.0,1198.024208,22699.0,747.287071
36,2009–10,27347.0,889.304368,18443.0,588.539076,37242.0,1214.507906,22584.0,719.134244
37,2010–11,30200.0,948.290595,20828.0,641.387298,40383.0,1272.195486,24399.0,748.759286
38,2011–12,31788.0,967.325384,22114.0,657.951929,42718.0,1302.265456,24599.0,729.867187
39,2012–13,32775.0,963.735430,23517.0,676.983297,43298.0,1276.235091,24327.0,697.257156
40,2013–14,34558.0,984.324797,25452.0,708.535776,45338.0,1294.217613,24102.0,668.597803
41,2014–15,37616.0,1036.919986,27232.0,734.494093,49647.0,1371.398625,25533.0,682.597132
42,(a) Age-standardised to the 2001 Australian po...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
Falls_due_to_external_causes_df1.rename(columns={'Unnamed: 0':'Year','Cases':'Falls_from_slipping,tripping_and_stumbling_cases',
                                                'Age-standardised rate':'Falls_from_slipping,tripping_and_stumbling_rate',
                                                'Cases.1':'Other_fall_on_same_level_cases',
                                                'Age-standardised rate.1':'Other_fall_on_same_level_cases',
                                                'Cases.2':'All_other_causes_fall_cases',
                                                'Age-standardised rate.2':'All_other_causes_fall_rate',
                                                'Cases.3':'Unspecified_fall_cases',
                                                'Age-standardised rate.3':'Unspecified_fall_rate'}, inplace=True)

In [226]:
Falls_due_to_external_causes_df1_males = Falls_due_to_external_causes_df1.iloc[1:14]

In [227]:
Falls_due_to_external_causes_df1_males

,Year,"Falls_from_slipping,tripping_and_stumbling_cases","Falls_from_slipping,tripping_and_stumbling_rate",Other_fall_on_same_level_cases,Other_fall_on_same_level_cases,All_other_causes_fall_cases,All_other_causes_fall_rate,Unspecified_fall_cases,Unspecified_fall_rate
1,2002–03,4766.0,487.241230,2678.0,277.630636,56958.0,6027.576602,4413.0,460.457933
2,2003–04,5018.0,499.356249,3001.0,301.491285,60510.0,6217.847926,4761.0,481.711820
3,2004–05,5422.0,518.951783,3356.0,327.765661,62709.0,6211.376235,4954.0,485.463188
4,2005–06,5877.0,542.974205,3774.0,351.784652,66822.0,6372.630518,5192.0,487.883329
5,2006–07,5960.0,534.459916,4221.0,380.187349,71790.0,6575.989777,6071.0,548.078560
6,2007–08,6583.0,565.234300,4518.0,392.140458,74471.0,6559.875340,6190.0,540.303561
7,2008–09,6645.0,550.368409,4523.0,380.655818,78610.0,6686.510905,6843.0,574.139384
8,2009–10,7356.0,588.629770,5499.0,444.190203,83768.0,6834.627036,6690.0,541.197339
9,2010–11,8501.0,653.605779,6542.0,509.575774,92152.0,7220.874247,7469.0,580.735193
10,2011–12,8911.0,658.241082,6960.0,520.295611,96391.0,7232.639275,7484.0,558.703020
11,2012–13,9390.0,664.933104,7562.0,539.644392,98704.0,7079.313090,7558.0,538.683247
12,2013–14,10143.0,689.758566,8133.0,557.996526,103025.0,7081.416819,7758.0,531.113035
13,2014–15,11237.0,732.954457,8810.0,578.762235,111222.0,7296.440434,8312.0,545.019671

In [228]:
Falls_due_to_external_causes_df1_males['Gender'] = 'Male'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [229]:
Falls_due_to_external_causes_df1_females = Falls_due_to_external_causes_df1.iloc[15:28]

In [230]:
Falls_due_to_external_causes_df1_females

,Year,"Falls_from_slipping,tripping_and_stumbling_cases","Falls_from_slipping,tripping_and_stumbling_rate",Other_fall_on_same_level_cases,Other_fall_on_same_level_cases,All_other_causes_fall_cases,All_other_causes_fall_rate,Unspecified_fall_cases,Unspecified_fall_rate
15,2002–03,15197.0,1009.072944,7323.0,470.798693,29135.0,1897.460051,12043.0,774.537441
16,2003–04,15722.0,1023.821252,8437.0,530.161208,31685.0,2015.791531,12485.0,781.779573
17,2004–05,16046.0,1022.031913,8525.0,521.371514,32933.0,2040.651568,12742.0,776.119416
18,2005–06,16936.0,1050.227641,9410.0,557.029479,35341.0,2135.350666,13191.0,781.314184
19,2006–07,17304.0,1047.045967,10105.0,584.165536,39120.0,2298.633339,14500.0,833.837564
20,2007–08,17990.0,1062.165646,10619.0,597.832469,40690.0,2332.599275,14845.0,831.801884
21,2008–09,18702.0,1078.906909,11215.0,616.077185,42960.0,2396.425554,15856.0,864.416826
22,2009–10,19991.0,1123.932281,12944.0,689.751886,46526.0,2524.230903,15894.0,843.295435
23,2010–11,21699.0,1181.874702,14286.0,736.311030,51769.0,2718.848318,16930.0,869.276525
24,2011–12,22877.0,1215.886162,15154.0,759.141995,53673.0,2738.468083,17115.0,853.912665
25,2012–13,23385.0,1205.169535,15955.0,775.521898,55406.0,2752.634632,16769.0,810.856229
26,2013–14,24415.0,1225.028681,17319.0,820.165224,57687.0,2788.019094,16344.0,770.279032
27,2014–15,26379.0,1290.928324,18422.0,851.231857,61575.0,2896.458023,17221.0,785.419979

In [231]:
Falls_due_to_external_causes_df1_females['Gender'] = 'Female'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [232]:
Falls_due_to_external_causes_df1_persons = Falls_due_to_external_causes_df1.iloc[29:42]

In [233]:
Falls_due_to_external_causes_df1_persons

,Year,"Falls_from_slipping,tripping_and_stumbling_cases","Falls_from_slipping,tripping_and_stumbling_rate",Other_fall_on_same_level_cases,Other_fall_on_same_level_cases,All_other_causes_fall_cases,All_other_causes_fall_rate,Unspecified_fall_cases,Unspecified_fall_rate
29,2002–03,19963.0,792.117078,10001.0,395.616203,27823.0,1105.066885,16456.0,651.194234
30,2003–04,20740.0,803.237311,11438.0,440.811220,28825.0,1117.608076,17246.0,664.408217
31,2004–05,21469.0,808.890496,11881.0,443.691669,29776.0,1123.489161,17696.0,661.015738
32,2005–06,22813.0,834.371690,13184.0,477.008152,31481.0,1153.180539,18383.0,664.358037
33,2006–07,23264.0,824.841511,14327.0,501.491854,32670.0,1160.999925,20572.0,718.958054
34,2007–08,24573.0,846.935355,15137.0,514.488641,33781.0,1168.143021,21035.0,712.803098
35,2008–09,25347.0,849.993872,15738.0,519.125876,35650.0,1198.024208,22699.0,747.287071
36,2009–10,27347.0,889.304368,18443.0,588.539076,37242.0,1214.507906,22584.0,719.134244
37,2010–11,30200.0,948.290595,20828.0,641.387298,40383.0,1272.195486,24399.0,748.759286
38,2011–12,31788.0,967.325384,22114.0,657.951929,42718.0,1302.265456,24599.0,729.867187
39,2012–13,32775.0,963.735430,23517.0,676.983297,43298.0,1276.235091,24327.0,697.257156
40,2013–14,34558.0,984.324797,25452.0,708.535776,45338.0,1294.217613,24102.0,668.597803
41,2014–15,37616.0,1036.919986,27232.0,734.494093,49647.0,1371.398625,25533.0,682.597132

In [234]:
Falls_due_to_external_causes_df1_persons['Gender'] = 'Persons'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [235]:
Falls_due_to_external_causes_final = pd.concat([Falls_due_to_external_causes_df1_males,Falls_due_to_external_causes_df1_females,
                                               Falls_due_to_external_causes_df1_persons]).reset_index()

In [236]:
Falls_due_to_external_causes_final

,index,Year,"Falls_from_slipping,tripping_and_stumbling_cases","Falls_from_slipping,tripping_and_stumbling_rate",Other_fall_on_same_level_cases,Other_fall_on_same_level_cases,All_other_causes_fall_cases,All_other_causes_fall_rate,Unspecified_fall_cases,Unspecified_fall_rate,Gender
0,1,2002–03,4766.0,487.241230,2678.0,277.630636,56958.0,6027.576602,4413.0,460.457933,Male
1,2,2003–04,5018.0,499.356249,3001.0,301.491285,60510.0,6217.847926,4761.0,481.711820,Male
2,3,2004–05,5422.0,518.951783,3356.0,327.765661,62709.0,6211.376235,4954.0,485.463188,Male
3,4,2005–06,5877.0,542.974205,3774.0,351.784652,66822.0,6372.630518,5192.0,487.883329,Male
4,5,2006–07,5960.0,534.459916,4221.0,380.187349,71790.0,6575.989777,6071.0,548.078560,Male
5,6,2007–08,6583.0,565.234300,4518.0,392.140458,74471.0,6559.875340,6190.0,540.303561,Male
6,7,2008–09,6645.0,550.368409,4523.0,380.655818,78610.0,6686.510905,6843.0,574.139384,Male
7,8,2009–10,7356.0,588.629770,5499.0,444.190203,83768.0,6834.627036,6690.0,541.197339,Male
8,9,2010–11,8501.0,653.605779,6542.0,509.575774,92152.0,7220.874247,7469.0,580.735193,Male
9,10,2011–12,8911.0,658.241082,6960.0,520.295611,96391.0,7232.639275,7484.0,558.703020,Male
10,11,2012–13,9390.0,664.933104,7562.0,539.644392,98704.0,7079.313090,7558.0,538.683247,Male
11,12,2013–14,10143.0,689.758566,8133.0,557.996526,103025.0,7081.416819,7758.0,531.113035,Male
12,13,2014–15,11237.0,732.954457,8810.0,578.762235,111222.0,7296.440434,8312.0,545.019671,Male
13,15,2002–03,15197.0,1009.072944,7323.0,470.798693,29135.0,1897.460051,12043.0,774.537441,Female
14,16,2003–04,15722.0,1023.821252,8437.0,530.161208,31685.0,2015.791531,12485.0,781.779573,Female
15,17,2004–05,16046.0,1022.031913,8525.0,521.371514,32933.0,2040.651568,12742.0,776.119416,Female
16,18,2005–06,16936.0,1050.227641,9410.0,557.029479,35341.0,2135.350666,13191.0,781.314184,Female
17,19,2006–07,17304.0,1047.045967,10105.0,584.165536,39120.0,2298.633339,14500.0,833.837564,Female
18,20,2007–08,17990.0,1062.165646,10619.0,597.832469,40690.0,2332.599275,14845.0,831.801884,Female
19,21,2008–09,18702.0,1078.906909,11215.0,616.077185,42960.0,2396.425554,15856.0,864.416826,Female
20,22,2009–10,19991.0,1123.932281,12944.0,689.751886,46526.0,2524.230903,15894.0,843.295435,Female
21,23,2010–11,21699.0,1181.874702,14286.0,736.311030,51769.0,2718.848318,16930.0,869.276525,Female
22,24,2011–12,22877.0,1215.886162,15154.0,759.141995,53673.0,2738.468083,17115.0,853.912665,Female
23,25,2012–13,23385.0,1205.169535,15955.0,775.521898,55406.0,2752.634632,16769.0,810.856229,Female
24,26,2013–14,24415.0,1225.028681,17319.0,820.165224,57687.0,2788.019094,16344.0,770.279032,Female
25,27,2014–15,26379.0,1290.928324,18422.0,851.231857,61575.0,2896.458023,17221.0,785.419979,Female
26,29,2002–03,19963.0,792.117078,10001.0,395.616203,27823.0,1105.066885,16456.0,651.194234,Persons
27,30,2003–04,20740.0,803.237311,11438.0,440.811220,28825.0,1117.608076,17246.0,664.408217,Persons
28,31,2004–05,21469.0,808.890496,11881.0,443.691669,29776.0,1123.489161,17696.0,661.015738,Persons
29,32,2005–06,22813.0,834.371690,13184.0,477.008152,31481.0,1153.180539,18383.0,664.358037,Persons
30,33,2006–07,23264.0,824.841511,14327.0,501.491854,32670.0,1160.999925,20572.0,718.958054,Persons
31,34,2007–08,24573.0,846.935355,15137.0,514.488641,33781.0,1168.143021,21035.0,712.803098,Persons
32,35,2008–09,25347.0,849.993872,15738.0,519.125876,35650.0,1198.024208,22699.0,747.287071,Persons
33,36,2009–10,27347.0,889.304368,18443.0,588.539076,37242.0,1214.507906,22584.0,719.134244,Persons
34,37,2010–11,30200.0,948.290595,20828.0,641.387298,40383.0,1272.195486,24399.0,748.759286,Persons
35,38,2011–12,31788.0,967.325384,22114.0,657.951929,42718.0,1302.265456,24599.0,729.867187,Persons
36,39,2012–13,32775.0,963.735430,23517.0,676.983297,43298.0,1276.235091,24327.0,697.257156,Persons
37,40,2013–14,34558.0,984.324797,25452.0,708.535776,45338.0,1294.217613,24102.0,668.597803,Persons
38,41,2014–15,37616.0,1036.919986,27232.0,734.494093,49647.0,1371.398625,25533.0,682.597132,Persons

In [237]:
Falls_due_to_external_causes_final.drop(Falls_due_to_external_causes_final.columns[0], axis=1,inplace=True)

In [238]:
Type_of_injuries_by_falls = pd.ExcelFile('Type of injury due to falls.xlsx')

In [239]:
Type_of_injuries_by_falls_df1 = Type_of_injuries_by_falls.parse('Table 3.1', skiprows=2, index_col=None)

In [240]:
Type_of_injuries_by_falls_df1

,Unnamed: 0,Cases,Age-standardised rate,Cases.1,Age-standardised rate.1,Cases.2,Age-standardised rate.2,Cases.3,Age-standardised rate.3
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002–03,3173.0,318.787040,1522.0,154.961898,4986.0,115.764023,1215.0,517.294759
2,2003–04,3557.0,348.785288,1617.0,160.033575,5203.0,117.785081,1247.0,525.331796
3,2004–05,4025.0,379.176592,1848.0,176.872420,5403.0,123.638462,1360.0,524.946112
4,2005–06,4543.0,412.685065,1934.0,177.362334,5628.0,139.718852,1589.0,525.956091
5,2006–07,5194.0,456.705668,2129.0,189.584221,5907.0,139.337595,1618.0,530.349699
6,2007–08,5533.0,469.593821,2253.0,192.291746,6132.0,149.506615,1803.0,528.758575
7,2008–09,5940.0,486.996087,2410.0,199.500874,6241.0,145.761413,1823.0,520.091611
8,2009–10,6590.0,522.094669,2582.0,205.509491,6488.0,162.031092,2094.0,521.484847
9,2010–11,7562.0,578.036708,2793.0,213.396926,7181.0,175.971636,2356.0,554.519620
10,2011–12,8150.0,599.033119,3040.0,223.481085,7354.0,184.273373,2572.0,544.708086
11,2012–13,8652.0,609.320198,3171.0,223.141890,7316.0,182.711030,2655.0,518.292130
12,2013–14,9520.0,643.720950,3232.0,217.936239,7653.0,179.661282,2725.0,520.757171
13,2014–15,10882.0,706.174972,3640.0,236.055053,7904.0,199.702257,3159.0,515.300782
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2002–03,5150.0,335.935429,4529.0,294.166042,14445.0,291.796428,4245.0,933.873843
16,2003–04,5541.0,354.089084,4753.0,300.013820,15092.0,305.248793,4536.0,956.014256
17,2004–05,6189.0,387.819242,5054.0,312.725331,14774.0,293.667440,4432.0,915.616372
18,2005–06,7020.0,427.522179,5398.0,325.764309,15163.0,307.281834,4780.0,910.305192
19,2006–07,7749.0,458.705440,5835.0,343.252822,15858.0,316.790962,5034.0,924.300755
20,2007–08,8283.0,476.702690,6082.0,348.202500,16194.0,315.070289,5124.0,921.548662
21,2008–09,9075.0,507.733932,6395.0,355.396909,16736.0,318.524652,5317.0,927.459670
22,2009–10,9939.0,542.370833,6835.0,370.022769,17139.0,331.281907,5686.0,924.052739
23,2010–11,11346.0,602.222013,7448.0,389.857474,17904.0,356.207270,6263.0,935.157608
24,2011–12,12294.0,633.710032,7748.0,395.807961,18325.0,358.592295,6510.0,934.128617
25,2012–13,12813.0,638.950800,7881.0,389.408970,18111.0,353.305590,6635.0,899.282057
26,2013–14,13669.0,664.883194,8160.0,395.165816,18230.0,358.940356,6943.0,881.827770
27,2014–15,15448.0,731.336637,8218.0,388.317911,18993.0,384.470456,7647.0,892.562475
28,(a) Age-standardised to the 2001 Australian po...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [241]:
Type_of_injuries_by_falls_df1.rename(columns={'Unnamed: 0':'Year','Cases':'Head_injury_cases',
                                                'Age-standardised rate':'Head_injury_rate',
                                                'Cases.1':'Abdomen,lower_back,lumbar_spine_and_pelvis_cases',
                                                'Age-standardised rate.1':'Abdomen,lower_back,lumbar_spine_and_pelvis_rate',
                                                'Cases.2':'Hip_and_thigh_cases',
                                                'Age-standardised rate.2':'Hip_and_thigh_rate',
                                                'Cases.3':'Knee_and_lower_leg_cases',
                                                'Age-standardised rate.3':'Knee_and_lower_leg_rate'}, inplace=True)

In [242]:
Type_of_injuries_by_falls_df1_males = Type_of_injuries_by_falls_df1.iloc[1:14]

In [243]:
Type_of_injuries_by_falls_df1_males

,Year,Head_injury_cases,Head_injury_rate,"Abdomen,lower_back,lumbar_spine_and_pelvis_cases","Abdomen,lower_back,lumbar_spine_and_pelvis_rate",Hip_and_thigh_cases,Hip_and_thigh_rate,Knee_and_lower_leg_cases,Knee_and_lower_leg_rate
1,2002–03,3173.0,318.787040,1522.0,154.961898,4986.0,115.764023,1215.0,517.294759
2,2003–04,3557.0,348.785288,1617.0,160.033575,5203.0,117.785081,1247.0,525.331796
3,2004–05,4025.0,379.176592,1848.0,176.872420,5403.0,123.638462,1360.0,524.946112
4,2005–06,4543.0,412.685065,1934.0,177.362334,5628.0,139.718852,1589.0,525.956091
5,2006–07,5194.0,456.705668,2129.0,189.584221,5907.0,139.337595,1618.0,530.349699
6,2007–08,5533.0,469.593821,2253.0,192.291746,6132.0,149.506615,1803.0,528.758575
7,2008–09,5940.0,486.996087,2410.0,199.500874,6241.0,145.761413,1823.0,520.091611
8,2009–10,6590.0,522.094669,2582.0,205.509491,6488.0,162.031092,2094.0,521.484847
9,2010–11,7562.0,578.036708,2793.0,213.396926,7181.0,175.971636,2356.0,554.519620
10,2011–12,8150.0,599.033119,3040.0,223.481085,7354.0,184.273373,2572.0,544.708086
11,2012–13,8652.0,609.320198,3171.0,223.141890,7316.0,182.711030,2655.0,518.292130
12,2013–14,9520.0,643.720950,3232.0,217.936239,7653.0,179.661282,2725.0,520.757171
13,2014–15,10882.0,706.174972,3640.0,236.055053,7904.0,199.702257,3159.0,515.300782

In [244]:
Type_of_injuries_by_falls_df1_males['Gender'] = 'Male'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [245]:
Type_of_injuries_by_falls_df1_females = Type_of_injuries_by_falls_df1.iloc[15:28]

In [246]:
Type_of_injuries_by_falls_df1_females

,Year,Head_injury_cases,Head_injury_rate,"Abdomen,lower_back,lumbar_spine_and_pelvis_cases","Abdomen,lower_back,lumbar_spine_and_pelvis_rate",Hip_and_thigh_cases,Hip_and_thigh_rate,Knee_and_lower_leg_cases,Knee_and_lower_leg_rate
15,2002–03,5150.0,335.935429,4529.0,294.166042,14445.0,291.796428,4245.0,933.873843
16,2003–04,5541.0,354.089084,4753.0,300.013820,15092.0,305.248793,4536.0,956.014256
17,2004–05,6189.0,387.819242,5054.0,312.725331,14774.0,293.667440,4432.0,915.616372
18,2005–06,7020.0,427.522179,5398.0,325.764309,15163.0,307.281834,4780.0,910.305192
19,2006–07,7749.0,458.705440,5835.0,343.252822,15858.0,316.790962,5034.0,924.300755
20,2007–08,8283.0,476.702690,6082.0,348.202500,16194.0,315.070289,5124.0,921.548662
21,2008–09,9075.0,507.733932,6395.0,355.396909,16736.0,318.524652,5317.0,927.459670
22,2009–10,9939.0,542.370833,6835.0,370.022769,17139.0,331.281907,5686.0,924.052739
23,2010–11,11346.0,602.222013,7448.0,389.857474,17904.0,356.207270,6263.0,935.157608
24,2011–12,12294.0,633.710032,7748.0,395.807961,18325.0,358.592295,6510.0,934.128617
25,2012–13,12813.0,638.950800,7881.0,389.408970,18111.0,353.305590,6635.0,899.282057
26,2013–14,13669.0,664.883194,8160.0,395.165816,18230.0,358.940356,6943.0,881.827770
27,2014–15,15448.0,731.336637,8218.0,388.317911,18993.0,384.470456,7647.0,892.562475

In [247]:
Type_of_injuries_by_falls_df1_females['Gender'] = 'Female'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [248]:
Type_of_injuries_by_falls_final = pd.concat([Type_of_injuries_by_falls_df1_males,Type_of_injuries_by_falls_df1_females]).reset_index()

In [249]:
Type_of_injuries_by_falls_final

,index,Year,Head_injury_cases,Head_injury_rate,"Abdomen,lower_back,lumbar_spine_and_pelvis_cases","Abdomen,lower_back,lumbar_spine_and_pelvis_rate",Hip_and_thigh_cases,Hip_and_thigh_rate,Knee_and_lower_leg_cases,Knee_and_lower_leg_rate,Gender
0,1,2002–03,3173.0,318.787040,1522.0,154.961898,4986.0,115.764023,1215.0,517.294759,Male
1,2,2003–04,3557.0,348.785288,1617.0,160.033575,5203.0,117.785081,1247.0,525.331796,Male
2,3,2004–05,4025.0,379.176592,1848.0,176.872420,5403.0,123.638462,1360.0,524.946112,Male
3,4,2005–06,4543.0,412.685065,1934.0,177.362334,5628.0,139.718852,1589.0,525.956091,Male
4,5,2006–07,5194.0,456.705668,2129.0,189.584221,5907.0,139.337595,1618.0,530.349699,Male
5,6,2007–08,5533.0,469.593821,2253.0,192.291746,6132.0,149.506615,1803.0,528.758575,Male
6,7,2008–09,5940.0,486.996087,2410.0,199.500874,6241.0,145.761413,1823.0,520.091611,Male
7,8,2009–10,6590.0,522.094669,2582.0,205.509491,6488.0,162.031092,2094.0,521.484847,Male
8,9,2010–11,7562.0,578.036708,2793.0,213.396926,7181.0,175.971636,2356.0,554.519620,Male
9,10,2011–12,8150.0,599.033119,3040.0,223.481085,7354.0,184.273373,2572.0,544.708086,Male
10,11,2012–13,8652.0,609.320198,3171.0,223.141890,7316.0,182.711030,2655.0,518.292130,Male
11,12,2013–14,9520.0,643.720950,3232.0,217.936239,7653.0,179.661282,2725.0,520.757171,Male
12,13,2014–15,10882.0,706.174972,3640.0,236.055053,7904.0,199.702257,3159.0,515.300782,Male
13,15,2002–03,5150.0,335.935429,4529.0,294.166042,14445.0,291.796428,4245.0,933.873843,Female
14,16,2003–04,5541.0,354.089084,4753.0,300.013820,15092.0,305.248793,4536.0,956.014256,Female
15,17,2004–05,6189.0,387.819242,5054.0,312.725331,14774.0,293.667440,4432.0,915.616372,Female
16,18,2005–06,7020.0,427.522179,5398.0,325.764309,15163.0,307.281834,4780.0,910.305192,Female
17,19,2006–07,7749.0,458.705440,5835.0,343.252822,15858.0,316.790962,5034.0,924.300755,Female
18,20,2007–08,8283.0,476.702690,6082.0,348.202500,16194.0,315.070289,5124.0,921.548662,Female
19,21,2008–09,9075.0,507.733932,6395.0,355.396909,16736.0,318.524652,5317.0,927.459670,Female
20,22,2009–10,9939.0,542.370833,6835.0,370.022769,17139.0,331.281907,5686.0,924.052739,Female
21,23,2010–11,11346.0,602.222013,7448.0,389.857474,17904.0,356.207270,6263.0,935.157608,Female
22,24,2011–12,12294.0,633.710032,7748.0,395.807961,18325.0,358.592295,6510.0,934.128617,Female
23,25,2012–13,12813.0,638.950800,7881.0,389.408970,18111.0,353.305590,6635.0,899.282057,Female
24,26,2013–14,13669.0,664.883194,8160.0,395.165816,18230.0,358.940356,6943.0,881.827770,Female
25,27,2014–15,15448.0,731.336637,8218.0,388.317911,18993.0,384.470456,7647.0,892.562475,Female

In [250]:
Type_of_injuries_by_falls_final.drop(Type_of_injuries_by_falls_final.columns[0], axis=1,inplace=True)

In [251]:
Type_of_injuries_by_falls_df2 = Type_of_injuries_by_falls.parse('Table 3.2', skiprows=1, index_col=None)

In [252]:
Type_of_injuries_by_falls_df2

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–95,95+,Total
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002–03,379.0,480.0,661.0,728.0,595.0,264.0,66.0,3173.0
2,2003–04,413.0,544.0,727.0,792.0,649.0,347.0,85.0,3557.0
3,2004–05,497.0,583.0,848.0,940.0,715.0,342.0,100.0,4025.0
4,2005–06,538.0,707.0,887.0,1064.0,839.0,406.0,102.0,4543.0
5,2006–07,654.0,669.0,1007.0,1203.0,1011.0,527.0,123.0,5194.0
6,2007–08,632.0,749.0,1007.0,1331.0,1138.0,537.0,139.0,5533.0
7,2008–09,695.0,820.0,1101.0,1358.0,1185.0,631.0,150.0,5940.0
8,2009–10,777.0,835.0,1153.0,1552.0,1418.0,691.0,164.0,6590.0
9,2010–11,854.0,917.0,1198.0,1805.0,1695.0,868.0,225.0,7562.0
10,2011–12,819.0,1027.0,1309.0,1888.0,1868.0,961.0,278.0,8150.0
11,2012–13,881.0,1119.0,1425.0,1911.0,1989.0,1096.0,231.0,8652.0
12,2013–14,975.0,1216.0,1576.0,2077.0,2163.0,1201.0,312.0,9520.0
13,2014–15,1163.0,1359.0,1852.0,2280.0,2488.0,1393.0,347.0,10882.0
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2002–03,289.0,471.0,912.0,1207.0,1284.0,713.0,274.0,5150.0
16,2003–04,304.0,520.0,878.0,1365.0,1335.0,855.0,284.0,5541.0
17,2004–05,386.0,579.0,1021.0,1482.0,1466.0,937.0,318.0,6189.0
18,2005–06,435.0,619.0,1097.0,1676.0,1703.0,1112.0,378.0,7020.0
19,2006–07,423.0,673.0,1162.0,1911.0,1918.0,1231.0,431.0,7749.0
20,2007–08,464.0,714.0,1254.0,1917.0,2057.0,1385.0,492.0,8283.0
21,2008–09,475.0,771.0,1340.0,2053.0,2386.0,1496.0,554.0,9075.0
22,2009–10,548.0,844.0,1335.0,2359.0,2661.0,1578.0,614.0,9939.0
23,2010–11,642.0,973.0,1567.0,2589.0,2921.0,1915.0,739.0,11346.0
24,2011–12,653.0,1102.0,1607.0,2812.0,3213.0,2134.0,773.0,12294.0
25,2012–13,732.0,1041.0,1739.0,2717.0,3460.0,2327.0,797.0,12813.0
26,2013–14,846.0,1187.0,1809.0,2858.0,3581.0,2502.0,886.0,13669.0
27,2014–15,1016.0,1368.0,2109.0,3062.0,3946.0,2949.0,998.0,15448.0
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2002–03,668.0,951.0,1573.0,1935.0,1879.0,977.0,340.0,8323.0
30,2003–04,717.0,1064.0,1605.0,2157.0,1984.0,1202.0,369.0,9098.0
31,2004–05,883.0,1162.0,1869.0,2422.0,2181.0,1279.0,418.0,10214.0
32,2005–06,973.0,1326.0,1984.0,2740.0,2542.0,1518.0,480.0,11563.0
33,2006–07,1077.0,1342.0,2169.0,3114.0,2929.0,1758.0,554.0,12943.0
34,2007–08,1096.0,1463.0,2261.0,3248.0,3195.0,1922.0,631.0,13816.0
35,2008–09,1170.0,1591.0,2441.0,3411.0,3571.0,2127.0,704.0,15015.0
36,2009–10,1325.0,1679.0,2488.0,3911.0,4079.0,2269.0,778.0,16529.0
37,2010–11,1496.0,1890.0,2765.0,4394.0,4616.0,2783.0,964.0,18908.0
38,2011–12,1472.0,2129.0,2916.0,4700.0,5081.0,3095.0,1051.0,20444.0
39,2012–13,1613.0,2160.0,3164.0,4628.0,5449.0,3423.0,1028.0,21465.0
40,2013–14,1821.0,2403.0,3385.0,4935.0,5744.0,3703.0,1198.0,23189.0
41,2014–15,2179.0,2727.0,3961.0,5342.0,6434.0,4342.0,1345.0,26330.0
42,Note: See 'Data issues' tab for notes on data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [253]:
Type_of_injuries_by_falls_df2.rename(columns={'Unnamed: 0':'Year'},inplace=True)

In [254]:
Type_of_injuries_by_falls_df2_males = Type_of_injuries_by_falls_df2.iloc[1:14]

In [255]:
Type_of_injuries_by_falls_df2_males

       Year   65–69   70–74   75–79   80–84   85–89   90–95    95+    Total
1   2002–03   379.0   480.0   661.0   728.0   595.0   264.0   66.0   3173.0
2   2003–04   413.0   544.0   727.0   792.0   649.0   347.0   85.0   3557.0
3   2004–05   497.0   583.0   848.0   940.0   715.0   342.0  100.0   4025.0
4   2005–06   538.0   707.0   887.0  1064.0   839.0   406.0  102.0   4543.0
5   2006–07   654.0   669.0  1007.0  1203.0  1011.0   527.0  123.0   5194.0
6   2007–08   632.0   749.0  1007.0  1331.0  1138.0   537.0  139.0   5533.0
7   2008–09   695.0   820.0  1101.0  1358.0  1185.0   631.0  150.0   5940.0
8   2009–10   777.0   835.0  1153.0  1552.0  1418.0   691.0  164.0   6590.0
9   2010–11   854.0   917.0  1198.0  1805.0  1695.0   868.0  225.0   7562.0
10  2011–12   819.0  1027.0  1309.0  1888.0  1868.0   961.0  278.0   8150.0
11  2012–13   881.0  1119.0  1425.0  1911.0  1989.0  1096.0  231.0   8652.0
12  2013–14   975.0  1216.0  1576.0  2077.0  2163.0  1201.0  312.0   9520.0
13  2014–15  1163.0  1359.0  1852.0  2280.0  2488.0  1393.0  347.0  10882.0

In [256]:
Type_of_injuries_by_falls_df2_males['Gender'] = 'Male'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [257]:
Type_of_injuries_by_falls_df2_females = Type_of_injuries_by_falls_df2.iloc[15:28]

In [258]:
Type_of_injuries_by_falls_df2_females

       Year   65–69   70–74   75–79   80–84   85–89   90–95    95+    Total
15  2002–03   289.0   471.0   912.0  1207.0  1284.0   713.0  274.0   5150.0
16  2003–04   304.0   520.0   878.0  1365.0  1335.0   855.0  284.0   5541.0
17  2004–05   386.0   579.0  1021.0  1482.0  1466.0   937.0  318.0   6189.0
18  2005–06   435.0   619.0  1097.0  1676.0  1703.0  1112.0  378.0   7020.0
19  2006–07   423.0   673.0  1162.0  1911.0  1918.0  1231.0  431.0   7749.0
20  2007–08   464.0   714.0  1254.0  1917.0  2057.0  1385.0  492.0   8283.0
21  2008–09   475.0   771.0  1340.0  2053.0  2386.0  1496.0  554.0   9075.0
22  2009–10   548.0   844.0  1335.0  2359.0  2661.0  1578.0  614.0   9939.0
23  2010–11   642.0   973.0  1567.0  2589.0  2921.0  1915.0  739.0  11346.0
24  2011–12   653.0  1102.0  1607.0  2812.0  3213.0  2134.0  773.0  12294.0
25  2012–13   732.0  1041.0  1739.0  2717.0  3460.0  2327.0  797.0  12813.0
26  2013–14   846.0  1187.0  1809.0  2858.0  3581.0  2502.0  886.0  13669.0
27  2014–15  1016.0  1368.0  2109.0  3062.0  3946.0  2949.0  998.0  15448.0

In [259]:
Type_of_injuries_by_falls_df2_females['Gender'] = 'Female'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [260]:
Type_of_injuries_by_falls_df2_persons = Type_of_injuries_by_falls_df2.iloc[29:42]

In [261]:
Type_of_injuries_by_falls_df2_persons

       Year   65–69   70–74   75–79   80–84   85–89   90–95     95+    Total
29  2002–03   668.0   951.0  1573.0  1935.0  1879.0   977.0   340.0   8323.0
30  2003–04   717.0  1064.0  1605.0  2157.0  1984.0  1202.0   369.0   9098.0
31  2004–05   883.0  1162.0  1869.0  2422.0  2181.0  1279.0   418.0  10214.0
32  2005–06   973.0  1326.0  1984.0  2740.0  2542.0  1518.0   480.0  11563.0
33  2006–07  1077.0  1342.0  2169.0  3114.0  2929.0  1758.0   554.0  12943.0
34  2007–08  1096.0  1463.0  2261.0  3248.0  3195.0  1922.0   631.0  13816.0
35  2008–09  1170.0  1591.0  2441.0  3411.0  3571.0  2127.0   704.0  15015.0
36  2009–10  1325.0  1679.0  2488.0  3911.0  4079.0  2269.0   778.0  16529.0
37  2010–11  1496.0  1890.0  2765.0  4394.0  4616.0  2783.0   964.0  18908.0
38  2011–12  1472.0  2129.0  2916.0  4700.0  5081.0  3095.0  1051.0  20444.0
39  2012–13  1613.0  2160.0  3164.0  4628.0  5449.0  3423.0  1028.0  21465.0
40  2013–14  1821.0  2403.0  3385.0  4935.0  5744.0  3703.0  1198.0  23189.0
41  2014–15  2179.0  2727.0  3961.0  5342.0  6434.0  4342.0  1345.0  26330.0

In [262]:
Type_of_injuries_by_falls_df2_persons['Gender'] = 'Persons'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [263]:
head_injury_agewise_final = pd.concat([Type_of_injuries_by_falls_df2_males,Type_of_injuries_by_falls_df2_females,
                                      Type_of_injuries_by_falls_df2_persons]).reset_index()

In [264]:
head_injury_agewise_final.drop(head_injury_agewise_final.columns[0],axis=1,inplace=True)

In [265]:
head_injury_agewise_final

,Year,65–69,70–74,75–79,80–84,85–89,90–95,95+,Total,Gender
0,2002–03,379.0,480.0,661.0,728.0,595.0,264.0,66.0,3173.0,Male
1,2003–04,413.0,544.0,727.0,792.0,649.0,347.0,85.0,3557.0,Male
2,2004–05,497.0,583.0,848.0,940.0,715.0,342.0,100.0,4025.0,Male
3,2005–06,538.0,707.0,887.0,1064.0,839.0,406.0,102.0,4543.0,Male
4,2006–07,654.0,669.0,1007.0,1203.0,1011.0,527.0,123.0,5194.0,Male
5,2007–08,632.0,749.0,1007.0,1331.0,1138.0,537.0,139.0,5533.0,Male
6,2008–09,695.0,820.0,1101.0,1358.0,1185.0,631.0,150.0,5940.0,Male
7,2009–10,777.0,835.0,1153.0,1552.0,1418.0,691.0,164.0,6590.0,Male
8,2010–11,854.0,917.0,1198.0,1805.0,1695.0,868.0,225.0,7562.0,Male
9,2011–12,819.0,1027.0,1309.0,1888.0,1868.0,961.0,278.0,8150.0,Male
10,2012–13,881.0,1119.0,1425.0,1911.0,1989.0,1096.0,231.0,8652.0,Male
11,2013–14,975.0,1216.0,1576.0,2077.0,2163.0,1201.0,312.0,9520.0,Male
12,2014–15,1163.0,1359.0,1852.0,2280.0,2488.0,1393.0,347.0,10882.0,Male
13,2002–03,289.0,471.0,912.0,1207.0,1284.0,713.0,274.0,5150.0,Female
14,2003–04,304.0,520.0,878.0,1365.0,1335.0,855.0,284.0,5541.0,Female
15,2004–05,386.0,579.0,1021.0,1482.0,1466.0,937.0,318.0,6189.0,Female
16,2005–06,435.0,619.0,1097.0,1676.0,1703.0,1112.0,378.0,7020.0,Female
17,2006–07,423.0,673.0,1162.0,1911.0,1918.0,1231.0,431.0,7749.0,Female
18,2007–08,464.0,714.0,1254.0,1917.0,2057.0,1385.0,492.0,8283.0,Female
19,2008–09,475.0,771.0,1340.0,2053.0,2386.0,1496.0,554.0,9075.0,Female
20,2009–10,548.0,844.0,1335.0,2359.0,2661.0,1578.0,614.0,9939.0,Female
21,2010–11,642.0,973.0,1567.0,2589.0,2921.0,1915.0,739.0,11346.0,Female
22,2011–12,653.0,1102.0,1607.0,2812.0,3213.0,2134.0,773.0,12294.0,Female
23,2012–13,732.0,1041.0,1739.0,2717.0,3460.0,2327.0,797.0,12813.0,Female
24,2013–14,846.0,1187.0,1809.0,2858.0,3581.0,2502.0,886.0,13669.0,Female
25,2014–15,1016.0,1368.0,2109.0,3062.0,3946.0,2949.0,998.0,15448.0,Female
26,2002–03,668.0,951.0,1573.0,1935.0,1879.0,977.0,340.0,8323.0,Persons
27,2003–04,717.0,1064.0,1605.0,2157.0,1984.0,1202.0,369.0,9098.0,Persons
28,2004–05,883.0,1162.0,1869.0,2422.0,2181.0,1279.0,418.0,10214.0,Persons
29,2005–06,973.0,1326.0,1984.0,2740.0,2542.0,1518.0,480.0,11563.0,Persons
30,2006–07,1077.0,1342.0,2169.0,3114.0,2929.0,1758.0,554.0,12943.0,Persons
31,2007–08,1096.0,1463.0,2261.0,3248.0,3195.0,1922.0,631.0,13816.0,Persons
32,2008–09,1170.0,1591.0,2441.0,3411.0,3571.0,2127.0,704.0,15015.0,Persons
33,2009–10,1325.0,1679.0,2488.0,3911.0,4079.0,2269.0,778.0,16529.0,Persons
34,2010–11,1496.0,1890.0,2765.0,4394.0,4616.0,2783.0,964.0,18908.0,Persons
35,2011–12,1472.0,2129.0,2916.0,4700.0,5081.0,3095.0,1051.0,20444.0,Persons
36,2012–13,1613.0,2160.0,3164.0,4628.0,5449.0,3423.0,1028.0,21465.0,Persons
37,2013–14,1821.0,2403.0,3385.0,4935.0,5744.0,3703.0,1198.0,23189.0,Persons
38,2014–15,2179.0,2727.0,3961.0,5342.0,6434.0,4342.0,1345.0,26330.0,Persons

In [266]:
hip_fracture_cases_df1 = Type_of_injuries_by_falls.parse('Table 3.6', skiprows=1, index_col=None)

In [267]:
hip_fracture_cases_df1

,Unnamed: 0,65–69,70–74,75–79,80–84,85–89,90–95,95+,Total
0,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002–03,240.0,424.0,729.0,953.0,881.0,460.0,138.0,3825.0
2,2003–04,235.0,394.0,776.0,1055.0,959.0,480.0,123.0,4022.0
3,2004–05,250.0,427.0,736.0,1105.0,930.0,504.0,158.0,4110.0
4,2005–06,267.0,410.0,789.0,1123.0,1009.0,566.0,146.0,4310.0
5,2006–07,249.0,412.0,754.0,1225.0,1049.0,592.0,185.0,4466.0
6,2007–08,281.0,427.0,807.0,1124.0,1085.0,652.0,163.0,4539.0
7,2008–09,268.0,423.0,775.0,1168.0,1137.0,586.0,170.0,4527.0
8,2009–10,290.0,430.0,699.0,1219.0,1232.0,639.0,208.0,4717.0
9,2010–11,315.0,533.0,747.0,1267.0,1379.0,777.0,214.0,5232.0
10,2011–12,374.0,498.0,822.0,1207.0,1397.0,831.0,220.0,5349.0
11,2012–13,379.0,535.0,765.0,1250.0,1344.0,792.0,209.0,5274.0
12,2013–14,383.0,549.0,828.0,1182.0,1445.0,946.0,207.0,5540.0
13,2014–15,398.0,538.0,816.0,1232.0,1476.0,863.0,261.0,5584.0
14,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2002–03,435.0,822.0,1926.0,2889.0,2984.0,1756.0,544.0,11356.0
16,2003–04,462.0,894.0,1939.0,2989.0,3082.0,1905.0,590.0,11861.0
17,2004–05,460.0,799.0,1808.0,3205.0,2844.0,1896.0,635.0,11647.0
18,2005–06,452.0,818.0,1704.0,2989.0,3008.0,2065.0,694.0,11730.0
19,2006–07,483.0,780.0,1739.0,2974.0,3271.0,2104.0,691.0,12042.0
20,2007–08,514.0,868.0,1805.0,2922.0,3393.0,2164.0,690.0,12356.0
21,2008–09,497.0,863.0,1690.0,2971.0,3513.0,2166.0,776.0,12476.0
22,2009–10,532.0,899.0,1725.0,3017.0,3752.0,2214.0,810.0,12949.0
23,2010–11,553.0,965.0,1668.0,3034.0,3839.0,2426.0,930.0,13415.0
24,2011–12,559.0,973.0,1701.0,3101.0,3842.0,2517.0,946.0,13639.0
25,2012–13,669.0,995.0,1677.0,3029.0,3815.0,2486.0,863.0,13534.0
26,2013–14,655.0,971.0,1690.0,2883.0,3656.0,2618.0,900.0,13373.0
27,2014–15,773.0,1083.0,1789.0,2864.0,3767.0,2802.0,958.0,14036.0
28,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2002–03,675.0,1246.0,2655.0,3842.0,3865.0,2216.0,682.0,15181.0
30,2003–04,697.0,1288.0,2715.0,4044.0,4041.0,2385.0,713.0,15883.0
31,2004–05,710.0,1226.0,2544.0,4310.0,3774.0,2401.0,793.0,15758.0
32,2005–06,719.0,1228.0,2493.0,4112.0,4017.0,2631.0,840.0,16040.0
33,2006–07,732.0,1192.0,2493.0,4199.0,4320.0,2696.0,876.0,16508.0
34,2007–08,795.0,1295.0,2612.0,4046.0,4478.0,2816.0,853.0,16895.0
35,2008–09,765.0,1286.0,2465.0,4139.0,4650.0,2752.0,946.0,17003.0
36,2009–10,822.0,1329.0,2424.0,4236.0,4984.0,2853.0,1018.0,17666.0
37,2010–11,868.0,1498.0,2415.0,4301.0,5218.0,3203.0,1144.0,18647.0
38,2011–12,933.0,1471.0,2523.0,4308.0,5239.0,3348.0,1166.0,18988.0
39,2012–13,1048.0,1530.0,2442.0,4279.0,5159.0,3278.0,1072.0,18808.0
40,2013–14,1038.0,1520.0,2518.0,4065.0,5101.0,3564.0,1107.0,18913.0
41,2014–15,1171.0,1621.0,2605.0,4096.0,5243.0,3665.0,1219.0,19620.0
42,Note: See 'Data issues' tab for notes on data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [268]:
hip_fracture_cases_df1.rename(columns={'Unnamed: 0':'Year'},inplace=True)

In [269]:
hip_fracture_cases_df1_males = hip_fracture_cases_df1.iloc[1:14]

In [270]:
hip_fracture_cases_df1_males

       Year  65–69  70–74  75–79   80–84   85–89  90–95    95+   Total
1   2002–03  240.0  424.0  729.0   953.0   881.0  460.0  138.0  3825.0
2   2003–04  235.0  394.0  776.0  1055.0   959.0  480.0  123.0  4022.0
3   2004–05  250.0  427.0  736.0  1105.0   930.0  504.0  158.0  4110.0
4   2005–06  267.0  410.0  789.0  1123.0  1009.0  566.0  146.0  4310.0
5   2006–07  249.0  412.0  754.0  1225.0  1049.0  592.0  185.0  4466.0
6   2007–08  281.0  427.0  807.0  1124.0  1085.0  652.0  163.0  4539.0
7   2008–09  268.0  423.0  775.0  1168.0  1137.0  586.0  170.0  4527.0
8   2009–10  290.0  430.0  699.0  1219.0  1232.0  639.0  208.0  4717.0
9   2010–11  315.0  533.0  747.0  1267.0  1379.0  777.0  214.0  5232.0
10  2011–12  374.0  498.0  822.0  1207.0  1397.0  831.0  220.0  5349.0
11  2012–13  379.0  535.0  765.0  1250.0  1344.0  792.0  209.0  5274.0
12  2013–14  383.0  549.0  828.0  1182.0  1445.0  946.0  207.0  5540.0
13  2014–15  398.0  538.0  816.0  1232.0  1476.0  863.0  261.0  5584.0

In [271]:
hip_fracture_cases_df1_males['Gender'] = 'Male'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [272]:
hip_fracture_cases_df1_females = hip_fracture_cases_df1.iloc[15:28]

In [273]:
hip_fracture_cases_df1_females

       Year  65–69   70–74   75–79   80–84   85–89   90–95    95+    Total
15  2002–03  435.0   822.0  1926.0  2889.0  2984.0  1756.0  544.0  11356.0
16  2003–04  462.0   894.0  1939.0  2989.0  3082.0  1905.0  590.0  11861.0
17  2004–05  460.0   799.0  1808.0  3205.0  2844.0  1896.0  635.0  11647.0
18  2005–06  452.0   818.0  1704.0  2989.0  3008.0  2065.0  694.0  11730.0
19  2006–07  483.0   780.0  1739.0  2974.0  3271.0  2104.0  691.0  12042.0
20  2007–08  514.0   868.0  1805.0  2922.0  3393.0  2164.0  690.0  12356.0
21  2008–09  497.0   863.0  1690.0  2971.0  3513.0  2166.0  776.0  12476.0
22  2009–10  532.0   899.0  1725.0  3017.0  3752.0  2214.0  810.0  12949.0
23  2010–11  553.0   965.0  1668.0  3034.0  3839.0  2426.0  930.0  13415.0
24  2011–12  559.0   973.0  1701.0  3101.0  3842.0  2517.0  946.0  13639.0
25  2012–13  669.0   995.0  1677.0  3029.0  3815.0  2486.0  863.0  13534.0
26  2013–14  655.0   971.0  1690.0  2883.0  3656.0  2618.0  900.0  13373.0
27  2014–15  773.0  1083.0  1789.0  2864.0  3767.0  2802.0  958.0  14036.0

In [274]:
hip_fracture_cases_df1_females['Gender'] = 'Female'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [275]:
hip_fracture_cases_df1_person = hip_fracture_cases_df1.iloc[29:42]

In [276]:
hip_fracture_cases_df1_person

       Year   65–69   70–74   75–79   80–84   85–89   90–95     95+    Total
29  2002–03   675.0  1246.0  2655.0  3842.0  3865.0  2216.0   682.0  15181.0
30  2003–04   697.0  1288.0  2715.0  4044.0  4041.0  2385.0   713.0  15883.0
31  2004–05   710.0  1226.0  2544.0  4310.0  3774.0  2401.0   793.0  15758.0
32  2005–06   719.0  1228.0  2493.0  4112.0  4017.0  2631.0   840.0  16040.0
33  2006–07   732.0  1192.0  2493.0  4199.0  4320.0  2696.0   876.0  16508.0
34  2007–08   795.0  1295.0  2612.0  4046.0  4478.0  2816.0   853.0  16895.0
35  2008–09   765.0  1286.0  2465.0  4139.0  4650.0  2752.0   946.0  17003.0
36  2009–10   822.0  1329.0  2424.0  4236.0  4984.0  2853.0  1018.0  17666.0
37  2010–11   868.0  1498.0  2415.0  4301.0  5218.0  3203.0  1144.0  18647.0
38  2011–12   933.0  1471.0  2523.0  4308.0  5239.0  3348.0  1166.0  18988.0
39  2012–13  1048.0  1530.0  2442.0  4279.0  5159.0  3278.0  1072.0  18808.0
40  2013–14  1038.0  1520.0  2518.0  4065.0  5101.0  3564.0  1107.0  18913.0
41  2014–15  1171.0  1621.0  2605.0  4096.0  5243.0  3665.0  1219.0  19620.0

In [277]:
hip_fracture_cases_df1_person['Gender'] = 'Persons'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [278]:
hip_fracture_cases_final = pd.concat([hip_fracture_cases_df1_person,hip_fracture_cases_df1_females,
                                     hip_fracture_cases_df1_males]).reset_index()

In [279]:
hip_fracture_cases_final.head()

,index,Year,65–69,70–74,75–79,80–84,85–89,90–95,95+,Total,Gender
0,29,2002–03,675.0,1246.0,2655.0,3842.0,3865.0,2216.0,682.0,15181.0,Persons
1,30,2003–04,697.0,1288.0,2715.0,4044.0,4041.0,2385.0,713.0,15883.0,Persons
2,31,2004–05,710.0,1226.0,2544.0,4310.0,3774.0,2401.0,793.0,15758.0,Persons
3,32,2005–06,719.0,1228.0,2493.0,4112.0,4017.0,2631.0,840.0,16040.0,Persons
4,33,2006–07,732.0,1192.0,2493.0,4199.0,4320.0,2696.0,876.0,16508.0,Persons

In [280]:
hip_fracture_cases_final.drop(hip_fracture_cases_final.columns[0],axis=1,inplace=True)

In [281]:
falls_injury_by_age_sex_final.to_csv('falls_injury_by_age_sex_final.csv')

In [282]:
falls_injury_by_residence_final.to_csv('falls_injury_by_residence_final.csv')

In [283]:
falls_injury_by_indegenous_df1.to_csv('falls_injury_by_indegenous_df1.csv')

In [284]:
head_falls_injury_final.to_csv('head_falls_injury_final.csv')

In [285]:
NSW_falls_data_final.to_csv('NSW_falls_data_final.csv')

In [286]:
VIC_falls_data_final.to_csv('VIC_falls_data_final.csv')

In [287]:
TAS_falls_data_final.to_csv('TAS_falls_data_final.csv')

In [288]:
QLD_falls_data_final.to_csv('QLD_falls_data_final.csv')

In [289]:
WA_falls_data_final.to_csv('WA_falls_data_final.csv')

In [290]:
SA_falls_data_final.to_csv('SA_falls_data_final.csv')

In [291]:
Falls_due_to_external_causes_final.to_csv('Falls_due_to_external_causes_final.csv')

In [292]:
Type_of_injuries_by_falls_final.to_csv('Type_of_injuries_by_falls_final.csv')

In [293]:
head_injury_agewise_final.to_csv('head_injury_agewise_final.csv')

In [294]:
hip_fracture_cases_final.to_csv('hip_fracture_cases_final.csv')

In [335]:
AUS_falls_data_final.to_csv('AUS_falls_data_final.csv')